<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="conexionString" value="Server=SQL5063.site4now.net;Database=DB_A57E86_comercializadora;User Id=DB_A57E86_comercializadora_admin;Password=Abcde12345;"/>-->
    <add key="conexionString" value="Server=SQL5063.site4now.net;Database=DB_A57E86_lluviadesarrollo;User Id=DB_A57E86_lluviadesarrollo_admin;Password=Abcde12345;" />
    <add key="cadenaOriginalXslt" value="http://www.sat.gob.mx/sitio_internet/cfd/3/cadenaoriginal_3_3/cadenaoriginal_3_3.xslt" />
    <add key="claveGeneraSello" value="CMVerde2016" />
    <add key="claveGeneraSellolluvia" value="COVO781128LJ1" />
    <add key="pathFacturas" value="/Facturas/" />
    <add key="pathPdfCodigos" value="/Codigos/" />
    <add key="impresora" value="EPSON" />
    <add key="pathPdfTickets" value="/Tickets/" />
    <add key="configurado" value="1" />
    <!--<add key="urlDominio" value="http://admin.comercializadoralluvia.com"/>-->
    <add key="urlDominio" value="http://localhost:8080/" />
    <add key="pathLog" value="C:\LogLluvia" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="web-app-version" value="0.0.6" />
    <add key="abrir-cajon" value="1B703014" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>