<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="conexionString" value="Server=SQL5063.site4now.net;Database=DB_A57E86_comercializadora;User Id=DB_A57E86_comercializadora_admin;Password=Abcde12345;" />-->
    <add key="conexionString" value="Server=SQL5063.site4now.net;Database=DB_A57E86_lluviadesarrollo;User Id=DB_A57E86_lluviadesarrollo_admin;Password=Abcde12345;" />
    <!--<add key="cadenaOriginalXslt" value="http://www.sat.gob.mx/sitio_internet/cfd/3/cadenaoriginal_3_3/cadenaoriginal_3_3.xslt" />-->
    <add key="cadenaOriginalXslt" value="http://www.sat.gob.mx/sitio_internet/cfd/4/cadenaoriginal_4_0/cadenaoriginal_4_0.xslt" />
    <add key="claveGeneraSello" value="CMVerde2016" />
    <add key="claveGeneraSellolluvia" value="GACL7905178F2" />
    <add key="pathFacturas" value="/Facturas/" />
    <add key="pathPdfCodigos" value="/Codigos/" />
    <!--<add key="impresora" value="Microsoft Print to PDF"/>-->
    <add key="impresora" value="EPSON" />
    <add key="pathPdfTickets" value="/Tickets/" />
    <add key="configurado" value="1" />
    <!--<add key="urlDominio" value="http://admin.comercializadoralluvia.com/" />-->
    <!--<add key="urlDominio" value="http://desarrolloadmin.comercializadoralluvia.com/" />-->
    <add key="urlDominio" value="http://localhost:8280/" />

    <add key="pathLog" value="C:\LogLluvia" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="web-app-version" value="0.0.10 | Facturaciòn" />
    <add key="abrir-cajon" value="1B703014" />
    <add key="correoProveedor" value="comercializadoralluviadev@gmail.com" />
    <add key="contrasenaProveedor" value="lluvia2021$" />
    <add key="FacturarPro" value="0" />
    <!--SI LA BANDERA ES 1 FACTURA EN PRODUCTIVVO SI ES 0  FACTURA EN PRUEBAS-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="timbrarCFDIBinding">
          <security mode="Transport" />
        </binding>
        <binding name="timbrarCFDIBinding1" />
        <binding name="timbrarCFDIBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="timbrarCFDIBinding3" />
        <binding name="timbrarCFDIBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="timbrarCFDIBinding5" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.edifactmx-pac.com:443/serviceCFDI/timbraCFDI.php"
        binding="basicHttpBinding" bindingConfiguration="timbrarCFDIBinding"
        contract="servicioTimbradoProductivo.timbrarCFDIPortType" name="timbrarCFDIPort" />
      <endpoint address="https://comprobantes-fiscales.com:443/service/timbraCFDI.php"
        binding="basicHttpBinding" bindingConfiguration="timbrarCFDIBinding2"
        contract="servicioTimbrarPruebas.timbrarCFDIPortType" name="timbrarCFDIPort1" />
      <endpoint address="https://comprobantes-fiscales.com:443/serviceCFDI4/timbraCFDI.php"
        binding="basicHttpBinding" bindingConfiguration="timbrarCFDIBinding4"
        contract="wsPruevas40.timbrarCFDIPortType" name="timbrarCFDIPort2" />
    </client>
  </system.serviceModel>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>