@*@model lluviaBackEnd.Models.Producto*@
@{
    string titulo = ViewBag.titulo;
    string mensaje = ViewBag.mensaje;
}


    <div class="card">
        <div class="card-header">
            <h4>@titulo</h4>
        </div>
        <div class="card-body">
            <div class="empty-state" data-height="400" style="height: 400px;">
                <div class="empty-state-icon">
                    <i class="fas fa-info"></i>
                </div>
                <h2>@mensaje</h2>
                @*<p class="lead">
                    Sorry we can't find any data, to get rid of this message, make at least 1 entry.
                </p>*@
                
                @*<a href="@Url.Action("Productos", "Productos")" class="btn btn-primary mt-4">Ok</a>*@
                @*<a href="javascript:PintarTabla();" class="btn btn-primary mt-4">Ok</a>*@
               
            </div>
        </div>
    </div>
