@using lluviaBackEnd.Models
@{
    ViewBag.Title = "NivelServicioProveedor";
}

@model Proveedor

@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
}


<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Nivel de Servicio Proveedores</h4>
            </div>
            <div class="card-body">
                @using (Ajax.BeginForm("ObtenerNivelServicioProveedor", "Reportes",
                  new AjaxOptions
                  {
                      HttpMethod = "Post",
                      OnBegin = "onBeginSubmitNivelServicioProveedor",
                      OnFailure = "onFailureResultNivelServicioProveedor",
                      OnSuccess = "onSuccessResultNivelServicioProveedor",
                  },
                  new { id = "frmBuscarNivelServicioProveedor" }))
                {
                    @Html.HiddenFor(x => x.fechaInicio, new { @id = "fechaIni" })
                    @Html.HiddenFor(x => x.fechaFin, new { @id = "fechaFin" })

                    <div class="row">                      

                        <div class="form-group col-lg-4">
                            <label>Rango de fechas:</label>
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-calendar"></i>
                                    </div>
                                </div>
                                <input type="text" id="rangeNivelServicioProveedor" class="form-control daterange-cus" autocomplete="off">
                            </div>
                        </div>


                        <div class="text-left col-lg-4" style="margin-top:30px;">
                            <button type="submit" id="btnNivelServicioProveedor" class="btn btn-success">Buscar</button>
                        </div>

                    </div>
                }
                <hr style="margin-top:0" />
                <div id="ViewNivelServicioProveedor">
                    @*@Html.Action("ObtenerNivelServicioProveedor","Reportes");*@
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/js/evtReporteNivelServicioProveedor.js"></script>
}

