--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_INDICADOR_DROPSIZE]    Script Date: 22/07/2021 22:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Jessica Almonte Acosta
UsuarioRed		aoaj720209
Fecha			2020/06/29
Objetivo		Calcular el indicador dropsize
*/

ALTER proc [dbo].[SP_INDICADOR_DROPSIZE]
@idTipoDropSize int, --1 global,2 por linea,3 por producto
@fechaIni datetime=null,
@fechaFin datetime=null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit),
						 @difDias int

			end  --declaraciones 

			begin -- principal 			


				SELECT p.idProducto,p.descripcion producto,lp.idLineaProducto,lp.descripcion lineaProducto,
				sum(d.monto) totalVentas,
				count(distinct v.idVenta) + coalesce(sum(c.cantidad),0) totalClientes,
				sum(d.cantidad) totalProductos,
				cast(0 as float) dropSizeVentas,--total de ventas / total de clientes,
				cast(0 as float) dropSizeCantidad, --total de productos vendidos/total de clientes
				p.codigoBarras
				INTO #DROPSIZE
				FROM Ventas v
				join VentasDetalle d on v.idVenta=d.idVenta
				join Productos p on d.idProducto=p.idProducto
				join LineaProducto lp on p.idLineaProducto=lp.idLineaProducto
				left join ClientesAtendidosRuta c on v.idVenta=c.idVenta
				where idStatusVenta=1 
				and cast(v.fechaAlta as date)>=cast(coalesce(@fechaIni,v.fechaAlta) as date) and cast(v.fechaAlta as date)<=cast(coalesce(@fechaFin,v.fechaAlta) as date)
				group by p.idProducto,p.descripcion,lp.idLineaProducto,lp.descripcion,p.codigoBarras

				if not exists(select 1 from #DROPSIZE)
				begin
				select	@valido = cast(0 as bit),
						@status = -1,
						@mensaje = 'No se encontraron ventas para calcular el indicador dropsize, con esos términos de búsqueda.'
				end

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

		--reporte de estatus
			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje
							

		-- si todo ok
			if ( @valido = 1 )
				begin

				if(@idTipoDropSize=1) --global
				select 1 id,'Global' descripcion,
				Sum(totalVentas) TotalVentas,
				sum(totalClientes) TotalClientes,
				SUM(totalProductos) TotalProductos,
				ROUND(cast((SUM(totalVentas)/sum(totalClientes)) as float),2) dropSizeVentas,
				ROUND(cast((SUM(totalProductos)/sum(totalClientes)) as float),2) dropSizeCantidad
				from #DROPSIZE
				

				if(@idTipoDropSize=2)--por linea
				select idLineaProducto id,lineaProducto descripcion,
				Sum(totalVentas) TotalVentas,
				sum(totalClientes) TotalClientes,
				SUM(totalProductos) TotalProductos,
				ROUND(cast((SUM(totalVentas)/sum(totalClientes)) as float),2) dropSizeVentas,
				ROUND(cast((SUM(totalProductos)/sum(totalClientes)) as float),2) dropSizeCantidad
				from #DROPSIZE
				group by idLineaProducto,lineaProducto
		

				if(@idTipoDropSize=3)--por producto
				select idProducto id,producto descripcion,
				totalVentas TotalVentas,
				totalClientes TotalClientes,
				totalProductos TotalProductos,
				ROUND(cast((totalVentas/totalClientes) as float),2) dropSizeVentas,
				ROUND(cast((totalVentas/totalProductos) as float),2) dropSizeCantidad,
				codigoBarras
				from #DROPSIZE				

				drop table #DROPSIZE

			    end
				
		end -- reporte de estatus

	end  -- principal
