USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_VALIDA_CONTRASENA]    Script Date: 07/07/2021 10:58:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/14
Objetivo		Valida contraseña encriptada de tabla de usuarios
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_VALIDA_CONTRASENA]

	@usuario		varchar(200),
	@contrasena		varchar(40),
	@macAdress		varchar(100) = null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status							int = 200,
						@mensaje						varchar(255) = 'Usuario validado correctamente.',
						@error_line						varchar(255) = '',
						@error_procedure				varchar(255) = '',
						@idEstacion						int = 1,
						@devoluciones					int = 0,
						@agregarProductos				int = 0,
						@comisionBancaria				money = 0.0,
						@diasParaHacerComplementos		int = 0
						

			end  --declaraciones 

			begin -- principal

				if not exists ( select contrasena from usuarios where usuario = @usuario and contrasena = @contrasena and activo = 1 ) 
				begin
					select @mensaje = 'La contraseña es incorrecta.'
					raiserror (@mensaje, 11, -1)
				end

				if ( @idEstacion is not null )
					begin
						select @idEstacion = idEstacion from Estaciones where macAdress = @macAdress
					end

				-- se agrega la cantidad de veces que puede hacer una devolucion o agregar prodcutos a la venta
				select @devoluciones = cantidad from modificacionesPermitidasVenta where id = 1 --Devoluciones a la Venta
				select @agregarProductos = cantidad from modificacionesPermitidasVenta where id = 2 --Agregar Productos a la Venta
								
				-- para ver hasta cuantos dias pueden hacerse los complementos y devoluciones
				select	@diasParaHacerComplementos = valor 
				from	ConfiguracionesVentas 
				where	activo = cast(1 as bit) 
					and id_config = 1 -- Dias para poder hacer complementos/devoluciones
					
				-- se obtiene la cantidad de comision bancaria para cuando se paga con tarjeta de debito/crédito
				select @comisionBancaria = porcentaje from Comisiones where idComision = 1 and activo = cast(1 as bit)

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			if @status = 200
				begin
					select	@status status,
							@error_procedure error_procedure,
							@error_line error_line,
							@mensaje mensaje

					select	idUsuario,
							u.idRol,
							usuario,
							telefono,
							contrasena,
							a.idAlmacen,
							a.Descripcion Almacen,
							s.idSucursal,
							S.descripcion Sucursal,
							nombre,
							apellidoPaterno,
							apellidoMaterno,
							@idEstacion as idEstacion,
							@devoluciones as devolucionesPermitidas,
							@agregarProductos as agregarProductosPermitidos,
							cast(1 as bit) as usuarioValido,
							r.descripcion Rol,
							@comisionBancaria as comisionBancaria,
							@diasParaHacerComplementos as diasParaHacerComplementos
							
					from	usuarios u
					join CatRoles r on u.idRol=r.idRol
					join Almacenes a on a.idAlmacen = u.idAlmacen and a.idSucursal = u.idSucursal
					join CatSucursales S on S.idSucursal = u.idSucursal and S.idSucursal = a.idSucursal
					
					
					where	usuario = @usuario 
						and contrasena = @contrasena

					--Obtenemos los modulos a los que tiene acceso 
					select P.* , M.descripcion from usuarios U join PermisosRolPorModulo P  on U.idRol = P.idRol
					join CatRoles r on u.idRol=r.idRol
					join CatModulos M on P.idModulo = M.idModulo
					where	usuario = @usuario 
						and contrasena = @contrasena
				end
			else
				begin
					select	@status status,
							@error_procedure error_procedure,
							@error_line error_line,
							@mensaje mensaje
				end	

		end -- reporte de estatus

	end  -- principal
