
@*Modal Ingreso de Efectivo *@
<div class="modal fade bd-example-modal-lg" id="ModalIngresoEfectivo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="headerModalIngresoEfectivo">
                <h5 class="modal-title">Ingreso de Efectivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-4">
                        <input id="idTipoIngresoEfectivo" name="idTipoIngresoEfectivo" type="hidden">
                        <div class="form-group">
                            @*<label>Monto</label>*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input id="montoIngresoEfectivo" name="montoIngresoEfectivo" type="text" class="form-control" onkeypress="return esDecimal(this, event);" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="text-right" style="margin-top:15px;">
                            <button class="btn btn-success" type="submit" id="GuardarIngresoEfectivo">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@*Modal Cierre de Caja por Exceso de Efectivo *@
<div class="modal fade bd-example-modal-lg" id="ModalRetiroExcesoEfectivo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalExistencias">Retiro por exceso de efectivo:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#itemRetirarEfectivo" role="tab"
                                   aria-controls="home" aria-selected="true">Retirar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#itemRetiros" role="tab"
                                   aria-controls="profile" aria-selected="false">Retiros del dìa</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="itemRetirarEfectivo" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">

                                    <div class="col-12 col-sm-12 col-lg-6">
                                        <div class="form-group">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="py-4">
                                                        <div id="AperturaCaja">
                                                            <p class="clearfix">
                                                                <span class="float-left">Apertura de Caja:</span>
                                                                <span class="float-right text-muted">0</span>
                                                            </p>
                                                        </div>
                                                        <div id="IngresosEfectivo">
                                                            <p class="clearfix">
                                                                <span class="float-left">Ingresos de Efectivo:</span>
                                                                <span class="float-right text-muted">0</span>
                                                            </p>
                                                        </div>
                                                        <div id="pedidosEspecialesDelDia">
                                                            <p class="clearfix">
                                                                <span class="float-left">Pedidos especiales del día:</span>
                                                                <span class="float-right text-muted">0</span>
                                                            </p>
                                                        </div>

                                                        <div id="montoPedidosEspecialesDelDia">
                                                            <p class="clearfix">
                                                                <span class="float-left">Monto de pedidos especiales del dìa:</span>
                                                                <span class="float-right text-muted">0</span>
                                                            </p>
                                                        </div>

                                                        <div id="cantidadEfectivo">
                                                            <p class="clearfix">
                                                                <span class="float-left">Cantidad en Efectivo:</span>
                                                                <span class="float-right text-muted">0</span>
                                                            </p>
                                                        </div>

                                                        <div id="cantidadRetirada">
                                                            <p class="clearfix">
                                                                <span class="float-left">Cantidad Retirada del día:</span>
                                                                <span class="float-right text-muted">0</span>
                                                            </p>
                                                        </div>
                                                    </div>




                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-lg-6">
                                        <div class="form-group">
                                            <label>Cantidad a Retirar:</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <input id="montoARetirar" type="text" class="form-control" onkeypress="return esDecimal(this, event);">
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" id="btnRetirarExcesoEfectivo" type="button">Retirar Dinero</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="itemRetiros" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">

                                    <div class="col-12 col-sm-12 col-lg-12" id="divRetirosDia">
                                       
                                    </div>

                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

