@using System.Globalization;
@{
    ViewBag.Title = "ConsultarCuentasPorCobrar";
    List<SelectListItem> listClientes = (List<SelectListItem>)ViewBag.listClientes;
    List<lluviaBackEnd.Models.FormaPago> lstFormasPago = ViewBag.lstFormasPago;
    List<lluviaBackEnd.Models.UsoCFDI> lstUsoCFDI = ViewBag.lstUsoCFDI;
    float comisionBancaria = ViewBag.comisionBancaria;
}

@model lluviaBackEnd.Models.Filtro

@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />
}
@*<!DOCTYPE html>*@


<h2>Consultar cuentas por cobrar</h2>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Buscar</h4>
                <div class="card-header-action">
                    <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                </div>
            </div>
            <div class="collapse show" id="mycard-collapse">
                <div class="card-body">
                    @using (Ajax.BeginForm("BuscarCuentasPorCobrar", "PedidosEspecialesV2",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnBegin = "onBeginSubmitCuentasPorCobrar",
                        OnFailure = "onFailureCuentasPorCobrar",
                        OnSuccess = "onSuccessCuentasPorCobrar",
                    },
                    new { id = "frmBuscarCuentasPorCobrar" }))
                    {

                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    @Html.DropDownListFor(x => x.idCliente, listClientes, "TODOS", new { @class = "select-multiple", id = "idCliente", data_val = "false" })
                                </div>
                            </div>
                       </div>

                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="btnLimpiarForm" class="btn btn-danger btn-icon icon-left">Limpiar</button>
                            <button type="submit" id="btnBuscarCuentasPorCobrar" class="btn btn-success">Buscar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body" id="resultCuentasPorCobrar">

                </div>

            </div>

        </div>

    </div>


</div>

<div class="modal fade bd-example-modal-xl" id="modalDetalleCuentasPorCobrar" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Realizar abono del cliente:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#itemRealizarAbono" role="tab"
                                   aria-controls="home" aria-selected="true">Realizar abono</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#itemDetalleCtasCobrar" role="tab"
                                   aria-controls="profile" aria-selected="false">Detalle cuentas por cobrar</a>
                            </li>
                           
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="itemRealizarAbono" role="tabpanel" aria-labelledby="home-tab">
                                <input type="hidden" id="idCliente" />
                                @Html.HiddenFor(x => comisionBancaria)


                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-7">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="datosCliente">
                                                    <address>
                                                        <strong>Datos del Cliente:</strong><br>
                                                        Nombre: <span id="NombreCliente">Jessica Almonte</span><br>
                                                        Telefono: <span id="TelefonoCliente">4431155160</span><br>
                                                        E-mail: <span id="mailCliente">yessyalmonte@gmail.com</span><br>
                                                        RFC:  <span id="rfcCliente">AOAJ921103LF1</span><br>
                                                        Tipo de Cliente: <span id="tipoCliente">General</span><br>
                                                    </address>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="section-title"><strong>Forma de Pago: </strong></div>
                                        <div class="form-group">
                                            @Html.DropDownList("idFactFormaPago", new SelectList(lstFormasPago, "id", "descripcion"), new { id = "formaPago", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                                        </div>

                                        <div class="pretty p-svg p-curve">
                                            <input id="chkFacturar" type="checkbox">
                                            <div class="state p-success">
                                                <!-- svg path -->
                                                <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                </svg>
                                                <label>Facturar este abono.</label>
                                            </div>
                                        </div>

                                        <br>
                                        <br>

                                        <div id="divUsoCFDI">
                                            <div class="section-title"><strong>Uso del CFDI: </strong></div>
                                            <div class="form-group">
                                                @Html.DropDownList("idFactUsoCFDI", new SelectList(lstUsoCFDI, "id", "descripcion"), new { id = "usoCFDI", style = "width:100%", @class = "select-multiple", placeholder = "", data_val_required = "Seleccione una forma de pago", data_val = "true" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 text-right">
                                        <div class="invoice-detail-item">
                                            <div class="invoice-detail-name"><strong>Total adeudo:</strong></div>
                                            <div class="invoice-detail-value" id="totalAdeudo"><h4>$15</h4></div>
                                        </div>
                                        <div class="form-group">

                                            <div class="section-title"><strong>Cantidad a abonar:</strong></div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                </div>
                                                <div class="col-lg-6">

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">$</span>
                                                        </div>
                                                        <input id="montoAbonar" type="text" class="form-control" onkeypress="return esDecimal(this, event);">

                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                        <div class="invoice-detail-item text-right">
                                            <div class="invoice-detail-name"><strong>Comisiones</strong></div>
                                            <div class="invoice-detail-value" id="previoComisionBancaria"><h4>$15</h4></div>
                                        </div>                                      
                                        <div class="invoice-detail-item">
                                            <div class="invoice-detail-name"><strong>I.V.A.</strong></div>
                                            <div class="invoice-detail-value" id="previoIVA"><h4>$15</h4></div>
                                        </div>
                                        <hr class="mt-2 mb-2">
                                        <div class="invoice-detail-item">
                                            <div class="invoice-detail-name"><strong>Total</strong></div>
                                            <div class="invoice-detail-value invoice-detail-value-lg" id="previoFinal"><h4>$15</h4></div>
                                        </div>
                                        <br />
                                        <div class="invoice-detail-item">
                                            <div class="invoice-detail-name"><strong>Cambio</strong></div>
                                            <div class="invoice-detail-value invoice-detail-value-lg" id="cambio" style="color: #ff4d4d"><h4>$0.0</h4></div>
                                        </div>

                                        @*<hr class="mt-2 mb-2">*@
                                        <br />
                                        <div id="dvEfectivo">
                                            <div class="section-title"><strong>Efectivo: </strong></div>
                                            <span class="float-right text-muted">
                                                <input id="efectivo" type="text" class="form-control" onkeypress="return esDecimal(this, event);">
                                            </span>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-12">
                                        <div class="text-right" style="margin-top:15px;">
                                            <button type="button" id="cancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-success" id="btnAbonar" type="button">Abonar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="itemDetalleCtasCobrar" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">

                                    <div class="col-12 col-sm-12 col-lg-7" id="detalleCuentasPorCobrar">

                                    </div>
                                </div>
                            </div>
                    </div>               
                    </div>
                    </div>
            
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/EvtConsultaCuentasPorCobrar.js"></script>
}




