USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CALCULA_INVENTARIO_PROMEDIO_PRODUCTO]    Script Date: 31/08/2021 0:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Jessica Almonte Acosta
UsuarioRed		aoaj720209
Fecha			2020/06/15
Objetivo		
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CALCULA_INVENTARIO_PROMEDIO_PRODUCTO]

	@fecha date,
	@idProducto	int=null
	

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(0 as bit)

			end  --declaraciones 

			begin -- principal
				
					IF EXISTS(select 1 from InventarioPromedioProducto where CAST(fecha as date)=cast(@fecha as date) and idProducto=coalesce(@idProducto,idProducto))
					DELETE InventarioPromedioProducto where CAST(fecha as date)=cast(@fecha as date) and idProducto=coalesce(@idProducto,idProducto)

					select ultMov.idProducto,ultMov.idAlmacen,SUM(cantidadActual) cantidad
					INTO #INVENTARIO_FINAL
					from InventarioDetalleLog l
					join(
					select d.idProducto,u.idAlmacen,u.idUbicacion,MAX(idInventarioDetalleLOG) idInventarioDetalleLOG
					from 
					InventarioDetalleLog d
					join Ubicacion u on d.idUbicacion=u.idUbicacion
					where d.idProducto=coalesce(@idProducto,d.idProducto) and CAST(fechaAlta as date)<=CAST(@fecha as date)
					group by d.idProducto,u.idUbicacion,u.idAlmacen) ultMov on l.idInventarioDetalleLOG=ultMov.idInventarioDetalleLOG
					group by ultMov.idProducto,ultMov.idAlmacen

					
					INSERT INTO InventarioPromedioProducto(idProducto,fecha,inventarioInicial,Compras,Ventas,inventarioFinal,costoCompra)
					SELECT pd.idProducto,@fecha,coalesce(invIni.cantidadActual,0) inventarioInicial,coalesce(Compras,0),coalesce(totalVentas,0),coalesce(invFinal.cantidadActual,0) inventarioFinal,
					--pd.ultimoCostoCompra
					DBO.obtenerPrecioCompra(pd.idProducto,@fecha)
					FROM Productos pd
					left join
					(select ultMov.idProducto,cantidadActual,CAST(@fecha as date) fecha 
					from InventarioDetalleLog l
					join(
					select d.idProducto,MAX(idInventarioDetalleLOG) idInventarioDetalleLOG
					from 
					InventarioDetalleLog d
					where d.idProducto=coalesce(@idProducto,d.idProducto) and CAST(fechaAlta as date)<CAST(@fecha as date)
					group by d.idProducto) ultMov on l.idInventarioDetalleLOG=ultMov.idInventarioDetalleLOG) invIni on pd.idProducto=invIni.idProducto
					left join(
					select idProducto,sum(vd.cantidad) totalVentas 
					from Ventas v
					join VentasDetalle vd on v.idVenta=vd.idVenta
					where v.idStatusVenta=1 and CAST(fechaAlta as date)=CAST(@fecha as date) and idProducto=coalesce(@idProducto,idProducto)
					group by idProducto) totalVentas on pd.idProducto=totalVentas.idProducto
					left join
					(select idProducto,sum(cantidad) Compras from InventarioDetalleLog 
					where idProducto=coalesce(@idProducto,idProducto) and CAST(fechaAlta as date)=CAST(@fecha as date) and idTipoMovInventario in (2,4)
					group by idProducto) totalCompras on pd.idProducto=totalCompras.idProducto
					/*left join (select ultMov.idProducto,cantidadActual,CAST(@fecha as date) fecha 
					from InventarioDetalleLog l
					join(
					select d.idProducto,MAX(idInventarioDetalleLOG) idInventarioDetalleLOG
					from 
					InventarioDetalleLog d
					where d.idProducto=coalesce(@idProducto,d.idProducto) and CAST(fechaAlta as date)<=CAST(@fecha as date)
					group by d.idProducto) ultMov on l.idInventarioDetalleLOG=ultMov.idInventarioDetalleLOG) invFinal on pd.idProducto=invFinal.idProducto*/
					left join (select idProducto,sum(cantidad) cantidadActual from #INVENTARIO_FINAL group by idProducto) invFinal on pd.idProducto=invFinal.idProducto
					where activo=1 and pd.idProducto=coalesce(@idProducto,pd.idProducto)

					--Calculamos el inventario Maximo
					UPDATE i set inventarioMaximo=(coalesce(inventarioInicial,0)+coalesce(Compras,0)) 
					FROM InventarioPromedioProducto i

					--Calculamos el Inventario Promedio
					UPDATE i set inventarioPromedio=case when (coalesce(inventarioMaximo,0)+coalesce(inventarioFinal,0)) =0 then 0 else cast((coalesce(inventarioMaximo,0))+(coalesce(inventarioFinal,0)) as float)/2  end
					FROM InventarioPromedioProducto i

					

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus


			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje

				
		end -- reporte de estatus

	end  -- principal
