USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDA_PEDIDO_ESPECIAL_V2]    Script Date: 20/09/2021 02:42:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- se crea procedimiento SP_GUARDA_PEDIDO_ESPECIAL_V2
if exists (select * from sysobjects where name like 'SP_GUARDA_PEDIDO_ESPECIAL_V2' and xtype = 'p' )
	drop proc SP_CONSULTA_PRODUCTOS_ALMACEN
go


/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2021/09/20
Objetivo		guarda el pedido especial
status			200 = ok
				-1	= error
*/

create proc [dbo].[SP_GUARDA_PEDIDO_ESPECIAL_V2]

	@xml					AS XML, 
	@tipoRevision			int,
	@idCliente				int,
	@idUsuario				int

	----@idFactFormaPago		int,
	----@idFactUsoCFDI			int,
	--@idPedidoEspecial		int,
	--@idUsuario				int,
	--@idEstacion				int,
	--@aplicaIVA				int,
	----@numClientesAtendidos	int,
	----@tipoVenta				int,  
	----@motivoDevolucion		varchar(255),
	----@idPedidoEspecial       int=0,
	----@idVentaComplemento		bigint=0,
	--@montoTotalVenta		money=0,
	--@montoPagado			money = 0
as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status							int = 200,
						@mensaje						varchar(255) = 'Se registro el pedido especial correctamente.',
						@error_line						varchar(255) = '',
						@error_procedure				varchar(255) = '',
						@tran_name						varchar(32) = 'REALIZA_PEDIDO_ESP',
						@tran_count						int = @@trancount,
						@tran_scope						bit = 0,						
						@totalProductos					float = 0,
						--@totalProductosComplementoVenta float = 0,
						@montoTotal						money = 0,
						@descuento						money = 0.0,
						@ini							int = 0, 
						@fin							int = 0,
						@fecha							datetime,
						@cantProductosLiq				float = 0,
						@idComisionBancaria				int = 0,
						@porcentajeComisionBancaria		money = 0.0,
						--@idDevolucion					int = 0,
						--@idComplemento 					int = 0,
						@tolerancia						money = 1.0,
						@montoAgregarProductos			money = 0,
						@ini_							int = 0,
						@fin_							int = 0


				create table
					#PedidosEspeciales
						(	
							contador					int identity(1,1),
							idPedidoEspecial			bigint,
							idCliente					int,
							cantidad					float,
							fechaAlta					datetime,
							montoTotal					money,
							idUsuario					int,
							idEstatusPedidoEspecial		int,
							idEstacion					int,
							observaciones				varchar(500),
							codigoBarras				varchar(250),
							idTipoPago					int,
							idUsuarioEntrega			int,
							numeroUnidadTaxi			varchar(100)
)

				create table
					#PedidosEspecialesDetalle
						(
							idPedidoEspecialDetalle			bigint,
							idPedidoEspecial				bigint,
							idVenta							int,
							idProducto						int,
							idUbicacion						int,
							idAlmacenOrigen					int,
							idAlmacenDestino				int,
							fechaAlta						datetime,
							cantidad						float,
							monto							money,
							cantidadActualInvGeneral		float,
							cantidadAnteriorInvGeneral		float,
							precioIndividual				money,
							precioMenudeo					money,
							precioRango						money,
							precioVenta						money,
							idTicketMayoreo					int,
							observaciones					varchar(255),
							ultimoCostoCompra				money,
							cantidadAceptada				float,
							cantidadAtendida				float,
							cantidadRechazada				float,
							idEstatusPedidoEspecialDetalle	int,
							notificado						bit
						)

				create table 
					#cantidades 
						(  
							id			int identity(1,1),
							cantidad	float
						)

				create table 
					#idProductos 
						(  
							id			int identity(1,1),
							idProducto	int
						)

				--create table
				--	#productosDevueltos
				--		(
				--			id					int identity(1,1),
				--			productosDevueltos	float	
				--		)

				--create table
				--	#idVentaDetalle
				--		(
				--			id					int identity(1,1),
				--			idVentaDetalle		int	
				--		)

				--create table
				--	#VentaComplemento
				--		(
				--			idProducto		bigint,
				--			cantidad		float	
				--		)

			end  --declaraciones 

			--if not exists (select 1 from IngesosEfectivo where idUsuario = @idUsuario and cast(fechaAlta as date)=cast(dbo.FechaActual() as date) and idTipoIngreso=1)
			--begin
			--	select @mensaje = 'Para poder realizar una venta, se requiere que se realize la apertura de cajas.'
			--	raiserror (@mensaje, 11, -1)
			--end

			--if exists(select 1 from RetirosCierreDia where idUsuario=@idUsuario and CAST(fechaAlta as date)=dbo.FechaActual())
   --         begin
			--	select @mensaje = 'No se pueden realizar ventas, ya que existe un cierre de caja.'
			--	raiserror (@mensaje, 11, -1)

			--end

			begin -- principal

				begin -- inicio transaccion
					if @tran_count = 0
						begin tran @tran_name
					else
						save tran @tran_name
					select @tran_scope = 1
				end -- inicio transaccion

				select @idFactFormaPago = coalesce(@idFactFormaPago, '1')

				if ( ( @idFactFormaPago in ( 4,18 ) ) and ( @aplicaIVA = 0 ) )
				begin
					select @idComisionBancaria = max(idComision) from Comisiones where activo = cast(1 as bit)
					select @porcentajeComisionBancaria = cast( (porcentaje/100) as money ) from Comisiones where idComision = @idComisionBancaria
				end

				select @fecha = coalesce(@fecha, dbo.FechaActual())

				insert into #cantidades (cantidad)
				SELECT Pedidos.cantidad.value('.','NVARCHAR(200)') AS cantidad FROM @xml.nodes('//cantidad') as Pedidos(cantidad) 

				insert into #idProductos (idProducto)
				SELECT Pedidos.idProducto.value('.','NVARCHAR(200)') AS idProducto FROM @xml.nodes('//idProducto') as Pedidos(idProducto)

				--insert into #productosDevueltos (productosDevueltos)
				--SELECT Ventas.productosDevueltos.value('.','NVARCHAR(200)') AS productosDevueltos FROM @xml.nodes('//productosDevueltos') as Ventas(productosDevueltos)

				--insert into #idVentaDetalle (idVentaDetalle)
				--SELECT Ventas.idVentaDetalle.value('.','NVARCHAR(200)') AS idVentaDetalle FROM @xml.nodes('//idVentaDetalle') as Ventas(idVentaDetalle)
				
				-- validamos si el cliente tiene descuento por aplicar
				select	@descuento = t.descuento
				from	clientes c
						inner join CatTipoCliente t
							on c.idTipoCliente = t.idTipoCliente
				where	c.idCliente = @idCliente				

				-- universo de venta de productos
				select	p.idProducto, 
						c.cantidad,
						cast(0 as int) as contador, 
						cast(0 as money) as costo, 
						cast(0 as money) as precioPorProducto,
						coalesce(p.precioIndividual, 0) as precioIndividual, 
						coalesce(p.precioMenudeo, 0) as precioMenudeo, 
						cast(0 as money) as precioRango, 
						@aplicaIVA as aplicaIVA ,  
						cast(0 as money) as montoIva, 
						cast(0 as money) as montoComisionBancaria,
						cast(0 as money) as montoVenta, 
						cast(0 as money) as precioVenta, 
						cast(0 as money) as porcentajeDescuentoCliente
				into	#pedidos
				from	#cantidades c
						inner join #idProductos p_
							on c.id = p_.id
						inner join Productos p
							on p.idProducto = p_.idProducto
							

				
					---si es un complemento de venta sumamos las cantidades del ticket anterior
					--if(@idVentaComplemento>0)
					--begin
					--    insert into #VentaComplemento(idProducto,cantidad)
					--	select idProducto,sum(cantidad) cantidad						
					--	from VentasDetalle 
					--	where idVenta=@idVentaComplemento
					--	group by idProducto

					--	select @totalProductosComplementoVenta= sum(cantidad) from #VentaComplemento
					--end

					select @totalProductos = sum(cantidad) from #pedidos


				
					-- primero precios individual y menudeo
					update	#pedidos
					set		costo =	case
										when (@totalProductos + coalesce(@totalProductosComplementoVenta,0)) >= 6 then cantidad * precioMenudeo
										else cantidad * precioIndividual
									end,
							precioVenta =	case
												when (@totalProductos+coalesce(@totalProductosComplementoVenta,0)) >= 6 then precioMenudeo
												else precioIndividual
											end

					-- se actualiza el precio de venta y el precio del rango con que se hizo la venta en caso q exista un precio de rango
					update	#pedidos
					set		#pedidos.precioVenta = a.precioRango,
							#pedidos.precioRango = a.precioRango
					from	(
								select	v.idProducto, v.cantidad, ppp.costo as precioRango, ppp.min, ppp.max
								from	#pedidos v
											inner join ProductosPorPrecio ppp
												on ppp.idProducto = v.idProducto
											inner join (select idProducto,max(max) maxCantRango 
														from ProductosPorPrecio 
														where
														activo = cast(1 as bit)
														group by idProducto) maxRango 
												on ppp.idProducto=maxRango.idProducto
											--left join #VentaComplemento vc on v.idProducto=vc.idProducto 
								where	ppp.activo = cast(1 as bit)
									--and	v.cantidad between ppp.min and ppp.max
									and	(v.cantidad + coalesce(vc.cantidad,0))>=min and (v.cantidad + coalesce(vc.cantidad,0))<=case when (v.cantidad + coalesce(vc.cantidad,0))>maxCantRango and max=maxCantRango
									then (v.cantidad + coalesce(vc.cantidad,0)) else max end

							)A
					where	#pedidos.idProducto = a.idProducto


					-- si hay descuento
					if ( @descuento > 0.0 )
					begin
						update	#pedidos set #pedidos.porcentajeDescuentoCliente = @descuento
						update	#pedidos set #pedidos.precioVenta = #pedidos.precioVenta - (#pedidos.precioVenta * ( @descuento / 100 ))
					end

					-- actualizamos el precio final
					update	#pedidos 
					set		#pedidos.costo = precioVenta * cantidad

					-- actualizamos si hay comision bancaria aplicable
					if ( @porcentajeComisionBancaria > 0.0 )
						begin
							update	#pedidos
							set		montoComisionBancaria = Round( (costo * @porcentajeComisionBancaria),2,0) 
						end

					if ( @aplicaIVA = 1 )
						begin
							update	#pedidos
							set		montoIva =  Round( (costo + montoComisionBancaria) * 0.16 ,2,0)  
						end
					
					update	#pedidos
					set		montoVenta = costo 

					-- si existe el producto en el inventario general
					if  exists	( 
									select 1 from #pedidos v 
										left join InventarioGeneral g 
											on v.idProducto=g.idProducto
									where g.idProducto is null
								)
					begin
						select @mensaje = 'El producto no se encuentra en el inventario.'
						raiserror (@mensaje, 11, -1)
					end

					-- si el producto no tiene un precio asignado en tabla de productos 
					if exists ( select 1 from #pedidos where montoVenta <= 0 )
					begin
						select @mensaje = 'El producto no tiene un precio asignado.'
						raiserror (@mensaje, 11, -1)
					end

					
					-- si todo bien
						select @montoTotal = Round(sum(montoVenta+montoIva+montoComisionBancaria),2,0) from #pedidos

						select @montoTotalVenta = Round(@montoTotalVenta,2,0)
						
						--validamos que el monto total coincida con lo que se le cobro al cliente
						if	( 
								(@montoTotal!=@montoTotalVenta) and 
								abs(@montoTotal - @montoTotalVenta) > @tolerancia
							)
						begin
						    select @mensaje='El monto total no coincide con lo que se le cobro al cliente ' + cast(@montoTotalVenta as varchar) + ' monto total: ' + cast(@montoTotal as varchar)
							raiserror(@mensaje, 11, -1)
						end

					-- inserta en tablas fisicas
						insert into 
							PedidosEspeciales
								(
									idCliente,cantidad,fechaAlta,montoTotal,idUsuario,idEstatusPedidoEspecial,idEstacion,
									observaciones,codigoBarras,idTipoPago,idUsuarioEntrega,numeroUnidadTaxi
								)

						select	idCliente,cantidad,fechaAlta,montoTotal,idUsuario,idEstatusPedidoEspecial,idEstacion,
								observaciones,codigoBarras,idTipoPago,idUsuarioEntrega,numeroUnidadTaxi
						from	#PedidosEspeciales

						--insert into Ventas (idCliente,cantidad,fechaAlta,montoTotal,idUsuario,idStatusVenta,idFactFormaPago,idFactUsoCFDI,idEstacion,idComision,montoPagado)
						--select	@idCliente as idCliente, @totalProductos as cantidad , dbo.FechaActual() as fechaAlta, @montoTotal as montoTotal, @idUsuario as idUsuario, 
						--		1 as idStatusVenta,@idFactFormaPago as idFactFormaPago, @idFactUsoCFDI as idFactUsoCFDI, @idEstacion as idEstacion ,
						--		@idComisionBancaria as idComision, @montoPagado as montoPagado

						select @idPedidoEspecial = max(idPedidoEspecial)  from PedidosEspeciales

					-----generamos codigo de barras
					--	update v set codigoBarras= 
					--	cast((RIGHT('000000' + Ltrim(Rtrim(idVenta)),6)) as varchar) + 
					--	cast((RIGHT('00' + Ltrim(Rtrim(DAY(fechaAlta))),2)) as varchar)  + 
					--	cast((RIGHT('00' + Ltrim(Rtrim(month(fechaAlta))),2)) as varchar)  + 
					--	cast((RIGHT('00' + Ltrim(Rtrim(year(fechaAlta))),2)) as varchar)  + 
					--	cast((RIGHT('000' + Ltrim(Rtrim(idUsuario)),3)) as varchar)  +
					--	cast((RIGHT('00' + Ltrim(Rtrim(ROUND(((99 - 1) * RAND() + 1), 0))),2)) as varchar)  
					--	from ventas v where idVenta=@idVenta


					-- se inserta el detalle de los productos que se vendieron
					insert into
						PedidosEspecialesDetalle
							(
								idPedidoEspecial,idVenta,idProducto,idUbicacion,idAlmacenOrigen,idAlmacenDestino,fechaAlta,cantidad,
								monto,cantidadActualInvGeneral,cantidadAnteriorInvGeneral,precioIndividual,precioMenudeo,precioRango,
								precioVenta,idTicketMayoreo,observaciones,ultimoCostoCompra,cantidadAceptada,cantidadAtendida,cantidadRechazada,
								idEstatusPedidoEspecialDetalle,notificado
							)
					select		idPedidoEspecial,idVenta,idProducto,idUbicacion,idAlmacenOrigen,idAlmacenDestino,fechaAlta,cantidad,
								monto,cantidadActualInvGeneral,cantidadAnteriorInvGeneral,precioIndividual,precioMenudeo,precioRango,
								precioVenta,idTicketMayoreo,observaciones,ultimoCostoCompra,cantidadAceptada,cantidadAtendida,cantidadRechazada,
								idEstatusPedidoEspecialDetalle,notificado
					from #PedidosEspecialesDetalle

						--insert into 
						--	VentasDetalle 
						--		(
						--			idVenta,idProducto,cantidad,contadorProductosPorPrecio,monto,cantidadActualInvGeneral,cantidadAnteriorInvGeneral,
						--			precioIndividual,precioMenudeo,precioRango,montoIVA,precioVenta,montoComisionBancaria, productosDevueltos ,ultimoCostoCompra
						--		)
						--select	@idVenta as idVenta, v.idProducto, v.cantidad, v.contador, v.montoVenta, i.cantidad - v.cantidad as cantidadActualInvGeneral,
						--		i.cantidad as cantidadAnteriorInvGeneral, v.precioIndividual, v.precioMenudeo, v.precioRango, v.montoIva, v.precioVenta,
						--		montoComisionBancaria, cast(0.0 as float) as productosDevueltos , v.ultimoCostoCompra
						--from	#vta v
						--		inner join InventarioGeneral i
						--			on v.idProducto = i.idProducto



					-- calculamos las existencias del inventario despues de la venta
					select idProducto, cast((sum(cantidad)) as float) as cantidad into #totProductos from #pedidos group by idProducto

					select	idInventarioDetalle, id.idProducto, id.cantidad, fechaAlta, id.idUbicacion, 
							fechaActualizacion, cast(0 as float) as cantidadDescontada, 
							cast(0 as float) as cantidadFinal
					into	#tempExistencias 
					from	Usuarios u
								inner join Almacenes a
									on a.idAlmacen = u.idAlmacen
								inner join Ubicacion ub
									on ub.idAlmacen = a.idAlmacen
								inner join InventarioDetalle id
									on id.idUbicacion = ub.idUbicacion
								inner join #totProductos p
									on p.idProducto = id.idProducto
					where	u.idUsuario = @idUsuario
						and	id.cantidad > 0
						and	ub.idPiso not in (9) -- se pidio que no se vendieran productos que estuvieran en el piso #9


					if not exists ( select 1 from #tempExistencias)
						begin
							select @mensaje = 'No se realizo la venta, no se cuenta con suficientes existencias en el inventario.'
							raiserror (@mensaje, 11, -1)
						end


					-- se calcula de que ubicaciones se van a descontar los productos
					select @ini = min(idProducto), @fin= max(idProducto) from #totProductos

					while ( @ini <= @fin )
						begin
							declare	@cantidadProductos as float = 0
							select	@cantidadProductos = cantidad from #totProductos where idProducto = @ini

							while ( @cantidadProductos > 0 )
								begin
									declare @cantidadDest as float = 0, @idInventarioDetalle as int = 0
									select	@cantidadDest = coalesce(max(cantidad), 0) from #tempExistencias where idProducto = @ini and cantidadDescontada = 0
									select	@idInventarioDetalle = idInventarioDetalle from #tempExistencias where idProducto = @ini and cantidadDescontada = 0 and cantidad = @cantidadDest

									-- si ya no hay ubicaciones con existencias a descontar
									if ( @cantidadDest = 0 )
										begin
											update  #tempExistencias set cantidadDescontada = (select cantidad from #totProductos where idProducto = @ini)
											where	idProducto = @ini
											select @cantidadProductos = 0
										end
									else
										begin
											if ( @cantidadDest >= @cantidadProductos )
												begin 
													update #tempExistencias set cantidadDescontada = @cantidadProductos 
													where idProducto = @ini and idInventarioDetalle = @idInventarioDetalle
													select @cantidadProductos = 0 
												end
											else
												begin
													update	#tempExistencias set cantidadDescontada = @cantidadDest
													where	 idProducto = @ini and idInventarioDetalle = @idInventarioDetalle
													select @cantidadProductos = @cantidadProductos - @cantidadDest						
												end
										end 
								end

							select @ini = min(idProducto) from #totProductos where idProducto > @ini

						end  -- while ( @ini <= @fin )

						update	#tempExistencias
						set		cantidadFinal = cantidad - cantidadDescontada

						-- si el inventario de los productos vendidos queda negativo se paso de productos = rollback
						if  exists	( select 1 from #tempExistencias where cantidadFinal < 0 )
						begin
							select @mensaje = 'No se realizo la venta, no se cuenta con suficientes existencias en el inventario.'
							raiserror (@mensaje, 11, -1)
						end

						--se actualiza inventario_general_log
						INSERT INTO InventarioGeneralLog(idProducto,cantidad,cantidadDespuesDeOperacion,fechaAlta,idTipoMovInventario)
						select a.idProducto,sum(a.cantidad),b.cantidad-sum(a.cantidad),dbo.FechaActual(),1 
						from #totProductos a
						join InventarioGeneral b on a.idProducto=b.idProducto
						group by a.idProducto,b.cantidad
					

						-- se actualiza inventario detalle
						update	InventarioDetalle
						set		cantidad = a.cantidadFinal,
								fechaActualizacion = dbo.FechaActual()
						from	(
									select	idInventarioDetalle, idProducto, cantidad, idUbicacion, cantidadDescontada, cantidadFinal
									from	#tempExistencias
								)A
						where	InventarioDetalle.idInventarioDetalle = a.idInventarioDetalle

						-- se actualiza el inventario general
						update	InventarioGeneral
						set		InventarioGeneral.cantidad = InventarioGeneral.cantidad - A.cantidad,
								fechaUltimaActualizacion = dbo.FechaActual()
						from	(
									select idProducto, cantidad from #totProductos
								)A
						where InventarioGeneral.idProducto = A.idProducto


						-- se inserta el InventarioDetalleLog
						insert into InventarioDetalleLog (idUbicacion,idProducto,cantidad,cantidadActual,idTipoMovInventario,idUsuario,fechaAlta,idVenta)
						select	idUbicacion, idProducto, cantidadDescontada, cantidadFinal, cast(1 as int) as idTipoMovInventario,
								@idUsuario as idUsuario, dbo.FechaActual() as fechaAlta, @idVenta as idVenta
						from	#tempExistencias
						where	cantidadDescontada > 0

						-- si tiene clientes atendidos de ruta
						if ( @numClientesAtendidos > 0)
							begin 
							
								insert into	
									ClientesAtendidosRuta
										(cantidad,idVenta,idUsuario,idEstacion,fechaAlta)
								values
									(@numClientesAtendidos, @idVenta, @idUsuario, @idEstacion, @fecha)

							end

					  select @cantProductosLiq=sum(a.cantidad) from #totProductos a join Productos b on a.idProducto=b.idProducto and b.idLineaProducto in (19,20)
					    
					--pedidos especiales actualizamos el estatus
					if(@idPedidoEspecial>0) 
					begin

						UPDATE  pedidosInternos set idEstatusPedidoInterno=6,idVenta=@idVenta where idPedidoInterno=@idPedidoEspecial				

						INSERT INTO pedidosInternosLog(idPedidoInterno,idAlmacenOrigen,idAlmacenDestino,idUsuario,fechaAlta,idEstatusPedidoInterno)
						select @idPedidoEspecial,idAlmacenOrigen,0 idAlmacenDestino,@idUsuario,dbo.FechaActual(),6
						from pedidosInternos where idPedidoInterno=@idPedidoEspecial
					
					end 

				

				-- se revisa si la venta se puede agregar complementos/devoluciones despues de una venta

				if ( (select ( sum(cantidad) - sum(productosDevueltos) ) from VentasDetalle where idVenta = @idVenta ) >= 6 )
					begin
						update Ventas set puedeHacerComplementos = cast(1 as bit) where idVenta = @idVenta
					end
				else
					begin
						update Ventas set puedeHacerComplementos = cast(0 as bit) where idVenta = @idVenta
					end


				begin -- commit de transaccion
					if @tran_count = 0
						begin -- si la transacción se inició dentro de este ámbito
							commit tran @tran_name
							select @tran_scope = 0
						end -- si la transacción se inició dentro de este ámbito
				end -- commit de transaccion
					
				drop table #Ventas
				drop table #VentasDetalle
				drop table #cantidades
				drop table #idProductos
				
			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()

			-- revertir transacción si es necesario
			if @tran_scope = 1
				rollback tran @tran_name
					
		end catch

		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje,
					@idVenta as idVenta,
					coalesce(@cantProductosLiq,0) as cantProductosLiq,
					coalesce(@idDevolucion , 0)	  as idDevolucion,
					coalesce(@idComplemento ,0)   as idComplemento

		end -- reporte de estatus

	end  -- principal

grant exec on SP_GUARDA_PEDIDO_ESPECIAL_V2 to public
go