USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_PRECIO_X_VOLUMEN]    Script Date: 04/06/2021 01:53:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta los diferentes precios del producto
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_PRECIO_X_VOLUMEN]
	
	@PRODUCTOS		AS XML

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit),
						@max_cantidad			bigint = 0,
						@precioIndividual		money = 0,
						@cantidad_antes			int

				create table 
					#ProductosPorPrecio
						(
							contador				int,
							idProducto				int,
							cantidad				int,
							min						int,
							max						int,
							max_cantidad			int,
							costo					money,
							precioIndividual		money,
							descuento				money,
							activo					bit
						)

				create table 
					#cantidades 
						(  
							id			int identity(1,1),
							cantidad	int
						)

				create table 
					#idProductos 
						(  
							id			int identity(1,1),
							idProducto	int
						)
						
			end  --declaraciones 

			
			-- datos del xml
			insert into #cantidades (cantidad)
			SELECT Precio.cantidad.value('.','NVARCHAR(200)') AS cantidad FROM @PRODUCTOS.nodes('//cantidad') as Precio(cantidad) 

			insert into #idProductos (idProducto)
			SELECT Precio.idProducto.value('.','NVARCHAR(200)') AS idProducto FROM @PRODUCTOS.nodes('//idProducto') as Precio(idProducto)

			-- universo de productos
			insert into 
				#ProductosPorPrecio
					(idProducto,cantidad,min,max,costo,precioIndividual,activo)
			select	p.idProducto, sum(c.cantidad) as cantidad, cast(1 as int) as min_,				
					cast(11 as int) as max_, p.precioIndividual, p.precioIndividual, p.activo
			from	#cantidades c
					inner join #idProductos p_
						on c.id = p_.id
					inner join Productos p
						on p.idProducto = p_.idProducto
			group by p.idProducto, p.precioIndividual, p.activo


			if exists ( select 1 from #ProductosPorPrecio where costo is null )
			begin
				select @mensaje = 'Debe asignar Precio Individual y Precio Menudeo para este Producto.'
				raiserror (@mensaje, 11, -1)
			end

			-- actualizamos el contador del max_cantidad para el caso de infinito
			update	#ProductosPorPrecio
			set		#ProductosPorPrecio.max_cantidad = A.max_cantidad
			from	(
						select	ppp.idProducto, 
								coalesce(max(ppp.max),0) as max_cantidad 
						from	ProductosPorPrecio ppp
									inner join #ProductosPorPrecio ppp_
										on ppp.idProducto = ppp_.idProducto
						where	ppp.activo = cast(1 as bit)
						group by ppp.idProducto
					)A
			where	#ProductosPorPrecio.idProducto = A.idProducto
			
			-- si se ejecuta precio de mayoreo cuando el ticket tiene 6 o + articulos
			if ( (select sum(cantidad) from #ProductosPorPrecio ) >= 6 )
				begin

					update	#ProductosPorPrecio 
					set		#ProductosPorPrecio.costo = a.precioMenudeo,
							min = 6, 
							max = 6
					from	(
								select	ppp.idProducto, p.precioIndividual, p.precioMenudeo
								from	#ProductosPorPrecio ppp 
											inner join Productos p 
												on ppp.idProducto = p.idProducto
							)A
					where	#ProductosPorPrecio.idProducto = a.idProducto
				
				end

				
			-- actualizamos los que caigan en un rango
			update	#ProductosPorPrecio
			set		#ProductosPorPrecio.min = a.min,
					#ProductosPorPrecio.max = a.max,
					#ProductosPorPrecio.costo = a.costo,
					#ProductosPorPrecio.contador = a.contador
			from	(
						select	ppp.contador, ppp.idProducto, ppp.min, ppp.max, ppp.costo, ppp.activo
						from	#ProductosPorPrecio ppp_
									inner join ProductosPorPrecio ppp
										on ppp.idProducto = ppp_.idProducto
						where	ppp_.cantidad between ppp.min and ppp.max
							and	ppp.activo = cast(1 as bit)
					)A
			where	#ProductosPorPrecio.idProducto = a.idProducto

			-- si hay max-cantidad
			if exists ( select 1 from #ProductosPorPrecio where cantidad > max_cantidad )
				begin
					
					update	#ProductosPorPrecio
					set		#ProductosPorPrecio.min = a.min,
							#ProductosPorPrecio.max = a.max,
							#ProductosPorPrecio.costo = a.costo,
							#ProductosPorPrecio.contador = a.contador
					from	(
								select	ppp.contador, ppp.idProducto, ppp.min, ppp.max, ppp.costo, ppp.activo
								from	#ProductosPorPrecio ppp_
											inner join ProductosPorPrecio ppp
												on ppp.idProducto = ppp_.idProducto
												and ppp_.max_cantidad = ppp.max
								where	ppp.activo = cast(1 as bit)
									and ppp_.cantidad > ppp_.max_cantidad
							)A
					where	#ProductosPorPrecio.idProducto = a.idProducto

				end

			-- actualizamos los descuentos
				update	#ProductosPorPrecio set descuento = precioIndividual - costo

			--select	contador,idProducto,min,max,costo,activo
			--from	#ProductosPorPrecio
			--where	idProducto = @idProducto
			--	and @cantidad between min and max
			--	and activo = cast(1 as bit)

			--	select * from #ProductosPorPrecio
			--select @cantidad_antes = @cantidad
			--select @max_cantidad = coalesce(max(max),0) from ProductosPorPrecio where idProducto = @idProducto and activo = cast(1 as bit)
			--select @precioIndividual = coalesce(precioIndividual,0) from Productos where idProducto = @idProducto and activo = cast(1 as bit)
			--select @productosAdicionales = coalesce(@productosAdicionales, 0)
			--select @cantidad = @cantidad + @productosAdicionales

			--select @productosAdicionales productosAdicionales, @cantidad cantidad, @cantidad_antes cantidad_antes, @max_cantidad max_cantidad

			-- si se ejecuta con descuento (el ticket ya tiene 6 o + articulos)
			--if( @vaConDescuento = 1 )
			--	begin
			--		-- no hay rango de precios > 6
			--		if not exists	( 
			--							select	contador
			--							from	ProductosPorPrecio
			--							where	idProducto = @idProducto
			--								and @cantidad between min and max
			--								and activo = cast(1 as bit)		
			--						)
			--			begin 
							
			--				if ( @cantidad < 6)
			--					select @cantidad = 6		
						
			--			end
			--	end
			
			----precio individual
			--if ( @cantidad > 0 and @cantidad < 6 )
			--	begin
			--		insert into #ProductosPorPrecio (contador,idProducto,min,max,costo,descuento,activo)
			--		select 0 as contador, @idProducto, 1 as min, 11 as max, precioIndividual as costo, 0 as descuento, activo from Productos where idProducto = @idProducto and activo = cast(1 as bit)
			--	end

			----precio menudeo
			--if ( @cantidad = 6 )
			--	begin
			--		insert into #ProductosPorPrecio (contador,idProducto,min,max,costo,descuento,activo)
			--		select 0 as contador, @idProducto, 6 as min, 6 as max, precioMenudeo as costo,(@precioIndividual-precioMenudeo)*@cantidad_antes as descuento, activo from Productos where idProducto = @idProducto and activo = cast(1 as bit)
			--	end

			--if ( @cantidad > @max_cantidad )
			--	begin
			--		insert into #ProductosPorPrecio (contador,idProducto,min,max,costo,descuento,activo)
			--		select  contador,@idProducto,min,max,costo,(@precioIndividual-costo)*@cantidad_antes as descuento,activo
			--		from	ProductosPorPrecio
			--		where	idProducto = @idProducto 
			--			and activo = cast(1 as bit)
			--			and contador = ( select max(contador) from ProductosPorPrecio where idProducto=@idProducto and activo=cast(1 as bit) )
			--	end
			--else
			--	begin
				
			--		insert into #ProductosPorPrecio (contador,idProducto,min,max,costo,descuento,activo)
			--		select	contador,@idProducto,min,max,costo,(@precioIndividual-costo)*@cantidad_antes as descuento,activo
			--		from	ProductosPorPrecio
			--		where	idProducto = @idProducto
			--			and @cantidad between min and max
			--			and activo = cast(1 as bit)

			--	end


			-- si no encontro
			--if not exists (select 1 from #ProductosPorPrecio)
			--	begin				
			--		-- y si la cantidad es mayor a 6 (menudeo)
			--		if( @cantidad > 6 )
			--			begin
			--				insert into #ProductosPorPrecio (contador,idProducto,min,max,costo,descuento,activo)
			--				select 0 as contador, @idProducto, 6 as min, @cantidad as max, precioMenudeo as costo, (@precioIndividual-precioMenudeo)*@cantidad_antes as descuento, activo from Productos where idProducto = @idProducto and activo = cast(1 as bit)
			--			end
			--	end

			if  exists (  select 1 from #ProductosPorPrecio where costo = 0 ) 
				begin
					select @mensaje = 'No existen rangos activos de precio para el producto seleccionado.'
					raiserror (@mensaje, 11, -1)
				end
			
		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

		--reporte de estatus
			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje
							
			select	* 
			from	#ProductosPorPrecio
	
		end -- reporte de estatus

	end  -- principal
