USE [DB_A57E86_lluviadesarrollo]
GO


-- se crea procedimiento SP_CONSULTA_TICKETS_DEVOLUCIONES_COMPLEMENTOS
if exists (select * from sysobjects where name like 'SP_CONSULTA_TICKETS_DEVOLUCIONES_COMPLEMENTOS' and xtype = 'p' and db_name() = 'DB_A57E86_lluviadesarrollo')
	drop proc SP_CONSULTA_TICKETS_DEVOLUCIONES_COMPLEMENTOS
go



/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_TICKETS_DEVOLUCIONES_COMPLEMENTOS]    Script Date: 02/06/2021 09:40:26 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta los tickets de devolucion dependiento de idTicket padre
status			200 = ok
				-1	= error
*/

create proc [dbo].[SP_CONSULTA_TICKETS_DEVOLUCIONES_COMPLEMENTOS]

	@idVenta				int,
	@idTipoTicket			int  -- 1: Devolucion / 2: Complemento

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = ''
						--@valido					bit = cast(0 as bit)

			end  --declaraciones 

			begin -- principal
				
				if (@idTipoTicket = 1) -- devolucion
					begin
						if not exists ( select 1 from Devoluciones where idVenta = @idVenta )
							begin
								select @mensaje = 'No existen devoluciones para esta venta.'
								raiserror (@mensaje, 11, -1)
							end
					end
				else  -- complemento
					begin
						if not exists ( select 1 from Complementos where idVenta = @idVenta )
							begin 
								select @mensaje = 'No existen complementos para esta venta.'
								raiserror (@mensaje, 11, -1)
							end
					end
				
			end -- principal


			begin -- reporte de estatus

				select	distinct 
						@status status,
						@error_procedure error_procedure,
						@error_line error_line,
						@mensaje mensaje


					if (@idTipoTicket = 1) -- devolucion
						begin
						
							select	d.idDevolucion,
									d.idVenta,
									d.idUsuario,
									d.idCliente,
									d.cantidad,
									d.fechaAlta,
									d.montoTotal,
									d.idFactFormaPago,
									d.idEstacion,
									d.observaciones 
							from	Devoluciones d
							where	idVenta = @idVenta

						end

					else -- complemento
						begin

							select	c.idComplemento,
									c.idVenta,
									c.idUsuario,
									c.idCliente,
									c.cantidad,
									c.fechaAlta,
									c.montoTotal,
									c.idFactFormaPago,
									c.idEstacion
							from	Complementos c
							where	idVenta = @idVenta

						end
				
		end -- reporte de estatus

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
			select	@status as status,
					@error_procedure as error_procedure,
					@error_line as error_line,
					@mensaje as mensaje 
		end catch
				
	end  -- principal

go

grant exec on SP_CONSULTA_TICKETS_DEVOLUCIONES_COMPLEMENTOS to public
go

-- select * from Ventas where Devoluciones > 0 order by idVenta desc 
-- select * from Ventas where productosAgregados > 0 order by idVenta desc 
/*
 exec  SP_CONSULTA_TICKETS_DEVOLUCIONES_COMPLEMENTOS  4089, 1
 exec  SP_CONSULTA_TICKETS_DEVOLUCIONES_COMPLEMENTOS  4090, 2
*/

