create proc [dbo].[SP_CONSULTA_DEVOLUCIONES_Y_COMPLEMENTOS]

	@idVenta		int = null,
	@idAlmacen		int = null,
	@idUsuario		int = null,
	@fechaIni		datetime = null,
	@fechaFin		datetime = null,
	@idTipoConsulta		int=1 ---1)Devoluciones 2)Complementos
as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit)


			end  --declaraciones 

			begin -- principal
			
			if(@idAlmacen is null and @idUsuario is null and @idVenta is null)
			begin
				select @fechaIni=coalesce(@fechaIni,cast(dbo.FechaActual() as date))
				select @fechaIni=coalesce(@fechaIni,cast(dbo.FechaActual() as date))
			end

			
			select 
			dev.idVenta, 
			dev.idUsuario, 
			u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario,
			dev.idCliente, c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno as nombreCliente,
			u.idSucursal, u.idAlmacen, devD.idProducto, p.descripcion as descripcionProducto,
			devD.cantidad, devD.monto + devD.montoDevueltoComisionBancaria montoTotal,
			dbo.Redondear(devD.monto/devD.cantidad) precioVenta,
			dev.fechaAlta, a.Descripcion as descAlmacen,p.codigoBarras,'Devoluciòn' descripcion
			INTO #RESULT
			from Devoluciones dev
			join DevolucionesDetalle devD on dev.idDevolucion=devD.idDevolucion
			join Usuarios u on dev.idUsuario=u.idUsuario			
			join Clientes c on dev.idCliente=c.idCliente
			join Productos p on devD.idProducto=p.idProducto
			join Almacenes a on u.idAlmacen=a.idAlmacen
			where devD.idVenta =coalesce(@idVenta,devD.idVenta)										
					and	u.idAlmacen = coalesce(@idAlmacen,u.idAlmacen)										
					and	dev.idUsuario =coalesce(@idUsuario,u.idUsuario)					
					and cast(dev.fechaAlta as date) >=coalesce(cast(@fechaIni as date),cast(dev.fechaAlta as date))
					and cast(dev.fechaAlta as date) <=coalesce(cast(@fechaFin as date),cast(dev.fechaAlta as date))
					and @idTipoConsulta=1

			UNION

			select 
			comp.idVenta, 
			comp.idUsuario, 
			u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario,
			comp.idCliente, c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno as nombreCliente,
			u.idSucursal, u.idAlmacen, compD.idProducto, p.descripcion as descripcionProducto,
			compD.cantidad, compD.monto + compD.montoComisionBancaria montoTotal,
			vd.precioVenta,
			comp.fechaAlta, a.Descripcion as descAlmacen,p.codigoBarras,'Complemento' descripcion
			from Complementos comp
			join ComplementosDetalle compD on comp.idComplemento=compD.idComplemento
			join VentasDetalle vd on vd.idComplementoDetalle=compD.idComplementoDetalle
			join Usuarios u on comp.idUsuario=u.idUsuario			
			join Clientes c on comp.idCliente=c.idCliente
			join Productos p on compD.idProducto=p.idProducto
			join Almacenes a on u.idAlmacen=a.idAlmacen			
			where compD.idVenta =coalesce(@idVenta,compD.idVenta)										
					and	u.idAlmacen = coalesce(@idAlmacen,u.idAlmacen)										
					and	comp.idUsuario =coalesce(@idUsuario,u.idUsuario)					
					and cast(comp.fechaAlta as date) >=coalesce(cast(@fechaIni as date),cast(comp.fechaAlta as date))
					and cast(comp.fechaAlta as date) <=coalesce(cast(@fechaFin as date),cast(comp.fechaAlta as date))
					and @idTipoConsulta=2
	

				if not exists (	select 1 from #RESULT )
				begin
					select	@mensaje = 'No existen resultados para esos terminos de búsqueda.',
							@valido = cast(0 as bit)						
					raiserror (@mensaje, 11, -1)
				end

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

		--reporte de estatus
			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje
							

		-- si todo ok
			if exists ( select 1 from #RESULT )
			begin
				select	*
				from	#RESULT
				order by fechaAlta desc 
			end

				
		end -- reporte de estatus

	end  -- principal
