USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_RETIROS]    Script Date: 05/08/2021 11:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/06/03
Objetivo		Consulta los retiros por estacion o fecha
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_RETIROS]

	@idEstacion			int=null,
	@idTipoRetiro		int=null,
	@fecha				datetime = null,
	@idUsuario			int=null,
	@idAlmacen			int=null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = ''
						

			end  --declaraciones 

			--begin -- principal
				select @fecha = coalesce(@fecha, dbo.FechaActual())
				select @fecha = cast(@fecha as date)


				--select	1 tipoRetiro,idRetiro,montoRetiro,montoAutorizado,r.idUsuario,
				--	u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario,
				--	r.idEstacion, e.nombre as nombreEstacion, r.fechaAlta,
				--	r.idUsuario idUsuarioAut,coalesce(uAut.nombre,'') + ' ' + coalesce(uAut.apellidoPaterno,'') + ' ' + coalesce(uAut.apellidoMaterno,'') as nombreUsuarioAut,
				--	u.idSucursal, cast(cs.descripcion as varchar(200)) as descripcionSucursal,
				--	u.idAlmacen, cast(al.Descripcion as varchar(200)) as descripcionAlmacen,
				--	r.idEstatusRetiro idStatus,c.descripcion
				--INTO #RETIROS
				--from	RetirosExcesoEfectivo R
				--			inner join Usuarios u 
				--				on u.idUsuario = r.idUsuario
				--			inner join Estaciones e
				--				on e.idEstacion = r.idEstacion
				--			inner join CatEstatusRetiros c on r.idEstatusRetiro=c.idEstatusRetiro
				--			inner join CatSucursales cs on cs.idSucursal = u.idSucursal
				--			inner join Almacenes al on al.idAlmacen = u.idAlmacen
				--			left join Usuarios uAut on r.idUsuarioAut=uAut.idUsuario
				--where	r.idEstacion = coalesce(@idEstacion,r.idEstacion)
				--	and	cast(r.fechaAlta as date) = cast(@fecha as date)

				--UNION 

				select	2 tipoRetiro,r.idCierre idRetiro,monto montoRetiro,montoAutorizado,	
				MontoRetiroEfectivo retirosExcesoEfectivo,
					MontoTotalVentas montoVentasDelDia,
					MontoCierreDia montoCierre,
					MontoApertura montoApertura,
					MontoIngresoEfectivo montoIngresosEfectivo,
					MontoTotalVentasContado montoVentasContado,
					MontoTotalVentasTarjeta montoVentasTarjeta,
					MontoTotalVentasTransferencias montoVentasTransferencias,
					MontoTotalVentasOtros montoVentasOtros,
					MontoTotalVentasCanceladas montoVentasCanceladas,
					TotalVentas	 totalVentas,
					ProductosDevueltos,
					MontoTotalDevoluciones,
				    r.idUsuario,
					u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario,
					r.idEstacion, e.nombre as nombreEstacion, r.fechaAlta,
					r.idUsuario idUsuarioAut,coalesce(uAut.nombre,'') + ' ' + coalesce(uAut.apellidoPaterno,'') + ' ' + coalesce(uAut.apellidoMaterno,'') as nombreUsuarioAut,
					u.idSucursal, cast(cs.descripcion as varchar(200)) as descripcionSucursal,
					u.idAlmacen, cast(al.Descripcion as varchar(200)) as descripcionAlmacen,
					r.idEstatusRetiro idStatus,c.descripcion													
					INTO #RETIROS
				from	RetirosCierreDia R
							inner join Usuarios u 
								on u.idUsuario = r.idUsuario
							inner join Estaciones e
								on e.idEstacion = r.idEstacion
							inner join CatEstatusRetiros c on r.idEstatusRetiro=c.idEstatusRetiro
							inner join CatSucursales cs on cs.idSucursal = u.idSucursal
							inner join Almacenes al on al.idAlmacen = u.idAlmacen
							left join Usuarios uAut on r.idUsuarioAut=uAut.idUsuario
				where	r.idEstacion = coalesce(@idEstacion,r.idEstacion)
					and	cast(r.fechaAlta as date) = cast(@fecha as date)



				if not exists (select 1 from #RETIROS where tipoRetiro = coalesce(@idTipoRetiro,tipoRetiro))
					begin
						select @mensaje = 'No se encontraron retiros con esos términos de búsqueda.'
						raiserror (@mensaje, 11, -1)
					end

				-- si hay registros de cierre de dia se regresa el monto total de las ventas del dia de la estacion
				--if exists( select 1 from #RETIROS where tipoRetiro = 2)
				--begin
				--	update	#RETIROS
				--	set		montoRetiro = a.totalXestacion
				--	from	(
				--				select	coalesce( sum(MontoTotal), 0) as totalXestacion, idEstacion
				--				from	Ventas 
				--				where	idStatusVenta = 1 --Activa
				--					and	cast(fechaAlta as date) = @fecha
				--				group by idEstacion
				--			) A
				--	where	#RETIROS.tipoRetiro = 2
				--		and #RETIROS.idEstacion = a.idEstacion

				--end


			--end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje as  mensaje

			select	* 
			from	#RETIROS 
			where	tipoRetiro = coalesce(@idTipoRetiro,tipoRetiro)
				and	idUsuario = case
									when @idUsuario is null then idUsuario
									when @idUsuario = 0 then idUsuario
									else @idUsuario
								end
				and idAlmacen = coalesce(@idAlmacen, idAlmacen)
			order by fechaAlta
								
		end -- reporte de estatus

	end  -- principal
