--USE [DB_A57E86_lluviadesarrollo]
--GO

IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_CONSULTA_CONFIGURACION_VENTAS')
begin
	DROP PROCEDURE SP_CONSULTA_CONFIGURACION_VENTAS
end
GO


/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_CONFIGURACION_VENTAS]    Script Date: 14/07/2021 11:37:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta una venta por su idVenta
status			200 = ok
				-1	= error
*/

create proc [dbo].[SP_CONSULTA_CONFIGURACION_VENTAS]

	@id_config		int

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit)

			end  --declaraciones 

			begin -- principal
				
				if not exists ( select 1 from ConfiguracionesVentas where id_config = @id_config)
					begin
						select	@mensaje = 'No existe la configuracion: ' + cast(@id_config as varchar(20)),
								@valido = cast(0 as bit)
						raiserror (@mensaje, 11, -1)
					end
				
			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje as  mensaje

			if ( @valido = cast(1 as bit) )
				begin
					select	id_config,
							descripcion,
							valor,
							activo
					from	ConfiguracionesVentas 
					where	id_config = @id_config
				end
								
		end -- reporte de estatus

	end  -- principal
go

grant exec on SP_CONSULTA_CONFIGURACION_VENTAS to public
go