--USE [DB_A57E86_lluviadesarrollo]
--GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_CIERRES_DIA]    Script Date: 05/08/2021 08:47:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Jessica Almonte Acosta
Fecha			2021/07/16
Objetivo		Consulta los cierres de dia
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_CIERRES_DIA]

    @idUsuario			int=null,
	@idAlmacen			int=null,
	@fechaIni			date = null,
	@fechaFin			date = null
as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = ''
						

			end  --declaraciones 

			--begin -- principal
			    if(@idUsuario is null and @idAlmacen is null)
				begin

				select @fechaIni = coalesce(@fechaIni, cast(dbo.FechaActual() as date))
				select @fechaFin = coalesce(@fechaFin, cast(dbo.FechaActual() as date))
				end


				select	
				r.idCierre,
				r.fechaAlta fechaCierre,
				al.descripcion descAlmacen,
				u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno nombreUsuario,
				MontoApertura montoApertura,				
				MontoIngresoEfectivo montoIngresosEfectivo,
				TotalVentas	 totalVentas,
				MontoTotalVentasContado montoVentasContado,
				MontoTotalVentasTarjeta montoVentasTarjeta,
				MontoTotalVentasCanceladas montoVentasCanceladas,
				ProductosDevueltos,
				MontoTotalDevoluciones,
				MontoRetiroEfectivo retirosExcesoEfectivo,
				MontoCierreDia montoCierre,
				monto efectivoDisponible,
				coalesce(r.EfectivoEntregadoEnCierre, 0) as EfectivoEntregadoEnCierre
				INTO #RETIROS
				from	RetirosCierreDia R
							inner join Usuarios u 
								on u.idUsuario = r.idUsuario							
							inner join Almacenes al on al.idAlmacen = u.idAlmacen							
				where	
				
				u.idUsuario = coalesce(@idUsuario,r.idUsuario) and
				al.idAlmacen = coalesce(@idAlmacen,al.idAlmacen) and
				cast(r.fechaAlta as date) >= coalesce(cast(@fechaIni as date),cast(r.fechaAlta as date)) and
				cast(r.fechaAlta as date) <=coalesce(cast(@fechaFin as date),cast(r.fechaAlta as date))

				if not exists (select 1 from #RETIROS)
				begin
					select @mensaje = 'No se encontraron cierres de caja con esos términos de búsqueda.'
					raiserror (@mensaje, 11, -1)
				end

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje as  mensaje

			select	* from	#RETIROS 			
			order by fechaCierre
								
		end -- reporte de estatus

	end  -- principal
