@using System.Globalization;
@{
    ViewBag.Title = "Liquidos";
    List<SelectListItem> lstRoles = (List<SelectListItem>)ViewBag.lstRoles;
    List<SelectListItem> lstUsuarios = (List<SelectListItem>)ViewBag.lstUsuarios;

}

@model lluviaBackEnd.Models.Usuario

@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />
}
@*<!DOCTYPE html>*@


<h2>Consultar carga de mercancia líquidos </h2>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Buscar actualizacion de inventario</h4>
                <div class="card-header-action">
                    <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                </div>
            </div>
            <div class="collapse show" id="mycard-collapse">
                <div class="card-body">
                    @using (Ajax.BeginForm("BuscarCargaMercanciaLiquidos", "Productos",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnBegin = "onBeginSubmitCargaMercanciaLiquidos",
                        OnFailure = "onFailureCargaMercanciaLiquidos",
                        OnSuccess = "onSuccessCargaMercanciaLiquidos",
                    },
                    new { id = "frmBuscarCargaMercanciaLiquidos" }))
                    {

                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Rol</label>
                                    @Html.DropDownListFor(x => x.idRol, lstRoles, new { @class = "select-multiple", id = "idRol", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    @Html.DropDownListFor(x => x.idUsuario, lstUsuarios, new { @class = "select-multiple", id = "idUsuario", data_val = "false" })
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label>Rango de Fechas</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="text" id="rangeCargaMercanciaLiquidos" class="form-control daterange-cus">
                                        @Html.HiddenFor(x => x.fechaIni, new { @id = "fechaIni" })
                                        @Html.HiddenFor(x => x.fechaFin, new { @id = "fechaFin" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="text-right" style="margin-top:15px;">
                            <button type="button" id="btnLimpiarForm" class="btn btn-danger btn-icon icon-left">Limpiar</button>
                            <button type="submit" id="btnBuscarCargaMercanciaLiquidos" class="btn btn-success">Buscar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body" id="resultCargaMercanciaLiquidos">
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/EvtConsultaCargaMercanciaLiquidos.js"></script>

}


