@using lluviaBackEnd.Models
@{
    Sesion sesion = Session["UsuarioActual"] as Sesion;
    ViewBag.Title = "LimitesInventario";
}

@model LimiteInvetario


@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/assets/bundles/select2/dist/css/select2.min.css" />
}

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Limites Inventario</h4>
            </div>
            <div class="card-body">
                @using (Ajax.BeginForm("ObtenerLimitesInventario", "Productos",
                  new AjaxOptions
                  {
                      HttpMethod = "Post",
                      OnBegin = "onBeginSubmitLimitesInventario",
                      OnFailure = "onFailureResultLimitesInventario",
                      OnSuccess = "onSuccessResultLimitesInventario",
                  },
                  new { id = "frmBuscarLimitesInventario" }))
                {

                    <div class="row">

                        <div class="form-group col-lg-3">
                            <label>Almacen</label>
                            @if (sesion.idRol == 1)
                            {
                                @Html.DropDownListFor(x => x.idAlmacen, (List<SelectListItem>)ViewBag.listAlmacen, "--TODOS--", new { @class = "select-multiple", data_val = "false" })

                            }
                            else
                            {
                                @Html.DropDownListFor(x => x.idAlmacen, (List<SelectListItem>)ViewBag.listAlmacen, new { @class = "select-multiple", data_val = "false" })
                            }
                        </div>

                        <div class="form-group col-lg-3">
                            <label>Lìnea Producto</label>
                            @Html.DropDownListFor(x => x.idLineaProducto, (List<SelectListItem>)ViewBag.lstLineasDeProductos, "--TODOS--", new { @class = "select-multiple", data_val = "false" })
                        </div>

                        <div class="form-group col-lg-3">
                            <label>Estatus</label>
                            @Html.DropDownListFor(x => x.estatusInventario.idStatus, (List<SelectListItem>)ViewBag.listEstatusLimitesInventario, "--TODOS--", new { @class = "form-control", data_val = "false" })
                        </div>

                        <div class="col-lg-3" style="margin-top:30px;">
                            <button type="submit" class="btn btn-success">Buscar</button>
                       
                       
                           
                            <a href="~/assets/limitesInventario.xlsx" class="btn btn-icon icon-left btn-info">
                                <i class="fa fa-download"></i>Descarga Formato
                            </a>
                       
                        
                            <button class="btn btn-warning" type="button" id="btnImportarArchivo">Importar</button>
                        </div>

                    </div>
                }
                <hr style="margin-top:0" />

                <div id="ViewLimitesInventario">
                    @*@Html.Action("ObtenerLimitesInventario", "Reportes")*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalFileExcel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importar archivo excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="excelfile" name="excelfile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    <label class="custom-file-label" for="customFile">Seleccionar archivo</label>
                </div>
                <hr />
                <div class="table-responsive">
                    <div id="divFileExcel"></div>
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-primary" id="btnGuardarLimitesInventario">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
    <script src="~/js/evtLimitesInventario.js"></script>



}

