--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  UserDefinedFunction [dbo].[LineaProductoFraccion]    Script Date: 02/07/2021 0:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	esta funcion determina si un producto o un linea de producto necesita decimales en el front -end 
-- =============================================
ALTER FUNCTION [dbo].[LineaProductoFraccion]
(
 @idLineaProducto int = null
,@idProducto int = null
)
RETURNS BIT
AS
BEGIN
	-- Declare the return variable here
	declare @necesitaDecimal BIT
	
	if(@idLineaProducto is null)
	   select @idLineaProducto=idLineaProducto from  Productos p where p.idProducto = @idProducto
		
	 select @necesitaDecimal = case when @idLineaProducto in (12,20,22,25) then cast(1 as bit) else cast(0 as bit) end 

			 
		/* fin  esta validacion quiza deberia de ir en una funcion */

	return @necesitaDecimal --el producto existe;

END
