USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  UserDefinedFunction [dbo].[obtenerPrecioCompra]    Script Date: 24/06/2021 0:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[redondear]
 (
 @cantidad AS float
 )
RETURNS float
AS
BEGIN

declare @result as float

SELECT @result=CAST(Round(@cantidad,2,0) AS FLOAT)

RETURN	 @result
 
END