USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_APP_CONSULTA_PRODUCTOS_POR_DESCRIPCION]    Script Date: 24/06/2021 02:19:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_APP_CONSULTA_PRODUCTOS_POR_DESCRIPCION]
@descripcion varchar (500)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM Productos WHERE descripcion LIKE '%'+@descripcion+'%')
	begin
		select 200 estatus , 'se encontro un coincidencia' mensaje
		select P.*,[dbo].[LineaProductoFraccion](P.idLineaProducto,null) fraccion from Productos P where descripcion  like '%'+@descripcion+'%'  and activo= 1 order by descripcion
	end
	else
	begin
		select -1 estatus , 'no existe un producto registrado con eso codigo de barras' mensaje
	end
END
