--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_APP_REGISTRA_PRODUCTO_INVENTARIO_FISICO]    Script Date: 29/06/2021 12:19:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			VIC
UsuarioRed		auhl373453
Fecha			2020/07/23
Objetivo		Consulta productos agregados/devueltos de una venta
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_APP_REGISTRA_PRODUCTO_INVENTARIO_FISICO]
@idInventarioFisico int ,
@idProducto int,
@idUbicacion int,
@idUsuario int,
@cantidadEnFisico float
as
	begin -- procedimiento
		begin try -- try principal
				BEGIN-- DECLARACIONES
					DECLARE
						@cantidadAAjustar float,	
						@cantidadActualSistema float,
						@tipoMovimientoInventario int = 13
				END

				--OBTENEMOS LA CANTIDAD ACTUAL DEL SISTEM
				select @cantidadActualSistema = cantidad from InventarioDetalle where idUbicacion = @idUbicacion  and idProducto = @idProducto 

				--CALCULAMOS LA CANTIDAD A AJUSTAR
				SET @cantidadAAjustar = ABS(coalesce(@cantidadActualSistema,0) - @cantidadEnFisico)

				--OBTENEMOS EL TIPO DE MOVIMIENTO YA QUE LA AFECTACION PUEDE SER POSITIVO O NEGATIVO 
				IF @cantidadAAjustar < 0
				BEGIN
					SET @tipoMovimientoInventario = 14
				END

				IF EXISTS (SELECT 1 FROM AjusteInventarioFisico WHERE  idUbicacion = @idUbicacion  AND idProducto =@idProducto and idInventarioFisico=@idInventarioFisico)
				BEGIN
					

						UPDATE AjusteInventarioFisico SET
						idUsuario  = @idUsuario,
						fechaAlta = dbo.FechaActual(),
						ajustado = 1,
						cantidadAAjustar = dbo.redondear(@cantidadAAjustar),
						cantidadEnFisico =  dbo.redondear(@cantidadEnFisico)
						
						wHERE  idUbicacion = @idUbicacion  AND idProducto =@idProducto and idInventarioFisico=@idInventarioFisico
				END
				ELSE
				BEGIN
					INSERT INTO AjusteInventarioFisico
												(
												idInventarioFisico
												,idProducto
												,idUbicacion
												,idUsuario
												,cantidadActual
												,cantidadEnFisico
												,cantidadAAjustar
												,fechaAlta
												,ajustado
												)
										VALUES
											  (
											    @idInventarioFisico,
												@idProducto,
												@idUbicacion,
												@idUsuario,
												 dbo.redondear(@cantidadActualSistema),
												 dbo.redondear(@cantidadEnFisico),
												 dbo.redondear(@cantidadAAjustar),
												dbo.FechaActual()
												,1
											  )
				END
				SELECT 200 Estatus , 'OK' Mensaje
		end try -- fin del try 
		begin catch
			SELECT -1 Estatus, error_message() Mensaje,error_line() Errorline
		end catch

	end -- fin de procedimiento