--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_APP_ACTUALIZA_ESTATUS_PRODUCTO_COMPRA]    Script Date: 29/06/2021 03:04:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			VIC
UsuarioRed		auhl373453
Fecha			2020/07/23
Objetivo		Consulta productos agregados/devueltos de una venta
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_APP_ACTUALIZA_ESTATUS_PRODUCTO_COMPRA]
	@productos XML ,
    @idAlmacen int ,
	@idUsuario int ,
	@idCompra int


as
	begin -- procedimiento
		begin try -- try principal
			
			IF OBJECT_ID('tempdb..#ProductosRecibidos') IS NOT NULL
			DROP TABLE #ProductosRecibidos
			create table #ProductosRecibidos
			(	
						indice int identity(1,1),	
						idCompraDetalle		int ,		
						idProducto			int ,		
						idEstatusProductoCompra	int ,		
						cantidadRecibida	float ,		
						cantidadDevuelta	float ,	
						observaciones		varchar(500),
						cantidadSolicitada float , 
						idEstausProductoCompraVerificada int,
						cantidadRealRecibida float
			)

			INSERT INTO  #ProductosRecibidos 
						(
						
						 idCompraDetalle		
						,idProducto			
						,idEstatusProductoCompra	
						,cantidadRecibida	
						,cantidadDevuelta
						,observaciones		
						)
			SELECT  
					P.value('idCompraDetalle[1]', 'INT') AS idCompraDetalle,
					P.value('idProducto[1]', 'INT') AS idProducto,
					P.value('idEstatusProductoCompra[1]', 'INT') AS idEstatusProductoCompra,
					P.value('cantidadRecibida[1]', 'float') AS cantidadRecibida,
					P.value('cantidadDevuelta[1]', 'float') AS cantidadDevuelta,
					P.value('observaciones[1]', 'VARCHAR(500)') AS observaciones
			FROM  @productos.nodes('//ArrayOfProductosCompra/ProductosCompra') AS x(P)
			-- CALCULAMOS LOS ESTATUS DEL PRODUCTO DE LA COMPRA LOS CUALES DEBEN SER IGUALES A LOS ENVIADOS POR LA APP 
			/* idEstatusProductoCompra	descripcion
				1					Cantidad Correcta
				2					Cantidad Mayor a la solicitada
				3					Cantidad Menor a la solicitada
				4					Devolucion parcial del producto
				5					Devolucion completa del producto
			*/
			UPDATE PR 
			SET
			PR.cantidadRealRecibida = dbo.redondear(PR.cantidadRecibida - PR.cantidadDevuelta),
			PR.cantidadSolicitada = dbo.redondear(C.cantidad),
			PR.idEstausProductoCompraVerificada = case 
												       when PR.cantidadRecibida > C.cantidad then 2
													   when PR.cantidadRecibida < C.cantidad and isnull(PR.cantidadDevuelta,0)=0 then 3
													  -- when PR.cantidadDevuelta != C.cantidad AND PR.cantidadRecibida < C.cantidad and isnull(PR.cantidadDevuelta,0)>0 then 4
													   when PR.cantidadRecibida = C.cantidad and isnull(PR.cantidadDevuelta,0)> 0 then 4
													   when PR.cantidadDevuelta = C.cantidad then 5
													   when PR.cantidadRecibida = C.cantidad then 1
													end
			from #ProductosRecibidos PR join ComprasDetalle C on PR.idCompraDetalle = C.idCompraDetalle
			
			--select * from #ProductosRecibidos
			--return
			begin -- validaciones
			
				if exists (select 1 from #ProductosRecibidos PR left join ComprasDetalle C on PR.idCompraDetalle = C.idCompraDetalle
					where C.idCompraDetalle is null and C.idCompra is null)
				begin
					select -1 Estatus , 'La compra contiene un producto que no le pertenece' Mensaje
					return
				end

				if exists (select 1 from #ProductosRecibidos  WHERE idEstatusProductoCompra != idEstausProductoCompraVerificada)
				begin
					select -1 Estatus , 'La compra contiene un idEstatusProductoCompra no valido' Mensaje
					return
				end


				if exists (select 1 from Compras where idCompra =@idCompra  and idStatusCompra !=1)
				begin
					select -1 Estatus , 'Esta compra ya ha sido procesada' Mensaje
					return
				end
			end


			
			declare  	@tran_name varchar(32) = 'PRODUCTO_COMPRA',
						@tran_count int = @@trancount,
						@tran_scope bit = 0

			if @tran_count = 0
				begin tran @tran_name
			else
				save tran @tran_name
				
			select @tran_scope = 1
				

				BEGIN-- DECLARACIONES
					DECLARE
					@indice int = 1,
					@max int = 0,
					@cantidadDevuelta float = 0,
					@cantidadRecibida float = 0,
					@idProducto int = 0,
					@cantidadActual float  =0,
					@cantidadTotal float = 0,
					@cantidadRealRecibida float=0,
					@idTipoMovInventario int = 12		
				END



				SELECT @max = max(indice) from #ProductosRecibidos
				
				WHILE(@indice <= @max)
					BEGIN -- BEGIN WHILE

					   SELECT 
							 @idProducto =idProducto 
							,@cantidadRecibida =cantidadRecibida 
							,@cantidadDevuelta =cantidadDevuelta
							,@cantidadRealRecibida = cantidadRealRecibida 
					   FROM 
							#ProductosRecibidos 
					   WHERE indice = @indice

					   IF @cantidadRecibida > 0
					   BEGIN -- INICIO DEL IF QUE VALIDA SI PODEMOS  AFECTAR LOS INVENTARIOS
					   	   
						   DECLARE
						   @idUbicacion int = 0

						   SELECT  @idUbicacion = idUbicacion FROM Ubicacion WHERE idAlmacen =@idAlmacen and idPasillo = 0  and idRaq =0 and idPiso = 0

						   -- SI LA QUERY DE ARRIBA NO ME REGRESA RESULTADO QUIERE DECIR QUE LA UBICACION NO EXISTE Y POR LO TANTO HAY QUE INSERTARLA
						   IF coalesce(@idUbicacion,0) = 0
						   BEGIN
								INSERT INTO Ubicacion (idAlmacen,idPasillo,idRaq,idPiso) VALUES (@idAlmacen,0,0,0)
								SELECT  @idUbicacion = idUbicacion FROM Ubicacion WHERE idAlmacen =@idAlmacen and idPasillo = 0  and idRaq =0 and idPiso = 0
						   END

						   -- INSERTAMOS EN INVENTARIO  E INVENTARIO DETALLE UNA VEZ QUE INSERTAMOS LA UBICACION EN 0
						   -- LO CUAL QUIERE DECIR QUE AUN NO ESTA ACOMODADA
						   IF EXISTS (SELECT 1 FROM  InventarioDetalle ID where ID.idUbicacion =  @idUbicacion and idProducto = @idProducto )
						   BEGIN
								select  @cantidadActual = isnull(ID.cantidad,0) 
								from InventarioDetalle ID 
								where ID.idUbicacion =  @idUbicacion and idProducto = @idProducto

								set @cantidadTotal = @cantidadRealRecibida + isnull(@cantidadActual,0)

								--INSERTAMOS EN INVENTARIO DETALLE
								insert into InventarioDetalleLog (
																idUbicacion
																,idProducto
																,cantidad
																,cantidadActual
																,idTipoMovInventario
																,idUsuario
																,fechaAlta
																,idCompra
																)
														VALUES(
																@idUbicacion,
																@idProducto,
																dbo.redondear(@cantidadRecibida),
																dbo.redondear(@cantidadTotal),
																@idTipoMovInventario,
																@idUsuario,
																dbo.FechaActual(),
																@idCompra
																)

									UPDATE InventarioDetalle set cantidad =  dbo.redondear(@cantidadTotal) , fechaActualizacion = dbo.FechaActual()
									WHERE  idProducto = @idProducto and idUbicacion  = @idUbicacion
							END
							ELSE -- si no existe el producto en inventario detalle , es decir si es la primera vez que insertamos el producto  a inventario
							BEGIN
								-- INSERTAMOS EN INVENTARIO DETALLE
								INSERT INTO InventarioDetalleLog (
																idUbicacion
																,idProducto
																,cantidad
																,cantidadActual
																,idTipoMovInventario
																,idUsuario
																,fechaAlta
																,idCompra
																)
												VALUES         (
															@idUbicacion,
															@idProducto,
															dbo.redondear(@cantidadRealRecibida),
															dbo.redondear(@cantidadRealRecibida),
															@idTipoMovInventario,
															@idUsuario,
															dbo.FechaActual(),
															@idCompra
														)

								INSERT INTO InventarioDetalle (idProducto,cantidad,fechaAlta,idUbicacion,fechaActualizacion)
								VALUES (@idProducto , dbo.redondear(@cantidadRealRecibida) , dbo.FechaActual() ,@idUbicacion, dbo.FechaActual())
							END
							--PREPARAMOS LAS VARIABLES PARA EL InventarioGeneralLog
							declare 
							@cantidadActInvGeneral float,
							@cantidadDespuesDeOperacionInvGeneral float 

							--	obtenemos la cantidad actual del inventario general
							SELECT @cantidadActInvGeneral=cantidad from InventarioGeneral where idProducto = @idProducto 
							--	sumamos la cantidad que que recibio en inv general
							SET @cantidadDespuesDeOperacionInvGeneral = coalesce(@cantidadActInvGeneral,0)+ @cantidadRealRecibida

							INSERT INTO InventarioGeneralLog(idProducto,cantidad,cantidadDespuesDeOperacion,fechaAlta,idTipoMovInventario)
							values(@idProducto,dbo.redondear(@cantidadRealRecibida),dbo.redondear(@cantidadDespuesDeOperacionInvGeneral),dbo.FechaActual(),@idTipoMovInventario)
		

							-- INSERTAMOS LOS VALORES EN EL INVENTARIO GENERAL
							IF exists (select 1 from InventarioGeneral where idProducto = @idProducto)
							BEGIN
									UPDATE InventarioGeneral
									SET
										cantidad = dbo.redondear((cantidad + @cantidadRealRecibida)),
										fechaUltimaActualizacion = dbo.FechaActual()
									WHERE
										idProducto = @idProducto
							END
							ELSE
							BEGIN 
									INSERT InventarioGeneral (idProducto,cantidad,fechaUltimaActualizacion)
									VALUES(@idProducto ,dbo.redondear(@cantidadRealRecibida), dbo.FechaActual() )
							END
						END -- FIN DEL IF QUE VALIDA SI PODEMOS  AFECTAR LOS INVENTARIOS
						SET @indice = @indice +1 
						
					END -- FIN DEL WHILE
                
				-- ACTULIZAMOS EL ESTATUS DE LOS PRODUCTOS DE LAS COMPRAS
				UPDATE CD
				SET 
					 CD.cantidadRecibida  = dbo.redondear(PR.cantidadRecibida)
					,CD.observaciones = PR.observaciones
					,CD.idEstatusProductoCompra = PR.idEstatusProductoCompra
					,CD.fechaRecibio =  dbo.FechaActual()
					,CD.cantidadDevuelta = dbo.redondear(coalesce(PR.cantidadDevuelta,0))
					,cd.idUsuarioRecibio = @idUsuario
				FROM 
				ComprasDetalle CD  
				JOIN #ProductosRecibidos PR ON CD.idCompra = @idCompra AND  CD.idProducto = PR.idProducto  and CD.idCompraDetalle = PR.idCompraDetalle

				--
				--SELECT * FROM CatStatusCompra
				--ACTUALIZAMOS EL ESTATUS GENERAL DE LA COMPRA AL ESTATUS DE FINALIZADA
				UPDATE Compras 
				SET 
					idStatusCompra= 2 /*REALIZADA*/ , fechaCambioEstatus = dbo.FechaActual()
				WHERE idCompra = @idCompra

			--VALIDAMOS SI LA TRANSACCION SE GENERO AQUI , AQUIMISMO SE HACE EL COMMIT	
		    if @tran_count = 0	
			begin -- si la transacción se inició dentro de este ámbito
						
				commit tran @tran_name
				select @tran_scope = 0
						
			end -- si la transacción se inició dentro de este ámbito

			select 200 Estatus , 'OK' Mensaje 
			DROP TABLE #ProductosRecibidos
						
		end try -- fin del try 
		begin catch
			SELECT -1 Estatus, error_message() Mensaje,error_line() Errorline

			if @tran_scope = 1
				rollback tran @tran_name
		end catch

	end -- fin de procedimiento