--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_APP_ACTUALIZAR_UBICACION_INVENTARIO]    Script Date: 22/06/2021 01:30:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--DROP PROCEDURE SP_ACTUALIZAR_UBICACION_INVENTARIO
ALTER PROCEDURE [dbo].[SP_APP_ACTUALIZAR_UBICACION_INVENTARIO]
@idUbicacion int,
@idProducto int,
@cantidad float,
@idPasillo int,
@idRaq int,
@idPiso int,
@idAlamacen int,
@idUsuario INT
AS
BEGIN
/*idTipoMovInventario	
1	Venta
2	Resutir
3	Cancelacion
4	Carga de Inventario
5   Actualizacion de Inventario (asignacion de la ubicacion fisica del producto que desea agregar)
6   Actualizacion de Inventario (envio a ubicacion fisica del producto )
*/


	BEGIN TRY -- INICIO DEL SP 

		--validaciones generales
		declare
		@cantidadValidacion float
		
		SELECT @cantidadValidacion = cantidad  FROM InventarioDetalle WHERE idUbicacion = @idUbicacion and idProducto = @idProducto
		
		--validamos que la cantidad de producto que desea actualizar existe en el inventario
		if(@cantidad > @cantidadValidacion)
		begin
			select -1 Estatus, 'La cantidad de mercancia que quieres actualizar no corresponde con la del inventario actual ' as Mensaje
			return;
		end

		if not exists (select 1 from InventarioDetalle where  idProducto =@idProducto and cantidad > 0)
		begin 
			select -1 Estatus, 'No tienes inventario para el producto ' as Mensaje
			return;
				
		end

		BEGIN TRAN
				BEGIN
					declare
					@idUbicacionDestino int ,
					@cantidadActual float = 0,
					@cantidadTotal float =0,
					@idTipoMovInventario INT = 5
			
					print ('obteniendo la ubicacion ')

					-- SI EXISTE LA UBICACION DE DESTINO LA OBTENEMOS SI NO LA INSERTAMOS Y LA RECUPERAMOS
					IF EXISTS (SELECT 1 FROM Ubicacion U WHERE U.idAlmacen = @idAlamacen AND U.idPasillo = @idPasillo AND U.idPiso = @idPiso AND U.idRaq =@idRaq )
					BEGIN
						SELECT @idUbicacionDestino = MAX(U.idUbicacion) from Ubicacion U 
						WHERE  U.idAlmacen = @idAlamacen AND U.idPasillo = @idPasillo AND U.idPiso = @idPiso AND U.idRaq =@idRaq
					END
					ELSE
					BEGIN
							INSERT INTO Ubicacion (
          											idAlmacen
													,idPasillo
													,idRaq
													,idPiso
												   )
											VALUES(
													@idAlamacen,
													@idPasillo,
													@idRaq,
													@idPiso							
												)

						SELECT @idUbicacionDestino = MAX(U.idUbicacion) from Ubicacion U 
						WHERE  U.idAlmacen = @idAlamacen AND U.idPasillo = @idPasillo AND U.idPiso = @idPiso AND U.idRaq =@idRaq
					
					END
				print ('despues de obtener la ubicacion')
				-- AFECTAMOS EL INVENTARIO DETALLE DEL ALMACEN AL QUE CORRESPONDE
				-- VALIDAMOS SI YA EXISTE EL  PRODUCTO EN ES ALAMACEN LO ACTUALIZAMOS SI NO LO AGREGAMOS

				-- VALIDAMOS SI EL PRODUCTO YA EXISTE EN EL ALMACEN CORRESPONDIENTE SI EXISTE ACTUALIZAMOS LA CANTIDAD			
				IF exists (Select 1 from InventarioDetalle ID where ID.idUbicacion =  @idUbicacionDestino and idProducto = @idProducto )
				BEGIN
					select  @cantidadActual = isnull(ID.cantidad,0) 
					from InventarioDetalle ID 
					where ID.idUbicacion =  @idUbicacionDestino and idProducto = @idProducto

					set @cantidadTotal = @cantidad + @cantidadActual

					-- INSERTAMOS EN INVENTARIO DETALLE
					insert into InventarioDetalleLog (
													idUbicacion
													,idProducto
													,cantidad
													,cantidadActual
													,idTipoMovInventario
													,idUsuario
													,fechaAlta
													)
								VALUES(
									@idUbicacionDestino,
									@idProducto,
									dbo.redondear(@cantidad),
									dbo.redondear(@cantidadActual),
									@idTipoMovInventario,
									@idUsuario,
									dbo.FechaActual()
								)
					 update InventarioDetalle set cantidad = dbo.redondear(@cantidadTotal) , fechaActualizacion = dbo.FechaActual()
					 where  idProducto = @idProducto and idUbicacion  = @idUbicacionDestino
				END
				ELSE-- SI NO EXISTE EL PRODUCTO EN EL ALMACEN LO INSERTAMOS 
				BEGIN
						-- COMO ES LA PRIMERA VEX EN INVENTARIO DETALLE CANTIDAD ES IGUAL QUE CANTIDAD ACTUAL-(CANTIDAD ACTUAL ES IGUAL A CANTIDAD DESPUES DE LA OPERACION)
						-- INSERTAMOS EN INVENTARIO DETALLE
						 INSERT INTO InventarioDetalleLog (
														idUbicacion
														,idProducto
														,cantidad
														,cantidadActual
														,idTipoMovInventario
														,idUsuario
														,fechaAlta
														)
						VALUES                  (
													@idUbicacionDestino,
													@idProducto,
													dbo.redondear(@cantidad),
													dbo.redondear(@cantidad),
													@idTipoMovInventario,
													@idUsuario,
													dbo.FechaActual()
												)

							INSERT INTO InventarioDetalle (idProducto,cantidad,fechaAlta,idUbicacion,fechaActualizacion)
							VALUES (@idProducto , dbo.redondear(@cantidad) , dbo.FechaActual() ,@idUbicacionDestino, dbo.FechaActual())
				END
			
			
				--VAMOS A ACTUALIZAR EL INVENTARIO DETALLE DEL PRODUCTO DE ORIGEN YA QUE PUEDEN ACTUALIZAR N CANTIDAD
				--DE PRODUCTOS Y NO TODOS DE UN JALON
				print ('afectamos el producto origen')

				declare
				@cantidadActualProductoAfectado float = 0,
				@idTipoMovInventarioAfectado int  = 6,
				@cantidadRestanteAfectada 	float = 0

				-- obtenemos la cantidad actual del producto que se esta afectando para poder restar la cantidad
				-- que se esta actualizando

				select @cantidadActualProductoAfectado = cantidad 
				from InventarioDetalle 
				WHERE idProducto = @idProducto AND idUbicacion =@idUbicacion

				set @cantidadRestanteAfectada = isnull(@cantidadActualProductoAfectado - @cantidad , 0)
				--actualizamos la cantidad del producto  en caso de que solo se movio alguna parte de la cantidad total
				UPDATE InventarioDetalle  SET cantidad = dbo.redondear(@cantidadRestanteAfectada)
				WHERE idProducto = @idProducto AND idUbicacion =@idUbicacion
			
				-- obtenemos el restante de la cantidad del productos que se esta afectando
				--select @cantidadActualProductoAfectado 
			
				--isnertamos en el log con que cantidades quedo elproducto en la ubicacion origen
				INSERT INTO InventarioDetalleLog (
														idUbicacion
														,idProducto
														,cantidad
														,cantidadActual
														,idTipoMovInventario
														,idUsuario
														,fechaAlta
														)
			     			VALUES                  (
													@idUbicacion,
													@idProducto,
													dbo.redondear(@cantidad),
													dbo.redondear(@cantidadRestanteAfectada),
													@idTipoMovInventarioAfectado,
													@idUsuario,
													dbo.FechaActual()
												)

				
					print 'Ubicacion Destino '+ cast(@idUbicacionDestino as varchar)
					print '@cantidad '+ cast(@cantidad as varchar)
					print '@cantidadActualProductoAfectado '+ cast(@cantidadActualProductoAfectado as varchar)
					print '@cantidadRestanteAfectada '+ cast( @cantidadRestanteAfectada as varchar)
					--select @cantidadActualProductoAfectado ,  @cantidad , @cantidadActualProductoAfectado -  @cantidad
			
			COMMIT TRAN -- COMMIT DE LA TRANSACCION
			SELECT 200 Estatus, 'Producto actualizado correctamente' Mensaje
		END
	END TRY -- FIN DE TRY DEL SP
	BEGIN  CATCH 

		ROLLBACK TRAN
		SELECT 
			-1 Estatus ,
			'Ha ocurrido un error al agregar el producto al inventario general' Mensaje,
			 ERROR_NUMBER() AS ErrorNumber  ,
			 ERROR_MESSAGE() AS ErrorMessage  

	END CATCH

	


END
