--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_TICKET]    Script Date: 03/06/2021 03:03:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

exec SP_CONSULTA_TICKET 4089, 2, 1, 67
exec SP_CONSULTA_TICKET 4089, 2, 1, 72
exec SP_CONSULTA_TICKET 4089, 2, 1, 74
exec SP_CONSULTA_TICKET 4089, 2, 1, 75
exec SP_CONSULTA_TICKET 4089, 2, 1, 76

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta los datos del ticket del idVenta
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_TICKET]
	@idVenta		int,
	@tipoVenta		int,  -- 1-Normal / 2-Devolucion / 3-Agregar Productos a la venta / 4- Productos Liquidos
	@idStatusVenta	int = 1,
	@idDevolucion	int = null,
	@idComplemento	int = null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit)
						
			end  --declaraciones 


			if not exists ( select 1 from Ventas where idVenta = @idVenta and idStatusVenta=@idStatusVenta)
			begin
				select	@mensaje = 'No existe la venta seleccionada.',
						@status = -1,
						@valido = cast(0 as bit)
			end	

			if ( @tipoVenta = 2 )
			begin
				if not exists ( select 1 from VentasDetalle where idVenta = @idVenta and productosDevueltos > 0	  )
				begin
					select	@mensaje = 'No existen devoluciones para la venta seleccionada.',
							@status = -1,
							@valido = cast(0 as bit)
				end	
			end

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

		--reporte de estatus
			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje
							

		-- si todo ok
			if ( @valido = cast(1 as bit) )
				begin
					
					if ( @tipoVenta = 2 )  -- devolucion 
						begin

							--select	ROW_NUMBER() OVER(ORDER BY v.idVenta DESC) AS contador,	
							--		v.idVenta,d.idVentaDetalle, d.idProducto, d.productosDevueltos as cantidad, 
							--		(d.precioVenta * d.productosDevueltos) as monto,
							--		p.descripcion as descProducto, v.idCliente, 
							--		case
							--			when c.nombres is null then 'PÚBLICO EN GENERAL' 
							--			else c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno
							--		end as nombreCliente,
							--		u.idUsuario, u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario, d.montoComisionBancaria,
							--		v.fechaAlta, d.precioVenta, d.idVentaDetalle, v.idFactFormaPago as formaPago, formaPago.descripcion as descFormaPago, 
							--		d.idEstatusProductoVenta, d.productosDevueltos,v.codigoBarras, v.montoPagado
							--from	Ventas v 
							--			inner join VentasDetalle d
							--				on v.idVenta = d.idVenta
							--			left join Clientes c
							--				on c.idCliente = v.idCliente
							--			inner join Usuarios u
							--				on u.idUsuario = v.idUsuario
							--			inner join Productos p
							--				on p.idProducto = d.idProducto
							--			inner join FactCatFormaPago formaPago
							--				on v.idFactFormaPago = formaPago.id
							--where	v.idVenta = @idVenta
							--	and d.productosDevueltos > 0

							select	ROW_NUMBER() OVER(ORDER BY dd.idVenta DESC) AS contador,	
									dd.idVenta, vd.idVentaDetalle, dd.idProducto, dd.cantidad, 
									(vd.precioVenta * dd.cantidad) as monto,
									p.descripcion as descProducto, dev.idCliente, 
									case
										when c.nombres is null then 'PÚBLICO EN GENERAL' 
										else c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno
									end as nombreCliente,
									u.idUsuario, u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario, vd.montoComisionBancaria,
									dev.fechaAlta, vd.precioVenta, vd.idVentaDetalle, dev.idFactFormaPago as formaPago, formaPago.descripcion as descFormaPago, 
									vd.idEstatusProductoVenta, vd.productosDevueltos, v.codigoBarras, v.montoPagado
							-- select *
							from	DevolucionesDetalle dd
										inner join Devoluciones dev
											on dev.idDevolucion = dd.idDevolucion
										--inner join VentasDetalle d
										--	on v.idVenta = d.idVenta
										left join Clientes c
											on c.idCliente = dev.idCliente
										inner join Usuarios u
											on u.idUsuario = dev.idUsuario
										inner join Productos p
											on p.idProducto = dd.idProducto
										inner join FactCatFormaPago formaPago
											on dev.idFactFormaPago = formaPago.id
										inner join	(
														select	idVenta, 0 as idVentaDetalle, precioVenta, coalesce(montoComisionBancaria, 0) montoComisionBancaria, 
																0 as idEstatusProductoVenta, 0 as productosDevueltos, idProducto 
														from	VentasDetalle 
														where	idVenta = @idVenta
														group by idVenta, precioVenta, idProducto, coalesce(montoComisionBancaria, 0)
													) vd										
											on vd.idVenta = dd.idVenta and vd.idProducto = dd.idProducto
										inner join Ventas v
											on v.idVenta = dd.idVenta
							where	dd.idVenta = @idVenta
								and	dd.idDevolucion = @idDevolucion

						end
                    else if ( @tipoVenta = 3 )  -- 3-Agregar Productos a la venta 
						begin
						
							select	ROW_NUMBER() OVER(ORDER BY cc.idVenta DESC) AS contador,	
									cc.idVenta, vd.idVentaDetalle, cc.idProducto, cc.cantidad, 
									(vd.precioVenta * cc.cantidad) as monto,
									p.descripcion as descProducto, com.idCliente, 
									case
										when c.nombres is null then 'PÚBLICO EN GENERAL' 
										else c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno
									end as nombreCliente,
									u.idUsuario, u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario, vd.montoComisionBancaria,
									com.fechaAlta, vd.precioVenta, vd.idVentaDetalle, com.idFactFormaPago as formaPago, formaPago.descripcion as descFormaPago, 
									vd.idEstatusProductoVenta, vd.productosDevueltos, v.codigoBarras, v.montoPagado
							--select *
							from	ComplementosDetalle cc
										inner join Complementos com
											on com.idComplemento = cc.idComplemento
										left join Clientes c
											on c.idCliente = com.idCliente
										inner join Usuarios u
											on u.idUsuario = com.idUsuario
										inner join Productos p
											on p.idProducto = cc.idProducto
										inner join FactCatFormaPago formaPago
											on com.idFactFormaPago = formaPago.id
										inner join	(
														select	idVenta, 0 as idVentaDetalle, precioVenta, coalesce(montoComisionBancaria, 0) montoComisionBancaria, 
																0 as idEstatusProductoVenta, 0 as productosDevueltos, idProducto 
														from	VentasDetalle 
														where	idVenta = @idVenta
														group by idVenta, precioVenta, idProducto, coalesce(montoComisionBancaria, 0)
													) vd
											on vd.idVenta = cc.idVenta and vd.idProducto = cc.idProducto
										inner join Ventas v
											on v.idVenta = cc.idVenta
							where	cc.idVenta = @idVenta
								and	cc.idComplemento = @idComplemento

						end
                    else if ( @tipoVenta = 4 )  -- 4- Productos Liquidos
						begin
						
							select	ROW_NUMBER() OVER(ORDER BY v.idVenta DESC) AS contador,	
									v.idVenta, d.idProducto, d.cantidad, d.contadorProductosPorPrecio, d.monto as monto, d.montoIVA,
									coalesce (((d.precioIndividual - d.precioVenta) * d.cantidad ) , 0 )as ahorro , 
									p.descripcion as descProducto, v.idCliente, 
									case
										when c.nombres is null then 'PÚBLICO EN GENERAL' 
										else c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno
									end as nombreCliente,
									u.idUsuario, u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario, d.montoComisionBancaria,
									d.cantidadActualInvGeneral, d.cantidadAnteriorInvGeneral, v.fechaAlta, d.precioVenta, d.idVentaDetalle,
									v.idFactFormaPago as formaPago, formaPago.descripcion as descFormaPago, d.idEstatusProductoVenta, d.productosDevueltos,
									v.codigoBarras, v.montoPagado
							from	Ventas v 
										inner join VentasDetalle d
											on v.idVenta = d.idVenta
										left join Clientes c
											on c.idCliente = v.idCliente
										inner join Usuarios u
											on u.idUsuario = v.idUsuario
										inner join Productos p
											on p.idProducto = d.idProducto
										inner join FactCatFormaPago formaPago
											on v.idFactFormaPago = formaPago.id
							where	v.idVenta = @idVenta
								and	d.cantidad > 0 and p.idLineaProducto in (19,20)

						end
					else
						begin
						
							select	ROW_NUMBER() OVER(ORDER BY v.idVenta DESC) AS contador,	
									v.idVenta, d.idProducto, d.cantidad, d.contadorProductosPorPrecio, d.monto as monto, d.montoIVA,
									coalesce (((d.precioIndividual - d.precioVenta) * d.cantidad ) , 0 )as ahorro , 
									p.descripcion as descProducto, v.idCliente, 
									case
										when c.nombres is null then 'PÚBLICO EN GENERAL' 
										else c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno
									end as nombreCliente,
									u.idUsuario, u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario, d.montoComisionBancaria,
									d.cantidadActualInvGeneral, d.cantidadAnteriorInvGeneral,case when v.idStatusVenta=2 then v.fechaCancelacion else v.fechaAlta end fechaAlta, d.precioVenta, d.idVentaDetalle,
									v.idFactFormaPago as formaPago, formaPago.descripcion as descFormaPago, d.idEstatusProductoVenta, d.productosDevueltos,
									v.codigoBarras, v.montoPagado,v.idStatusVenta estatusVenta, v.montoPagadoAgregarProductos, v.montoAgregarProductos--, @tipoVenta as tipoVenta
							from	Ventas v 
										inner join VentasDetalle d
											on v.idVenta = d.idVenta
										left join Clientes c
											on c.idCliente = v.idCliente
										inner join Usuarios u
											on u.idUsuario = v.idUsuario
										inner join Productos p
											on p.idProducto = d.idProducto
										inner join FactCatFormaPago formaPago
											on v.idFactFormaPago = formaPago.id
							where	v.idVenta = @idVenta
								and	d.cantidad > 0
								and d.idEstatusProductoVenta is null

						end

				end
				
		end -- reporte de estatus

	end  -- principal


