USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_INDICADOR_MARGEN_BRUTO]    Script Date: 22/07/2021 22:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Jessica Almonte Acosta
UsuarioRed		aoaj720209
Fecha			2020/06/14
Objetivo		Calcular el margen bruto
*/

ALTER proc [dbo].[SP_INDICADOR_MARGEN_BRUTO]
@idTipoMargenBruto int, --1 global,2 por linea,3 por producto,4 productoVenta
@fechaIni datetime=null,
@fechaFin datetime=null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit)			

			end  --declaraciones 

			begin -- principal 

				select
				v.idVenta,
				v.fechaAlta,p.idProducto,p.descripcion producto,
				lp.idLineaProducto,lp.descripcion lineaProducto,
				vd.cantidad,vd.precioVenta,cast((vd.cantidad*vd.precioVenta) as money) TotalVenta,
				--[dbo].[obtenerPrecioCompra](vd.idProducto,cast(v.fechaAlta as date)) costoCompra,
				p.ultimoCostoCompra costoCompra,
				cast(0 as money) TotalCostoCompra,
				cast(0 as money) ganancia,
				cast(0 as money) gananciaTotal,
				p.codigoBarras
				INTO #VENTAS
				from Ventas v
				join VentasDetalle vd on v.idVenta=vd.idVenta
				join Productos p on vd.idProducto=p.idProducto
				join LineaProducto lp on p.idLineaProducto=lp.idLineaProducto
				where	v.idStatusVenta = 1 and cast(v.fechaAlta as date)>=coalesce(cast(@fechaIni as date),cast(v.fechaAlta as date))
				and  cast(v.fechaAlta as date)<=coalesce(cast(@fechaFin as date),cast(v.fechaAlta as date))

				UPDATE #VENTAS SET 
				TotalCostoCompra=(costoCompra * cantidad),
				ganancia=case when costoCompra=0 then 0 else precioVenta-costoCompra end,
				gananciaTotal=case when costoCompra=0 then 0 else precioVenta-costoCompra end*cantidad
				

				if not exists ( select 1 from #Ventas )
					begin
						select	@valido = cast(0 as bit),
								@status = -1,
								@mensaje = 'No se encontraron ventas para calcular el margen bruto, con esos términos de búsqueda.'
					end

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

		--reporte de estatus
			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje
							

		-- si todo ok
			if ( @valido = 1 )
				begin

				if(@idTipoMargenBruto=1) --global
				select 1 id,'Global' descripcion,sum(TotalVenta) totalVentas,sum(TotalCostoCompra) CostoVentas,sum(gananciaTotal) ContribucionMarginal,
				(case when sum(gananciaTotal)=0 then 0 else sum(gananciaTotal)/sum(TotalVenta) end) * 100 margenBruto
				from #VENTAS

				if(@idTipoMargenBruto=2)--por linea
				select idLineaProducto id,lineaProducto descripcion,sum(TotalVenta) totalVentas,sum(TotalCostoCompra) CostoVentas,sum(gananciaTotal) ContribucionMarginal,
				(case when sum(gananciaTotal)=0 then 0 else sum(gananciaTotal)/sum(TotalVenta) end) * 100 margenBruto
				from #VENTAS
				group by idLineaProducto,lineaProducto

				if(@idTipoMargenBruto=3)--por producto
				select idProducto id,producto descripcion,sum(TotalVenta) totalVentas,sum(TotalCostoCompra) CostoVentas,sum(gananciaTotal) ContribucionMarginal,
				(case when sum(gananciaTotal)=0 then 0 else sum(gananciaTotal)/sum(TotalVenta) end) * 100 margenBruto,
				codigoBarras
				from #VENTAS
				group by idProducto,producto,codigoBarras

				if(@idTipoMargenBruto=4)--por producto venta
				select idVenta id,producto descripcion,TotalVenta totalVentas,
				TotalCostoCompra CostoVentas,gananciaTotal ContribucionMarginal,
				(case when gananciaTotal=0 then 0 else gananciaTotal/TotalVenta end) * 100 margenBruto,
				codigoBarras
				from #VENTAS
							   
				DROP TABLE #VENTAS

			    end
				
		end -- reporte de estatus

	end  -- principal
