/****** Object:  StoredProcedure [dbo].[SP_RETIRA_EFECTIVO]    Script Date: 24/06/2021 23:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Realiza un retiro de efectvo por exceso de efectivo o por cierre de caja
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_RETIRA_EFECTIVO]

	@idEstacion			int,
	@idUsuario			int,
	@monto				money,
	@caso				int  -- 1-Exceso de Efectivo / 2-Cierre de Caja

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = 'Se inserto correctamente el retiro de dinero.',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@idRetiro				int = 0,
						@idCierre				int = 0, 
						@MontoRetiroEfectivo	money = 0, 
						@MontoTotalVentas		money = 0,
						@montoVentasContado		money=0,
						@montoVentasTarjeta     money=0,
						@MontoCierre			money = 0,
						@MontoTotal				money=0,
						@MontoIngresoEfectivo   money=0,
						@MontoAperturaCajas     money=0,
						@montoVentasCanceladas  money=0,
						@TotalVentas            int=0,
						@ProductosDevueltos		int=0,
						@MontoTotalDevoluciones money=0,
						@MontoTotalComplementosTarjeta	money=0,
						@MontoTotalComplementosContado	money=0
						
			end  --declaraciones 

			begin -- principal

				-- si todo bien
				-- caso 1 = exceso de efectivo
				if ( @caso = 1)
					begin
						insert into 
							RetirosExcesoEfectivo 
								(montoRetiro,idUsuario,idEstacion,idEstatusRetiro,fechaAlta , montoAutorizado)
						values	(@monto, @idUsuario, @idEstacion,2 /*Realizado*/ ,dbo.FechaActual() , @monto)

						select	@idRetiro = max(idRetiro) 
						from	RetirosExcesoEfectivo
						where	idUsuario = @idUsuario 
							and	idEstacion = @idEstacion
							and montoRetiro = @monto
					end

				-- cierre de caja
				if ( @caso = 2)
					begin


						select	v.*,cast(0 as int) ProductosDevueltos
						into #ventas_dia
						from	Ventas v 
						where idUsuario = @idUsuario
							and cast(fechaAlta as date) = cast(dbo.FechaActual() as date)

						select @MontoTotalComplementosContado=sum(montoAgregarProductos) from Complementos where idUsuario=@idUsuario and cast(fechaAlta as date)= cast(dbo.FechaActual() as date) and idFactFormaPago=1
						select @MontoTotalComplementosTarjeta=sum(montoAgregarProductos) from Complementos where idUsuario=@idUsuario and cast(fechaAlta as date)= cast(dbo.FechaActual() as date) and idFactFormaPago in (4,18)
			
						---le restamos al monto total los complementos que se hicieron ya que puede que no los hizo el usuario de la venta
						select @MontoTotalVentas = coalesce(sum((montoTotal)),0)
						from	#ventas_dia 

						--sumamos los complementos que hizo el usuario
						select @MontoTotalVentas = coalesce(@MontoTotalVentas,0)+coalesce(@MontoTotalComplementosContado,0) + coalesce(@MontoTotalComplementosTarjeta,0)

						select @ProductosDevueltos=sum(b.cantidad),@MontoTotalDevoluciones=sum(b.monto + coalesce(b.montoDevueltoComisionBancaria,0)) 
						from Devoluciones a
						join DevolucionesDetalle b on a.idDevolucion=b.idDevolucion
						where a.idUsuario=@idUsuario and cast(a.fechaAlta as date)= cast(dbo.FechaActual() as date)

								
						select 
						@TotalVentas=count(1)						
						from #ventas_dia

						select @montoVentasContado=SUM((montototal)) from #ventas_dia where idFactFormaPago=1
						select @montoVentasTarjeta=SUM((montototal)) from #ventas_dia where idFactFormaPago in (4,18)
			
						--sumamos los complementos del usuario
						select @montoVentasContado = coalesce(@montoVentasContado,0)+coalesce(@MontoTotalComplementosContado,0)
						select @montoVentasTarjeta = coalesce(@montoVentasTarjeta,0) + coalesce(@MontoTotalComplementosTarjeta,0)

						
						select @MontoAperturaCajas=monto from IngesosEfectivo where idUsuario=@idUsuario and idTipoIngreso=1 and cast(fechaAlta as date) = cast(dbo.FechaActual() as date)
						select @MontoIngresoEfectivo=sum(monto) from IngesosEfectivo where idUsuario=@idUsuario and idTipoIngreso=2 and cast(fechaAlta as date) = cast(dbo.FechaActual() as date)

						select @montoVentasCanceladas=(SUM(v.montototal) + coalesce(sum(c.montoAgregarProductos),0)) - coalesce(sum(b.monto + coalesce(b.montoDevueltoComisionBancaria,0)),0)
						from	Ventas v
						left join  Devoluciones a on v.idVenta=a.idVenta
						join DevolucionesDetalle b on a.idDevolucion=b.idDevolucion
						left join Complementos c on v.idVenta=c.idVenta
						where idUsuarioCancelacion = @idUsuario
						and cast(fechaCancelacion as date) = cast(dbo.FechaActual() as date) and idStatusVenta=2

						select @MontoRetiroEfectivo=SUM(montoRetiro) from	RetirosExcesoEfectivo
										where	idEstacion = @idEstacion
											and idUsuario = @idUsuario
											and cast(fechaAlta as date) = cast(dbo.FechaActual() as date)

						select @MontoTotal=ROUND((coalesce(@montoVentasContado,0) + coalesce(@montoVentasTarjeta,0) + coalesce(@MontoAperturaCajas,0) + coalesce(@MontoIngresoEfectivo,0)) - coalesce(@montoVentasCanceladas,0) - coalesce(@MontoTotalDevoluciones,0),2,0)
						select @MontoCierre=ROUND(coalesce(@MontoTotal,0) - coalesce(@MontoRetiroEfectivo,0) - coalesce(@montoVentasTarjeta,0),2,0)					

			

						insert into 
							RetirosCierreDia 
								(monto,idUsuario,idEstacion,fechaAlta,MontoTotalVentas, MontoRetiroEfectivo, MontoCierreDia,MontoApertura,MontoIngresoEfectivo,MontoTotalVentasContado,MontoTotalVentasTarjeta,MontoTotalVentasCanceladas,TotalVentas,ProductosDevueltos,MontoTotalDevoluciones)
						values	(coalesce(@MontoCierre,0), @idUsuario, @idEstacion, dbo.FechaActual(), coalesce(@MontoTotalVentas,0), coalesce(@MontoRetiroEfectivo,0), coalesce(@MontoTotal,0),coalesce(@MontoAperturaCajas,0),coalesce(@MontoIngresoEfectivo,0),
						coalesce(@montoVentasContado,0),coalesce(@montoVentasTarjeta,0),coalesce(@montoVentasCanceladas,0),coalesce(@TotalVentas,0),coalesce(@ProductosDevueltos,0),coalesce(@MontoTotalDevoluciones,0))

						select	@idCierre = max(idCierre) 
						from	RetirosCierreDia
						where	idUsuario = @idUsuario 
							and	idEstacion = @idEstacion
							and monto = @monto

						select	@mensaje = 'Se realizo el cierre de la Estacion:' + nombre + ' correctamente.'
						from	Estaciones 
						where	idEstacion = @idEstacion

						drop table #ventas_dia
					end

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje as  mensaje,
					@idRetiro as idRetiro,
					@idCierre as idCierre

		end -- reporte de estatus

	end  -- principal
