--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_VENTAS_EDITAR]    Script Date: 09/09/2021 11:16:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[SP_CONSULTA_VENTAS_EDITAR]	
	@idCliente				int = null,
	@idUsuario				int = null,
	@fechaIni				datetime = null,
	@fechaFin				datetime = null,
	@idFactFormaPago		int=null,
	@idAlmacen				int=null,
	@codigoBarrasTicket     varchar(250)=null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status							int = 200,
						@mensaje						varchar(255) = '',
						@error_line						varchar(255) = '',
						@error_procedure				varchar(255) = '',
						@valido							bit = cast(1 as bit),
						@hoy							datetime						
				-- para ver hasta cuantos dias pueden hacerse los complementos y devoluciones
				select @hoy = dbo.FechaActual()

			end  --declaraciones 

			begin -- principal 
				
		

				-- validamos si la columnas de las fecha vienen en null o el formatobase seteamos la fecha original
					  set @fechaIni = coalesce(@fechaIni,cast(dbo.FechaActual() as date))
					  set @fechaFin = coalesce(@fechaFin,cast(dbo.FechaActual() as date))		
					  
				
						
						select							
								v.idVenta,
								v.idCliente,
								 coalesce((cl.nombres + ' ' + cl.apellidoPaterno + ' ' + cl.apellidoMaterno),'PÚBLICO EN GENERAL') as nombreCliente,
			                    v.cantidad,
								v.fechaAlta,
								v.idUsuario,
								u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario,
								f.idFactura, 
								f.idEstatusFactura,
								s.descripcion descripcionEstatusFactura,
								--f.pathArchivoFactura+'/'+'Factura_'+cast(v.idVenta as varchar)+'.pdf' as rutaFactura,
								f.pathArchivoFactura as rutaFactura,
								v.devoluciones productosDevueltos, 
								v.productosAgregados,
								coalesce(prodLiq.cantProductosLiq,0) cantProductosLiq,
								v.codigoBarras codigoBarrasTicket,
								v.fechaCancelacion,
								v.montoTotal,
								v.idFactFormaPago,
								formaPago.descripcion descripcionFactFormaPago,
								v.puedeHacerComplementos,
							    a.Descripcion descripcionAlmacen, 
								DATEDIFF(day, v.fechaAlta, @hoy) diasPasadosVentaInicial
								into #Ventas
						from	Ventas v
									inner join Usuarios u
										on u.idUsuario = v.idUsuario
									left join (select idVenta,sum(cantidad)cantProductosLiq from VentasDetalle vd join Productos p on vd.idProducto=p.idProducto
									where p.idLineaProducto in (19,20) group by idVenta 
									) prodLiq on v.idVenta=prodLiq.idVenta
									left join Clientes cl
										on v.idCliente = cl.idCliente									
									left join Facturas f
										on f.idVenta = v.idVenta
									left join FacCatEstatusFactura s
										on s.idEstatusFactura = f.idEstatusFactura
									left join [dbo].[CatTipoCliente] t on cl.idTipoCliente=t.idTipoCliente
									left join Estaciones e on v.idestacion=e.idestacion 
									left join Almacenes a on e.idAlmacen=a.idAlmacen
									left join CatSucursales suc on a.idSucursal=suc.idSucursal
									left join FactCatFormaPago formaPago on v.idFactFormaPago=formaPago.id									
						where	v.idCliente=case when @codigoBarrasTicket is null then coalesce(@idCliente,v.idCliente) else v.idCliente end  and
							    v.idUsuario =case when @codigoBarrasTicket is null then coalesce(@idUsuario,v.idUsuario) else v.idUsuario end and
								v.idFactFormaPago =case when @codigoBarrasTicket is null then coalesce(@idFactFormaPago,v.idFactFormaPago) else v.idFactFormaPago end and
								cast(v.fechaAlta as date) >=case when @codigoBarrasTicket is null then coalesce(cast(@fechaIni as date),cast(v.fechaAlta as date)) else cast(v.fechaAlta as date) end and
								cast(v.fechaAlta as date) <=case when @codigoBarrasTicket is null then coalesce(cast(@fechaFin as date),cast(v.fechaAlta as date)) else cast(v.fechaAlta as date) end and
								u.idAlmacen=coalesce(@idAlmacen,u.idAlmacen) and
								v.codigoBarras like coalesce(@codigoBarrasTicket,v.codigoBarras) and
								v.idStatusVenta = 1
						

				
				if not exists ( select 1 from #Ventas )
					begin
						select	@valido = cast(0 as bit),
								@status = -1,
								@mensaje = 'No se encontraron ventas con esos términos de búsqueda.'
					end

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

		--reporte de estatus
			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje
							

		-- si todo ok
			if ( @valido = 1 )
				begin

				    select * from #Ventas
					order by fechaAlta desc 					
				end
				
		end -- reporte de estatus

	end  -- principal


