USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_CLIENTES]    Script Date: 11/09/2021 04:28:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta los diferentes clientes del sistema
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_CLIENTES]

	@idCliente				int

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(0 as bit)

			end  --declaraciones 

			begin -- principal
				
				if not exists ( select 1 from clientes )
					begin
						select @mensaje = 'No existen clientes registrados.'
						raiserror (@mensaje, 11, -1)
					end
				else
					begin
						select @valido = cast(1 as bit)
					end

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			if ( @valido = cast(1 as bit) )
				begin
						
					select	distinct 
							@status status,
							@error_procedure error_procedure,
							@error_line error_line,
							@mensaje mensaje
					select 
							ROW_NUMBER() OVER(ORDER BY idCliente DESC) AS contador,
							c.idCliente,
							c.nombres,
							c.apellidoPaterno,
							case
								when ( (c.activo = cast(0 as bit)) or (c.activo is null) ) then c.apellidoMaterno + ' (BAJA)'
								else c.apellidoMaterno
							end as apellidoMaterno,
							c.telefono,
							c.correo,
							case
								when c.rfc is null then '[no tiene]'
								else c.rfc
							end as rfc,
							c.calle,
							c.numeroExterior,
							c.numeroInterior,
							c.localidad,
							c.colonia,
							c.municipio,
							c.cp,
							c.estado,
							c.fechaAlta,
							c.activo,
							c.nombreContacto,
							c.esPersonaMoral,
							c.idTipoCliente,
							t.descripcion, 
							cast(t.descuento as decimal(18,2)) as descuento,
							UPPER(c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno) as nombreCompleto_
							
					from	Clientes c
							inner join CatTipoCliente t
								on c.idTipoCliente = t.idTipoCliente
					where	c.idCliente	 =	case
												when @idCliente > 0 then @idCliente
												else c.idCliente
											end
							and c.activo = 1
					order by fechaAlta desc
						--and	c.activo = cast(1 as bit)
				end
			else
				begin

					select	-1 status,
							@error_procedure error_procedure,
							@error_line error_line,
							@mensaje as  mensaje
							
				end

				
		end -- reporte de estatus

	end  -- principal
