--USE [DB_A57E86_lluviadesarrollo]
--GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_VENTA]    Script Date: 14/07/2021 11:37:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta una venta por su idVenta
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_VENTA]

	@idVenta	int

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit)

			end  --declaraciones 

			begin -- principal
				
				if not exists ( select top 1 1 from Ventas where idVenta = @idVenta)
					begin
						select	@mensaje = 'No existe la venta.' + cast(@idVenta as varchar(20)),
								@valido = cast(0 as bit)
						raiserror (@mensaje, 11, -1)
					end
				
			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje as  mensaje


			if ( @valido = cast(1 as bit) )
				begin
						
					select	v.idVenta,
							v.idCliente,
							v.cantidad,
							v.fechaAlta,
							v.montoTotal,
							v.idUsuario,
							v.idStatusVenta,
							v.idFactFormaPago,
							v.idFactUsoCFDI, 
							coalesce(f.idEstatusFactura, 0) as idEstatusFactura
					from	Ventas v
								left join Facturas f
									on f.idVenta = v.idVenta
					where	v.idVenta = @idVenta


				end
								
		end -- reporte de estatus

	end  -- principal
