:root {
    --lluvia-primary-color: #a6ce3a;
}


td.details-control {
    background: url('../../assets/img/details_open.png') no-repeat center center !important;
    cursor: pointer !important;
}

tr.shown td.details-control {
    background: url('../../assets/img/details_close.png') no-repeat center center !important;
}

.text-cantidad {
    font-weight:600
}

.sub-title-lluvia {
    color: var(--lluvia-primary-color);
    font-size: 16px;
    font-weight: 400
}


.sub-menu-item-active {
    background: #A4C254 !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    border-radius: 12px !important;
}
