@using (Ajax.BeginForm("IngresoEfectivo", "Ventas",
                  new AjaxOptions
                  {
                      HttpMethod = "Post",
                      OnBegin = "onBeginSubmitIngresoEfectivo",
                      OnComplete = "onCompleteSubmitIngresoEfectivo",
                      OnFailure = "onFailureResultIngresoEfectivo",
                      OnSuccess = "onSuccessResultIngresoEfectivo",
                  },
                  new { id = "frmIngresoEfectivo" }))
{
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-4">
            <input id="idTipoIngresoEfectivo" name="idTipoIngresoEfectivo" type="hidden" value="@ViewBag.idTipoIngresoEfectivo">
            <div class="form-group">
                @*<label>Monto</label>*@
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input id="montoIngresoEfectivo" name="montoIngresoEfectivo" type="text" class="form-control" onkeypress="return esDecimal(event)" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="text-right" style="margin-top:15px;">
                @*<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button> &nbsp;&nbsp;*@
                <button class="btn btn-success" type="submit">Guardar</button>
            </div>
        </div>
    </div>
}
