@using System.Globalization;
@model lluviaBackEnd.Models.Notificacion<List<lluviaBackEnd.Models.Retiros>>

@{
    List<lluviaBackEnd.Models.Retiros> retiros = Model.Modelo;
}

@if (Model.Estatus != 200)
{

    <div class="empty-state">
        <div class="empty-state-icon">
            <i class="fas fa-info"></i>
        </div>
        <h2>@Model.Mensaje</h2>
    </div>

}
else
{
    
    <h5>Retiros del Día</h5>
    <br />
    <ul class="activity-list">

    @foreach (lluviaBackEnd.Models.Retiros r in retiros)
    {
        <li>
            @if (r.tipoRetiro == lluviaBackEnd.Models.EnumTipoRetiro.RetirosExcesoEfectivo)
            {
                <i class="activity-icon bg-info"></i>
            }
            else
            {
                <i class="activity-icon bg-success"></i>
            }

            <h6>@r.nombreUsuario <small class="float-right text-muted">@r.fechaAlta</small></h6>

            @if (r.tipoRetiro == lluviaBackEnd.Models.EnumTipoRetiro.RetirosExcesoEfectivo)
            {
                <span class="font-12">Monto: $@r.montoRetiro</span>
            }
            else
            {
                <span class="font-12">Monto: $@r.montoRetiro</span> <small class="float-right text-muted"><strong>Cierre de Día</strong></small><br>
                <small class="float-right text-muted"> <a href="javascript:ImprimeTicketRetiro(@r.idRetiro,2)" data-toggle="tooltip" title="" data-original-title="Reimprimir Ticket"><i class="fas fa-print"></i> Reimprimir Ticket</a> </small>
                
            }




        </li>
    }

    </ul>
    
}




