
@using lluviaBackEnd.Models
@{
    ViewBag.Title = "Ventas";    
}

<section class="section">
    <div class="section-body">
        <div class="row mt-sm-12">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="padding-20">
                      
                            <div class="section-title">Caja Cerrada</div>
                            <hr />
                        <div class="row">
                            @Html.Action("_CierreDia","Ventas",new { mostrarEfectivoEntregado = ViewBag.mostrarEfectivoEntregado })
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/js/index.js"></script>
    <script src="~/js/evtCierreCajas.js"></script>
}