GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SP_FACTURACION_INSERTA_FACTURA_CANCELADA_PEDIDOS_ESPECIALES]') AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE [SP_FACTURACION_INSERTA_FACTURA_CANCELADA_PEDIDOS_ESPECIALES]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FACTURACION_INSERTA_FACTURA_CANCELADA]    Script Date: 13/12/2021 08:14:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[SP_FACTURACION_INSERTA_FACTURA_CANCELADA_PEDIDOS_ESPECIALES]
@idPedidoEspecial int,
@idUsuario int,
@idEstatusFactura int ,
@msjError varchar(max)

AS
BEGIN


	update 
		FacturasPedidosEspeciales 
	set 
		idUsuarioCancelacion =@idUsuario , 
		idEstatusFactura = @idEstatusFactura,
		fechaCancelacion = dbo.FechaActual(),
		msjErrorCancelacion =@msjError
		--,pathArchivoFactura =''
	where idPedidoEspecial = @idPedidoEspecial

	select 200 Estatus ,'Factura cancelada exitosamente' Mensaje

END
