GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'SP_FACTURACION_PEDIDOS_ESPECIALES_INSERTA_FACTURA') AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_FACTURACION_PEDIDOS_ESPECIALES_INSERTA_FACTURA
END
GO


/****** Object:  StoredProcedure [dbo].[SP_FACTURACION_INSERTA_FACTURA]    Script Date: 13/12/2021 03:57:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].SP_FACTURACION_PEDIDOS_ESPECIALES_INSERTA_FACTURA
@idPedidoEspecial bigint,
@idUsuario bigint,
@fechaTimbrado datetime = null,
@UUID varchar(max) = null,
@idEstatusFactura int,
@msjError varchar(max),
@pathArchivo varchar(max)

AS
BEGIN
	

	if exists ( SELECT 1 FROM FacturasPedidosEspeciales WHERE idPedidoEspecial = @idPedidoEspecial )
	begin
			update FacturasPedidosEspeciales  set
			fechaTimbrado = @fechaTimbrado,
			UUID = @UUID,
			idEstatusFactura =@idEstatusFactura,
			msjErrorFacturacion  = @msjError,			
			idUsuarioFacturacion = @idUsuario,
			pathArchivoFactura = @pathArchivo,
			msjErrorCancelacion ='Refacturada al '+ convert(varchar, dbo.FechaActual(), 22)
			where idPedidoEspecial = @idPedidoEspecial
	end
	else
	begin

		INSERT INTO FacturasPedidosEspeciales
		(
			idPedidoEspecial,
			fechaTimbrado,
			fecha,
			UUID,
			idEstatusFactura,
			msjErrorFacturacion,
			idUsuarioFacturacion,
			pathArchivoFactura
		)
		VALUES
		(

				@idPedidoEspecial ,
				@fechaTimbrado ,
				dbo.FechaActual(),
				@UUID ,
				@idEstatusFactura,
				@msjError,
				@idUsuario,
				@pathArchivo
		)
	end
	select 
	case when @idEstatusFactura = 3 then -1 else 200 end Estatus ,
	case when @idEstatusFactura = 3 then 'Ocurrio un problema al intentar facturar la venta'  else 'Factura guardada exitosamente ' end Mensaje
		
END
