GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SP_FACTURACION_OBTENER_FACTURAS_PEDIDOS_ESPECIALES]') AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE SP_FACTURACION_OBTENER_FACTURAS_PEDIDOS_ESPECIALES
END
GO



GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_FACTURAS]    Script Date: 13/12/2021 06:59:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].SP_FACTURACION_OBTENER_FACTURAS_PEDIDOS_ESPECIALES
@idStatusFactura int=null,
@idUsuario int=null,
@fechaIni date=null,
@fechaFin date=null
as
begin

	begin try -- try principal
		
			begin -- inicio

				-- declaraciones
				declare @status int = 200,
						@error_message varchar(255) = '',
						@error_line varchar(255) = '',
						@error_severity varchar(255) = '',
						@error_procedure varchar(255) = '',
						@valido	bit = cast(1 as bit),
						@top bigint=0x7fffffffffffffff--valor màximo
						
			end -- inicio
			
		    
			begin
				

				if(	@fechaIni is null and
					@fechaFin is null and
					@idUsuario is null and
					@idStatusFactura is null) 
					begin
						select @top=50
					end


					select 
					top(@top) f.*,
					s.descripcion,
					s.idEstatusFactura estatusFactura,
					coalesce(c.nombres,'') + ' ' + coalesce(c.apellidoPaterno,'') + ' ' + coalesce(c.apellidoMaterno,'') nombreCliente,
					coalesce(u.nombre,'') + ' ' + coalesce(u.apellidoPaterno,'') + ' ' + coalesce(u.apellidoMaterno,'') nombreUsuarioFacturacion,
					coalesce(uc.nombre,'') + ' ' + coalesce(uc.apellidoPaterno,'') + ' ' + coalesce(uc.apellidoMaterno,'') nombreUsuarioCancelacion
					,case when f.idestatusfactura=2 then msjErrorCancelacion 
						  when f.idestatusfactura=3 then msjErrorFacturacion
						  else '' end mensajeError
					,v.codigoBarras
					,v.montoTotal
					--,'PE'+f.idPedidoEspecial folio
				    --,(pathArchivoFactura+'/'+cast(f.idVenta as varchar)+'.pdf') pathArchivoFactura
					INTO #FACTURAS
					from FacturasPedidosEspeciales f
					join FacCatEstatusFactura s on f.idEstatusFactura=s.idEstatusFactura
					join PedidosEspeciales v on f.idPedidoEspecial=v.idPedidoEspecial
					join Clientes c on v.idCliente=c.idCliente
					join Usuarios u on f.idUsuarioFacturacion=u.idUsuario
					left join Usuarios uc on f.idUsuarioCancelacion=uc.idUsuario
					where idUsuarioFacturacion=coalesce(@idUsuario,idUsuarioFacturacion)
					and f.idEstatusFactura=coalesce(@idStatusFactura,f.idEstatusFactura)
					and cast(fecha as date) >=coalesce(cast(@fechaIni as date),cast(fecha as date))
					and cast(fecha as date) <=coalesce(cast(@fechaFin as date),cast(fecha as date))
					order by fecha desc
					

				if not exists (select 1 from #FACTURAS)
				begin
					select	@valido = cast(0 as bit),
							@status = -1,
							@error_message = 'No se encontraron facturas con esos términos de búsqueda.'
				end
				

			end
		   

		end try -- try principal
		
		begin catch -- catch principal
		
			-- captura del error
			select	@status = -error_state(),
					@error_procedure = coalesce(error_procedure(), 'CONSULTA DINÁMICA'),
					@error_line = error_line(),
					@error_message = error_message(),
					@error_severity =
						case error_severity()
							when 11 then 'Error en validación'
							when 12 then 'Error en consulta'
							when 13 then 'Error en actualización'
							else 'Error general'
						end
		
		end catch -- catch principal
		
		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@error_severity error_severity,
					@error_message mensaje

			select * from #FACTURAS order by fecha desc
			
					
		end -- reporte de estatus
		


end