GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SP_FACTURACION_OBTENER_CANCELACION_FACTURA]') AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE [SP_FACTURACION_OBTENER_CANCELACION_FACTURA]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_CANCELACION_FACTURA]    Script Date: 13/12/2021 08:08:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_FACTURACION_OBTENER_CANCELACION_FACTURA]
@idPedidoEspecial int 
AS
BEGIN


	if not exists (select 1 from FacturasPedidosEspeciales where idPedidoEspecial =@idPedidoEspecial)
	begin
		select  -1 Estatus, 'No existe una venta factura para cancelar' Mensaje
		return 
	end
	select 200 Estatus , 'OK' Mensaje
	--El left join solo es para que traigo los datos de la empresa para facturar
	select * from 
	FacturasPedidosEspeciales F left join FactConfiguracionComprobante A
	on F.idPedidoEspecial = F.idPedidoEspecial
	where idPedidoEspecial = @idPedidoEspecial
	order by fechaCancelacion

END
