GO

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'SP_FACTURACION_OBTENER_DATOS_FACTURA_PEDIDO_ESPECIAL') AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE [SP_FACTURACION_OBTENER_DATOS_FACTURA_PEDIDO_ESPECIAL]
END
GO



/****** Object:  StoredProcedure [dbo].[SP_FACTURACION_OBTENER_DATOS_FACTURA]    Script Date: 13/12/2021 07:20:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[SP_FACTURACION_OBTENER_DATOS_FACTURA_PEDIDO_ESPECIAL]
@idPedidoEspecial bigint
AS
BEGIN
declare 
@estatus int,
@mensaje varchar (200)



	SELECT 200 Estatus, 'OK' Mensaje
	
	SELECT
	isnull(C.nombres,'')+' '+isnull(c.apellidoPaterno,'')+' '+isnull(c.apellidoMaterno,'') Nombre,
	UPPER(C.rfc) as Rfc,
	c.telefono,
	c.correo,
	'Calle '+isnull(C.calle,'')+' '+isnull(c.numeroExterior,'')+' Colonia '+isnull(c.colonia,'')+' C.P '+ISNULL(c.cp,'')+' '+isnull(c.municipio,'')+' '+isnull(c.estado,'') domicilio,
	tc.descripcion tipoCliente
	,UCFDI.usoCFDI as UsoCFDI,
	UCFDI.descripcion as descripcionUsoCFDI,
     PE.idFactFormaPago as FormaPago,
	FP.descripcion descripcionFormaPago,
	PE.montoTotal,
	isnull(F.pathArchivoFactura,'')pathArchivoFactura
	FROM PedidosEspeciales  PE 
	join Clientes C on PE.idCliente = C.idCliente
	join CatTipoCliente tc on c.idTipoCliente=tc.idTipoCliente
	join FactCatUsoCFDI UCFDI on UCFDI.id = 3
	join FactCatFormaPago FP on FP.id = PE.idFactFormaPago
	left join FacturasPedidosEspeciales F on F.idPedidoEspecial = PE.idPedidoEspecial
	where PE.idPedidoEspecial = @idPedidoEspecial

END
