-- se crea procedimiento SP_OBTENER_LIMITES_INVENTARIO
if exists (select * from sysobjects where name like 'SP_APP_APROBAR_PEDIDOS_INTERNOS_ESPECIALES' and xtype = 'p')
	drop proc SP_APP_APROBAR_PEDIDOS_INTERNOS_ESPECIALES
go

/*

Autor			Jessica Almonte Acosta
UsuarioRed		aoaj720209
Fecha			2020/08/28
Objetivo		Obtener los limites maximo y minimos que de inventario por producto y almacen
status			200 = ok
				-1	= error
*/

Create proc [dbo].SP_APP_APROBAR_PEDIDOS_INTERNOS_ESPECIALES
@productos  xml,
@idPedidoInterno int ,
@idUsuario int,
@idEstatusPedidoInterno int , 
@idAlmacenOrigen int,
@idAlmacenDestino int
AS
BEGIN
	BEGIN TRY
	
			
			declare
			@idEstatusPedidoActual int = 0
			select  @idEstatusPedidoActual = IdEstatusPedidoInterno from PedidosInternos where @idPedidoInterno =idPedidoInterno


			if exists (select  1  from PedidosInternos where IdEstatusPedidoInterno = @idEstatusPedidoInterno and @idPedidoInterno =idPedidoInterno)
			begin
				select -1 Estatus , 'El estatus del pedido actual es el mismo por favor verifica el estatus' mensaje
				return
			end

			IF OBJECT_ID('tempdb..#ProductosRecibidos') IS NOT NULL
			DROP TABLE #ProductosRecibidos
			create table #ProductosRecibidos
			(	
						indice int identity(1,1),	
						idPedidoInternoDetalle		int ,
						idUbicacion int ,
						idProducto			int ,				
						cantidadAtendida	int ,			
						observaciones		varchar(500),
						cantidadSolicitada int , 
			)

			INSERT INTO  #ProductosRecibidos 
						(
						
						 idPedidoInternoDetalle
						,idUbicacion
						,idProducto			
						,cantidadAtendida	
						,observaciones	
						,cantidadSolicitada		
						)
			SELECT  
					P.value('idPedidoInternoDetalle[1]', 'INT') AS idPedidoInternoDetalle,
					P.value('idUbicacion[1]', 'INT') AS cantidadSolicitada,
					P.value('idProducto[1]', 'INT') AS idProducto,
					P.value('cantidadAtendida[1]', 'INT') AS cantidadAtendida,
					P.value('observaciones[1]', 'INT') AS observaciones,
					P.value('cantidadSolicitada[1]', 'INT') AS cantidadSolicitada
			FROM  @productos.nodes('//ArrayOfProductosCompra/ProductosCompra') AS x(P)
			
			
			declare  	@tran_name varchar(32) = 'PRODUCTO_PEDIDO_ESPECIAL',
						@tran_count int = @@trancount,
						@tran_scope bit = 0

			if @tran_count = 0
				begin tran @tran_name
			else
				save tran @tran_name
				
			select @tran_scope = 1

			--BEGIN TRAN 
				--OBTENEMOS LA FECHA MAS QUE NADA LA HORA ACTUAL DE NUESTRA ZONA HORARIA

				BEGIN-- DECLARACIONES

					DECLARE
					@indice int = 1,
					@max int = 0,
					@cantidadAtendida int = 0,
					@idProducto int = 0,
					@cantidadActual int  =0,
					@cantidadTotal int = 0,
					@idTipoMovInventario int = 12,
					@fecha  datetime,
					@idUbicacion int,
					@observacion varchar(1000),
					@idPedidoInternoDetalle int
				END	

				SELECT @fecha  = [dbo].[FechaActual]()
				SELECT @max = max(indice) from #ProductosRecibidos
				
				WHILE(@indice <= @max)
				BEGIN
					SELECT 
							 @idProducto =idProducto 
							,@cantidadAtendida =cantidadAtendida 
							,@idUbicacion = idUbicacion
							,@observacion  = observaciones
							,@idPedidoInternoDetalle = idPedidoInternoDetalle
					   FROM 
							#ProductosRecibidos 
					   WHERE indice = @indice

					   --INSERTAMOS LA ACTUALIZACION EN LA TABLA DE MOVIMIENTOS DE MERCANCIA
					   INSERT INTO  MovimientosDeMercancia 
						(
						 idAlmacenOrigen
						,idAlmacenDestino
						,idProducto
						,cantidad
						,idPedidoInterno
						,idUsuario
						,fechaAlta
						,idEstatusPedidoInterno
						,observaciones
						,cantidadAtendida
						)
						SELECT 
						@idAlmacenOrigen,
						@idAlmacenDestino,
						PD.idProducto,
						PD.cantidad,
						@idPedidoInterno,
						@idUsuario,
						@fecha,
						@idEstatusPedidoInterno,
						coalesce(@observacion,''),
						coalesce(@cantidadAtendida,0)
						FROM PedidosInternos P join PedidosInternosDetalle PD
						on  P.idPedidoInterno = PD.idPedidoInterno 
						WHERE P.idPedidoInterno = @idPedidoInterno

					   --insertamos en el log el estado anterior 
					   INSERT INTO PedidosInternosLog
						(
						     idPedidoInterno
							,idAlmacenOrigen
							,idAlmacenDestino
							,idUsuario
							,IdEstatusPedidoInterno
							,fechaAlta
						)SELECT 
							idPedidoInterno
							,idAlmacenOrigen
							,idAlmacenDestino
							,@idUsuario
							,IdEstatusPedidoInterno
							,@fecha
						from PedidosInternos
						where idPedidoInterno = @idPedidoInterno

				--INSERTAMOS LA ACTUALIZACION DE LA CANTIDAD QUE SE ATENDIO YA QUE PUEDE SER QUE NO SE ENVIE LA QUE SE SOLICITO
					UPDATE PedidosInternosDetalle 
					SET cantidadAtendida = @cantidadAtendida
					WHERE 
					 idPedidoInterno =@idPedidoInterno
					 AND idPedidoInternoDetalle = @idPedidoInternoDetalle
		
					DECLARE 
					@_IdAlmacenDestino int,
					@cantidadPedidoInterno int ,
					@cantidadActualInventario  int,
					@idTipoMonInventario int = 7, -- Salida de mercancia por pedido interno
					@cantidadDespuesDeOperacion int = 0

					SELECT  @cantidadPedidoInterno= isnull(cantidad,0)  
					FROM PedidosInternosDetalle 
					WHERE idPedidoInterno =@idPedidoInterno AND  idPedidoInternoDetalle = @idPedidoInternoDetalle

					--SI LA CANTIDAD QUE ATENDIMOS ES DIFERENTE QUE LA QUE SE PIDIO SE SETEA A CANTIDAD YA QUE CON ESA VARIABLE
					--SE HACEN LAS OPERACIONES PARA INVENTARIO DETALLE Y DETALLE LOG,
					--SI ES IGUAL  PUES NO AFECTA CON CUAL VARIABLE REALIZAMOS EL CALCULO
					IF (@cantidadAtendida != isnull(@cantidadPedidoInterno,0))
						SET @cantidadPedidoInterno = @cantidadAtendida

					--VALIDAMOS QUE EL ID PRODUCTO EXISTA EN EL INVENTARIO
					IF NOT EXISTS (SELECT 1 FROM InventarioDetalle WHERE idUbicacion = @idUbicacion and idProducto = @idProducto)
					BEGIN
						 RAISERROR('No existe producto cargado en el inventario del alamacen', 15, 217)
					END

					SELECT @cantidadActualInventario = cantidad  
					FROM InventarioDetalle 
					WHERE idUbicacion = @idUbicacion and idProducto = @idProducto
					
					-- VALIDAMOS QUE EL RESULTADO QUE SE OBTIENE NO SEA NULL PARA PODER  HACER LA RESTA
					SET @cantidadActualInventario = isnull(@cantidadActualInventario, 0)
					
					IF (@cantidadActualInventario < @cantidadPedidoInterno)
					BEGIN
						 RAISERROR('No existe suficiente canditad en el inventario para actualizar el pedido', 15, 217)
					END

					SET @cantidadDespuesDeOperacion =  @cantidadActualInventario-@cantidadPedidoInterno
					--ACTUALIZAMOS LA CANTIDAD EN INVENTARIO DETALLE LOG
					INSERT INTO InventarioDetalleLog (  idUbicacion,
														idProducto,
														cantidad,
														cantidadActual,
														idTipoMovInventario,
														idUsuario,
														fechaAlta,
														idPedidoInterno
														)
											VALUES ( @idUbicacion,
											         @idProducto,
													 @cantidadPedidoInterno ,
													 @cantidadDespuesDeOperacion,
													 @idTipoMonInventario /* Salida pedido */,
													 @idUsuario,
													 dbo.FechaActual(),
													 @idPedidoInterno)

					--ACTUALIZAMOS LA CANTIDAD EN INVENTARIO DETALLE--
					UPDATE InventarioDetalle SET cantidad = @cantidadDespuesDeOperacion
					WHERE idUbicacion = @idUbicacion and idProducto = @idProducto

				END
				

				--INSERTAMOS LA ACUTALIACION DEL ESTATUS
				/*UPDATE PedidosInternos 
				SET IdEstatusPedidoInterno = @idEstatusPedidoInterno,
				observacion = case  when @observacion is null or  @observacion = '' then observacion
								    when @observacion is NOT null AND  @observacion  != '' then @observacion
							   end
				WHERE idPedidoInterno =@idPedidoInterno
				*/
				--VALIDAMOS SI LA TRANSACCION SE GENERO AQUI , AQUIMISMO SE HACE EL COMMIT	
		    if @tran_count = 0	
			begin -- si la transacción se inició dentro de este ámbito
						
				commit tran @tran_name
				select @tran_scope = 0
						
			end -- si la transacción se inició dentro de este ámbito

			select 200 Estatus , 'OK' Mensaje 
			DROP TABLE #ProductosRecibidos

	END TRY
	BEGIN CATCH
		SELECT -1 Estatus, error_message() Mensaje,error_line() Errorline

		if @tran_scope = 1
			rollback tran @tran_name

	END CATCH
	
END