-- se crea procedimiento SP_OBTENER_LIMITES_INVENTARIO
if exists (select * from sysobjects where name like 'SP_APP_OBTENER_PEDIDOS_INTERNOS_ESPECIALES_X_USUARIO' and xtype = 'p')
	drop proc SP_APP_OBTENER_PEDIDOS_INTERNOS_ESPECIALES_X_USUARIO
go

/*

Autor			Jessica Almonte Acosta
UsuarioRed		aoaj720209
Fecha			2020/08/28
Objetivo		Obtener los limites maximo y minimos que de inventario por producto y almacen
status			200 = ok
				-1	= error
*/

Create proc [dbo].SP_APP_OBTENER_PEDIDOS_INTERNOS_ESPECIALES_X_USUARIO
@idUsuario int = null,
@idPedidoInterno int=null,
@idEstatusPedidoInterno int = null
as

	begin -- procedimiento
		
		begin try -- try principal
		
			begin -- inicio

				-- declaraciones
				declare @status int = 200,
						@error_message varchar(255) = '',
						@error_line varchar(255) = '',
						@error_severity varchar(255) = '',
						@error_procedure varchar(255) = '',
						@valido	bit = cast(1 as bit)
						
			end -- inicio
		
		select 200 Estatus , 'Ok' Mensaje 
			
		SELECT * FROM cATeSTATUSpEDIDOiNTERNO

		SELECT P.idPedidoInterno, ISNULL(P.descripcion,'')descripcion,P.fechaAlta,
		EP.*,
		P.idAlmacenOrigen,AO.idAlmacen, AO.Descripcion,
		P.idAlmacenDestino,AD.idAlmacen,AD.Descripcion,
		isnull(UA.nombre,'') +' '+ isnull(UA.apellidoPaterno,'')+' '+isnull(UA.apellidoMaterno,'') usuarioAtendio
		FROM PedidosInternos P
		JOIN Almacenes AO ON AO.idAlmacen = P.idAlmacenOrigen
		JOIN Almacenes AD ON AD.idAlmacen = P.idAlmacenDestino
	    JOIN CatEstatusPedidoInterno EP ON EP.IdEstatusPedidoInterno = P.IdEstatusPedidoInterno
		LEFT JOIN 
		(SELECT DISTINCT(idPedidoInterno) , idEstatusPedidoInterno,idUsuario FROM MovimientosDeMercancia where idPedidoInterno = coalesce(@idPedidoInterno, idPedidoInterno)) MMA
		 on  MMA.idEstatusPedidoInterno = 2 AND MMA.idPedidoInterno = P.idPedidoInterno
		 LEFT JOIN Usuarios UA ON UA.idUsuario = MMA.idUsuario

		where
		idTipoPedidoInterno = 2
		AND p.idUsuario = coalesce(@idUsuario ,P.idUsuario )
		ANd p.idPedidoInterno = coalesce(@idPedidoInterno, P.idPedidoInterno )
		ANd p.IdEstatusPedidoInterno = coalesce(@idEstatusPedidoInterno,P.idEstatusPedidoInterno)

		

		end try -- try principal
		
		begin catch -- catch principal
		
			-- captura del error
			select	@status = -error_state(),
					@error_procedure = coalesce(error_procedure(), 'CONSULTA DINÁMICA'),
					@error_line = error_line(),
					@error_message = error_message(),
					@error_severity =
						case error_severity()
							when 11 then 'Error en validación'
							when 12 then 'Error en consulta'
							when 13 then 'Error en actualización'
							else 'Error general'
						end
		
		end catch -- catch principal
		
		
	end -- procedimiento
	
