--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_APP_OBTENER_UBICACION_PRODUCTO_INVENTARIO]    Script Date: 30/05/2021 06:40:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

ALTER PROCEDURE [dbo].[SP_APP_OBTENER_UBICACION_PRODUCTO_INVENTARIO]
@idAlmacen int = null,
@idProducto int ,
@EstatusProducto int   /* 1.- sin acomodar , 2.- Acomodado  , 3 Todo*/
,@idUsuario int  -- id del usuario de la hand held que esta logueado
AS
BEGIN
		if (OBJECT_ID('tempdb.dbo.#LineaProductoUsuario','U')) is not null
			drop table #LineaProductoUsuario
		CREATE TABLE #LineaProductoUsuario (contador int primary key identity ,
		idLineaProducto int , idAlamacen int ,  descripcion varchar(255))
		
		insert into #LineaProductoUsuario select * from obtnerLineasProductosXAlmacen(@idUsuario , null)

		-- select * from #LineaProductoUsuario
	    select 200 Estatus , 'OK' mensaje
		if @EstatusProducto = 1 
		begin 
			select U.*, ID.*,P.idProducto, P.codigoBarras,A.Descripcion descripcionAlmacen, U.idPiso idPisoRaq, P.descripcion as descripcionProducto,
			isnull(ID.fechaActualizacion , ID.fechaAlta) fechaAlta
			from [dbo].[InventarioDetalle] ID join [dbo].[Ubicacion] U 
			on ID.idUbicacion = U.idUbicacion and U.idAlmacen =coalesce(@idAlmacen , U.idAlmacen) join Almacenes A 
			on A.idAlmacen = coalesce(@idAlmacen , A.idAlmacen) and A.idAlmacen= U.idAlmacen  join Productos P 
			on P.idProducto = ID.idProducto
			where 
			ID.idProducto = (case when  @idProducto = 0 OR @idProducto is null then ID.idProducto else @idProducto end)
			and (U.idPasillo = 0 and U.idPiso = 0 and U.idRaq = 0)
			and ID.cantidad > 0
			order by ID.fechaAlta desc
		end

		if @EstatusProducto = 2
		begin 
			select *, A.Descripcion descripcionAlmacen, U.idPiso idPisoRaq ,
			isnull(ID.fechaActualizacion , ID.fechaAlta) fechaAlta
			from [dbo].[InventarioDetalle] ID join [dbo].[Ubicacion] U 
			on ID.idUbicacion = U.idUbicacion and U.idAlmacen =coalesce(@idAlmacen , U.idAlmacen) join Almacenes A 
			on A.idAlmacen = coalesce(@idAlmacen , A.idAlmacen) and A.idAlmacen= U.idAlmacen
			where
			ID.idProducto = (case when  @idProducto = 0 OR @idProducto is null then ID.idProducto else @idProducto end)
			and (U.idPasillo <> 0 and U.idPiso <> 0 and U.idRaq <> 0)
			and ID.cantidad > 0
			order by U.idPasillo , U.idRaq , U.idPiso asc
		end

		if  @EstatusProducto = 3
		begin 
			select *, A.Descripcion descripcionAlmacen, U.idPiso idPisoRaq,
			isnull(ID.fechaActualizacion , ID.fechaAlta) fechaAlta
			from [dbo].[InventarioDetalle] ID join [dbo].[Ubicacion] U 
			on ID.idUbicacion = U.idUbicacion and U.idAlmacen =coalesce(@idAlmacen , U.idAlmacen) join Almacenes A 
			on A.idAlmacen = coalesce(@idAlmacen , A.idAlmacen) and A.idAlmacen= U.idAlmacen join Productos P
			on ID.idProducto = P.idProducto join  #LineaProductoUsuario LP
			on P.idLineaProducto = LP.idLineaProducto
			where 
			ID.idProducto = (case when  @idProducto = 0 OR @idProducto is null then ID.idProducto else @idProducto end)
			and ID.cantidad > 0
			order by  U.idPasillo , U.idRaq , U.idPiso asc
		end
END
