--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_APP_OBTENER_NOTIFICACIONES_PEDIDOS_INTERNOS]    Script Date: 30/05/2021 07:31:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_APP_OBTENER_NOTIFICACIONES_PEDIDOS_INTERNOS]
@idTipoPedidoInterno  int = null
/*
1	Pedido Interno
2	Pedido Especial
*/
,@idEstatusPedidoInterno int = null
/*
1	Pedido Solicitado
2	Pedido Aprobado
3	Pedido Rechazado
4	Pedido Finalizado
5	Pedido Cancelado
6	Pedido Vendido
*/
,@idAlmacenOrigen int = null
,@idAlmacenDestino int = null
AS
BEGIN


	if (@idAlmacenOrigen is null and @idAlmacenDestino is null)
	begin 
		select -1 Estatus , 'No pueden ir null los 2 almacenes ' Mensaje
	end

	if (OBJECT_ID('tempdb.dbo.#LineaProductoUsuario','U')) is not null
		drop table #LineaProductoUsuario
	CREATE TABLE #LineaProductoUsuario (contador int primary key identity ,
	idLineaProducto int , idAlamacen int ,  descripcion varchar(255))
		
	insert into #LineaProductoUsuario select * from obtnerLineasProductosXAlmacen(null , coalesce(@idAlmacenOrigen ,@idAlmacenDestino ))
	--select * from #LineaProductoUsuario
	CREATE TABLE  #notificaciones(idPedidoInterno INT)

	INSERT INTO #notificaciones (idPedidoInterno)
	SELECT	P.idPedidoInterno
	FROM PedidosInternos  P join PedidosInternosDetalle PD on PD.idPedidoInterno = P.idPedidoInterno join Productos Prod 
	on Prod.idProducto = PD.idProducto join #LineaProductoUsuario L 
	on L.idLineaProducto = Prod.idLineaProducto
	WHERE
		P.IdEstatusPedidoInterno = coalesce(@idEstatusPedidoInterno, P.IdEstatusPedidoInterno)
		AND P.idTipoPedidoInterno = coalesce (@idTipoPedidoInterno , P.idTipoPedidoInterno)
		AND P.notificado = 0
		AND P.idAlmacenOrigen = coalesce (@idAlmacenOrigen ,  P.idAlmacenOrigen)
		AND P.idAlmacenDestino = coalesce (@idAlmacenDestino ,  P.idAlmacenDestino)
	order by P.fechaAlta asc

	--select * from #notificaciones
	IF (SELECT COUNT(*)  FROM #notificaciones ) <= 0 
	BEGIN
		SELECT -1 Estatus, 'No existen registros para notificar' Mensaje;
		RETURN
	END

	UPDATE PedidosInternos SET notificado = 1
	WHERE idPedidoInterno in (select idPedidoInterno from #notificaciones)

	SELECT 200 Estatus, 'Notifiaciones encontradas' Mensaje;
	IF @idTipoPedidoInterno = 1 
	BEGIN
		SELECT 
			P.IdEstatusPedidoInterno,
			EP.descripcion descripcionEstatus,
			P.idPedidoInterno,
			P.fechaAlta,

			isnull(U.nombre,' ')+' '+isnull(U.apellidoPaterno,'')+' '+isnull(u.apellidoMaterno,'') usuarioSolicito,
			isnull(UU.nombre,' ')+' '+isnull(UU.apellidoPaterno,'')+' '+isnull(UU.apellidoMaterno,'') usuarioAtendio,
			isnull(URechazado.nombre,' ')+' '+isnull(URechazado.apellidoPaterno,'')+' '+isnull(URechazado.apellidoMaterno,'') usuarioRechaza,
			isnull(UAutoriza.nombre,' ')+' '+isnull(UAutoriza.apellidoPaterno,'')+' '+isnull(UAutoriza.apellidoMaterno,'') usuarioAutoriza,
			isnull(URechazaSoclicita.nombre,' ')+' '+isnull(URechazaSoclicita.apellidoPaterno,'')+' '+isnull(URechazaSoclicita.apellidoMaterno,'') usuarioRechazaSoclicita,

			MM.fechaAlta as fechaAtendido,
			M2.fechaAlta as fechaRechazado,
			M3.fechaAlta as fechaAutoriza,
			M4.fechaAlta as fechaRechazaSolicita,
			isnull(PD.cantidadAtendida, 0) cantidadAtendida,
			PD.idProducto , PD.cantidad,Prod.descripcion, 
			P.idAlmacenOrigen,A.idAlmacen, A.Descripcion,
			P.idAlmacenDestino,AB.idAlmacen,AB.Descripcion
			--* 
			FROM PedidosInternos   P JOIN  #notificaciones N 
			on P.idPedidoInterno = N.idPedidoInterno JOIN  PedidosInternosDetalle PD
			on P.idPedidoInterno = PD.idPedidoInterno join Productos Prod
			on PD.idProducto = Prod.idProducto JOIN CatEstatusPedidoInterno EP
			ON EP.IdEstatusPedidoInterno =P.IdEstatusPedidoInterno join Almacenes A
			on P.idAlmacenOrigen = A.idAlmacen join Almacenes AB
			on P.idAlmacenDestino = AB.idAlmacen  LEFT JOIN Usuarios U 
			on U.idUsuario = P.idUsuario LEFT JOIN [dbo].[MovimientosDeMercancia] MM
			on MM.idPedidoInterno = P.idPedidoInterno and  MM.idEstatusPedidoInterno =2 LEFT JOIN Usuarios UU 
			on UU.idUsuario = MM.idUsuario  LEFT JOIN [dbo].[MovimientosDeMercancia] M2
			on M2.idPedidoInterno = P.idPedidoInterno and  M2.idEstatusPedidoInterno =3 LEFT JOIN Usuarios URechazado 
			on URechazado.idUsuario = M2.idUsuario  LEFT JOIN [dbo].[MovimientosDeMercancia] M3
			on M3.idPedidoInterno = P.idPedidoInterno and  M3.idEstatusPedidoInterno =4 LEFT JOIN Usuarios UAutoriza 
			on UAutoriza.idUsuario = M3.idUsuario LEFT JOIN [dbo].[MovimientosDeMercancia] M4
			on M4.idPedidoInterno = P.idPedidoInterno and  M4.idEstatusPedidoInterno =5 LEFT JOIN Usuarios URechazaSoclicita 
			on URechazaSoclicita.idUsuario = M4.idUsuario
			order by P.fechaAlta asc
	  END
	  ELSE
	  BEGIN
	  		SELECT 
			Distinct P.idPedidoInterno,
			P.IdEstatusPedidoInterno,
			EP.descripcion descripcionEstatus,
			P.idPedidoInterno,
			P.fechaAlta,

			isnull(U.nombre,' ')+' '+isnull(U.apellidoPaterno,'')+' '+isnull(u.apellidoMaterno,'') usuarioSolicito,
			isnull(UU.nombre,' ')+' '+isnull(UU.apellidoPaterno,'')+' '+isnull(UU.apellidoMaterno,'') usuarioAtendio,
			isnull(URechazado.nombre,' ')+' '+isnull(URechazado.apellidoPaterno,'')+' '+isnull(URechazado.apellidoMaterno,'') usuarioRechaza,
			isnull(UAutoriza.nombre,' ')+' '+isnull(UAutoriza.apellidoPaterno,'')+' '+isnull(UAutoriza.apellidoMaterno,'') usuarioAutoriza,
			isnull(URechazaSoclicita.nombre,' ')+' '+isnull(URechazaSoclicita.apellidoPaterno,'')+' '+isnull(URechazaSoclicita.apellidoMaterno,'') usuarioRechazaSoclicita,

			MM.fechaAlta as fechaAtendido,
			M2.fechaAlta as fechaRechazado,
			M3.fechaAlta as fechaAutoriza,
			M4.fechaAlta as fechaRechazaSolicita,
			
			P.descripcion descripcionPedidoEspecial,
			P.idAlmacenOrigen,A.idAlmacen, A.Descripcion,
			P.idAlmacenDestino,AB.idAlmacen,AB.Descripcion
			--* 
			FROM PedidosInternos   P JOIN  #notificaciones N 
			on P.idPedidoInterno = N.idPedidoInterno  JOIN CatEstatusPedidoInterno EP
			ON EP.IdEstatusPedidoInterno =P.IdEstatusPedidoInterno join Almacenes A
			on P.idAlmacenOrigen = A.idAlmacen join Almacenes AB
			on P.idAlmacenDestino = AB.idAlmacen  LEFT JOIN Usuarios U 
			on U.idUsuario = P.idUsuario LEFT JOIN [dbo].[MovimientosDeMercancia] MM
			on MM.idPedidoInterno = P.idPedidoInterno and  MM.idEstatusPedidoInterno =2 LEFT JOIN Usuarios UU 
			on UU.idUsuario = MM.idUsuario  LEFT JOIN [dbo].[MovimientosDeMercancia] M2
			on M2.idPedidoInterno = P.idPedidoInterno and  M2.idEstatusPedidoInterno =3 LEFT JOIN Usuarios URechazado 
			on URechazado.idUsuario = M2.idUsuario  LEFT JOIN [dbo].[MovimientosDeMercancia] M3
			on M3.idPedidoInterno = P.idPedidoInterno and  M3.idEstatusPedidoInterno =4 LEFT JOIN Usuarios UAutoriza 
			on UAutoriza.idUsuario = M3.idUsuario LEFT JOIN [dbo].[MovimientosDeMercancia] M4
			on M4.idPedidoInterno = P.idPedidoInterno and  M4.idEstatusPedidoInterno =5 LEFT JOIN Usuarios URechazaSoclicita 
			on URechazaSoclicita.idUsuario = M4.idUsuario
		
			order by P.fechaAlta asc


	  END
		drop table #notificaciones;

END
