--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_LINEAS_PRODUCTO]    Script Date: 04/06/2021 13:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta los diferentes lineas del producto del sistema
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_LINEAS_PRODUCTO]

	@idLineaProducto		int,
	@idUsuario				int=null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(0 as bit)

			end  --declaraciones 

			begin -- principal
				
				if not exists ( select 1 from LineaProducto )
					begin
						select @mensaje = 'No existen Lineas de Productos registradas.'
						raiserror (@mensaje, 11, -1)
					end
				else
					begin
						select @valido = cast(1 as bit)

						--consultamos las lineas de producto
						if (OBJECT_ID('tempdb.dbo.#LineaProductoUsuario','U')) is not null
								drop table #LineaProductoUsuario

						CREATE TABLE #LineaProductoUsuario (contador int primary key identity ,
						idLineaProducto int , idAlmacen int ,  descripcion varchar(255))

						if(@idUsuario>0)
						begin
							insert into #LineaProductoUsuario select * from obtnerLineasProductosXAlmacen(@idUsuario , null)
						end
						else
						begin
							insert into #LineaProductoUsuario(idLineaProducto,idAlmacen,descripcion) 
							select idLineaProducto,0 idAlmacen,descripcion from LineaProducto where activo=1					
						end
					end



			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			if ( @valido = cast(1 as bit) )
				begin
					
						
					select	distinct 
							@status status,
							@error_procedure error_procedure,
							@error_line error_line,
							@mensaje mensaje,
							ROW_NUMBER() OVER(ORDER BY l.idLineaProducto DESC) as contador,
							l.idLineaProducto,
							l.descripcion,
							l.activo
					from	LineaProducto l
					join	#LineaProductoUsuario lUsr on l.idLineaProducto=lUsr.idLineaProducto
					where	l.idLineaProducto =	case
													when @idLineaProducto > 0 then @idLineaProducto
													else l.idLineaProducto
												end
						and	l.activo = cast(1 as bit)
					order by l.descripcion
				end
			else
				begin

					select	-1 status,
							@error_procedure error_procedure,
							@error_line error_line,
							@mensaje as  mensaje
							
				end

				
		end -- reporte de estatus

	end  -- principal
