IF EXISTS ( SELECT  1
            FROM    Information_schema.Routines
            WHERE   Specific_schema = 'dbo'
                    AND specific_name = 'obtnerMontoVentasXEstacion'
                    AND Routine_Type = 'FUNCTION' ) 
	DROP FUNCTION obtnerMontoVentasXEstacion;
GO
/****** Object:  UserDefinedFunction [dbo].[obtnerLineasProductosXAlmacen]    Script Date: 16/08/2021 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[obtnerMontoVentasXEstacion] (
@fecha_ini date,
@fecha_fin date,
@idEstacion int=null
)
RETURNS  @VentasEstacion TABLE 
(
		
		idEstacion int not null ,
		nombre varchar(200),
		monto money null
)
AS
begin

		--select	(SUM(v.montototal) + coalesce(sum(c.montoAgregarProductos),0)) - coalesce(sum(b.monto + coalesce(b.montoDevueltoComisionBancaria,0)),0) montoCanceladas,v.idEstacion
		--INTO #VENTAS_CANCELADAS			
		--from	Ventas v
		--	left join  Devoluciones a 
		--		on v.idVenta=a.idVenta
		--	left join DevolucionesDetalle b 
		--		on a.idDevolucion=b.idDevolucion
		--	left join Complementos c 
		--		on v.idVenta=c.idVenta
		--where	v.idEstacion=coalesce(@id_estacion,v.idEstacion)
		--	and cast(fechaCancelacion as date) = cast(dbo.FechaActual() as date) 
		--	and idStatusVenta = 2
		--group by v.idEstacion

		insert into @VentasEstacion (idEstacion , nombre,monto )
		select e.idEstacion,e.nombre + ' ' + cast(e.numero as varchar) nombre,
		coalesce(montoVentas,0) + coalesce(montoComplementos,0)-coalesce(montoDev,0) monto
		from Estaciones e
		--ventas
		left join (
			select coalesce(sum((montoTotal)),0) montoVentas,idEstacion
			from Ventas 
			where idEstacion=coalesce(@idEstacion,idEstacion)
			and CAST(fechaAlta as date)>=cast(@fecha_ini as date) and CAST(fechaAlta as date)<=cast(@fecha_fin as date) and idStatusVenta=1
			group by idEstacion
		) v on e.idEstacion=v.idEstacion
		--complementos
		left join (		
		select coalesce(sum((montoAgregarProductos)),0)montoComplementos,idEstacion
		from Complementos c
		where idEstacion=coalesce(@idEstacion,idEstacion)
		and CAST(fechaAlta as date)>=cast(@fecha_ini as date) and CAST(fechaAlta as date)<=cast(@fecha_fin as date)
		group by idEstacion		
		) c on e.idEstacion=c.idEstacion
		--devoluciones
		left join (
		select sum(b.monto + coalesce(b.montoDevueltoComisionBancaria,0))  montoDev,idEstacion	
		from Devoluciones a
		join DevolucionesDetalle b 
			on a.idDevolucion=b.idDevolucion
		where idEstacion=coalesce(@idEstacion,idEstacion)
		and CAST(a.fechaAlta as date)>=cast(@fecha_ini as date) and CAST(a.fechaAlta as date)<=cast(@fecha_fin as date)
		group by idEstacion
		) d on e.idEstacion=d.idEstacion		
		where e.idEstacion=coalesce(@idEstacion,e.idEstacion)

		
return;
end
	
