@model lluviaBackEnd.Models.Factura
@{
    ViewBag.Title = "Facturas";

}
@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css" />
}



<h2>Facturas</h2>






<div class="section-body">
    <div class="row mt-sm-4">
        <div class="col-12 col-md-12 col-lg-4">
            @*<div class="card author-box">
                <div class="card-body">
                    <div class="author-box-center">
                        <img alt="image" src="assets/img/users/user-1.png" class="rounded-circle author-box-picture">
                        <div class="clearfix"></div>
                        <div class="author-box-name">
                            <a href="#">Sarah Smith</a>
                        </div>
                        <div class="author-box-job">Web Developer</div>
                    </div>
                    <div class="text-center">
                        <div class="author-box-description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias
                                minus quod dignissimos.
                            </p>
                        </div>
                        <div class="mb-2 mt-3">
                            <div class="text-small font-weight-bold">Follow Hasan On</div>
                        </div>
                        <a href="#" class="btn btn-social-icon mr-1 btn-facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="btn btn-social-icon mr-1 btn-twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-social-icon mr-1 btn-github">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="#" class="btn btn-social-icon mr-1 btn-instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <div class="w-100 d-sm-none"></div>
                    </div>
                </div>
            </div>*@
            

            <div class="card">
                <div class="card-header">
                    <h4>Consulta Facturas</h4>
                </div>
                <div class="card-body">
                   
                    <div class="form-group">
                        <label>Phone Number (US Format)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-file"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control phone-number">
                        </div>
                    </div>
                  

                    
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control datemask" placeholder="YYYY/MM/DD">
                    </div>

                    <div class="form-group">
                        <label>Date Picker</label>
                        <input type="text" class="form-control datepicker">
                    </div>

                    <button type="submit" id="btnBuscarFactura" class="btn btn-success">Buscar</button>

                </div>
            </div>

        </div>
        <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
                
                    
                        
                            @*<div id="table-1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">*@
                                @*<div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="table-1_length"><label>Show <select name="table-1_length" aria-controls="table-1" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="table-1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="table-1"></label></div></div></div><div class="row">*@
                                    <div class="col-sm-12">
                                        <table class="table table-striped dataTable no-footer" id="table-1" role="grid" aria-describedby="table-1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="text-center sorting_asc" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                              #
                            : activate to sort column descending" style="width: 23px;">
                                                        #
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Task Name: activate to sort column ascending" style="width: 147px;">Task Name</th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Progress" style="width: 78px;">Progress</th>
                                                    <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Due Date: activate to sort column ascending" style="width: 88px;">Due Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 107px;">Status</th>
                                                    <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 74px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">
                                                        3
                                                    </td>
                                                    <td>Backup database</td>
                                                    <td class="align-middle">
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar bg-warning width-per-70"></div>
                                                        </div>
                                                    </td>
                                                   
                                                    <td>2018-01-29</td>
                                                    <td>
                                                        <div class="badge badge-warning badge-shadow">In Progress</div>
                                                    </td>
                                                    <td><a href="#" class="btn btn-primary">Detail</a></td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class="sorting_1">
                                                        4
                                                    </td>
                                                    <td>Input data</td>
                                                    <td class="align-middle">
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar bg-success width-per-90"></div>
                                                        </div>
                                                    </td>
                                                 
                                                    <td>2018-01-16</td>
                                                    <td>
                                                        <div class="badge badge-success badge-shadow">Completed</div>
                                                    </td>
                                                    <td><a href="#" class="btn btn-primary">Detail</a></td>
                                                </tr>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">
                                                        5
                                                    </td>
                                                    <td>Create a mobile app</td>
                                                    <td class="align-middle">
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar bg-success width-per-40">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>2018-01-20</td>
                                                    <td>
                                                        <div class="badge badge-success badge-shadow">Completed</div>
                                                    </td>
                                                    <td><a href="#" class="btn btn-primary">Detail</a></td>
                                                </tr>
                                                

                                            </tbody>
                                        </table>
                                    </div>
                                @*</div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="table-1_info" role="status" aria-live="polite">Showing 1 to 10 of 12 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="table-1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="table-1_previous"><a href="#" aria-controls="table-1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="table-1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="table-1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="table-1_next"><a href="#" aria-controls="table-1" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>*@
                            @*</div>*@
                        


                
            </div>
        </div>
    </div>
</div>





@section scripts {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    @*<script src="~/js/EvtFacturas.js"></script>*@
}



