@model lluviaBackEnd.Models.Usuario
@{

    ViewBag.Title = "Usuarios";
    List<lluviaBackEnd.Models.Usuario> lstUsuario = ViewBag.lstUsuario;

}

@section Styles {
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
}


<h2>Usuarios</h2>

<div id="rowTblUsuario">
    @Html.Partial("_ObtenerUsuario", lstUsuario)
</div>



@section scripts {

    @*<script src="~/assets/bundles/jquery-ui/jquery-ui.min.js"></script>*@
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/js/EvtUsuarios.js"></script>
}

