--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_ACTUALIZA_CLIENTES]    Script Date: 14/10/2021 09:12:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		inserta y actualiza las diferentes lineas de producto del sistema
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_INSERTA_ACTUALIZA_CLIENTES]

	@idCliente				int,
	@nombres				varchar(250),
	@apellidoPaterno		varchar(50),
	@apellidoMaterno		varchar(50),
	@telefono				varchar(50),
	@correo					varchar(50) =null,
	@rfc					varchar(50) =null,
	@calle					varchar(50) =null,
	@numeroExterior			varchar(50) =null,
	@colonia				varchar(50) =null,
	@municipio				varchar(50) =null,
	@cp						varchar(50) =null,
	@estado					varchar(50) =null,
	@numeroInterior			varchar(50) =null,
	@localidad				varchar(255) =null,
	--@fechaAlta				varchar(50),
	--@activo					varchar(50),
	@idTipoCliente			int = 1,
	@esPersonaMoral			int,
	@nombreContacto			varchar(250),
	--------------PEDIDOS ESPECIALES--------------------
	@latitud			varchar(250),
	@longitud			varchar(250),
	@nombreContactoPE			varchar(250),
	@telefonoContactoPE			varchar(50),
	@correoContactoPE			varchar(50),
	@diasCredito			        int,
	@montoMaximoCredito			float,
	@usarDatosCliente			int

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = 'Cliente sin modificaciones',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@existeCliente			bit = cast(0 as bit)

			end  --declaraciones 

			begin -- principal
				
				if (@idCliente > 0 )
				begin
					declare
					@numeroAux  int ,
					@telefonoAux varchar(50),
					@correoAux varchar(50),
					@nombresAux varchar(50),
					@apellidoPaternoAux varchar(50),
					@apellidoMaternoAux varchar(50)
					
					--Select * from Clientes where idCliente = @idCliente
				end

				if (@idCliente  = 0)
				begin
					if exists ( select 1 from clientes where nombres like @nombres and apellidoPaterno like @apellidoPaterno and apellidoMaterno like @apellidoMaterno and activo = 1 )
					begin
							select   @status=-1, @existeCliente = cast(1 as bit) , @mensaje= 'Ya existe un cliente con este nombre, por favor actualize la información del cliente '
					end
					if coalesce(replace(@rfc,' ',''),'') <> ''
					begin
							if exists ( select 1 from clientes where  rfc = @rfc and activo = 1)
							begin
								select @status=-1, @existeCliente = cast(1 as bit) , @mensaje= 'Ya existe un cliente con este RFC, por favor actualize la información del cliente'
							end
					end

					/*if exists ( select 1 from clientes where correo = @correo )
					begin
						select @status=-1, @existeCliente = cast(1 as bit) , @mensaje= 'Ya existe un cliente con este correo, por favor actualize la información del cliente'
					end
					

					if exists ( select 1 from clientes where telefono =@telefono )
					begin
						select @status=-1, @existeCliente = cast(1 as bit) , @mensaje= 'Ya existe un cliente con este telefono, por favor actualize la información del cliente'
					end
					*/
					
				end
				-- si es modificacion
				if	( (@idCliente > 0) )
					begin
						
						if not exists (select 1 from Clientes where idCliente = @idCliente and activo =1) 
						begin
							select @mensaje = 'El Cliente no existe.'
							raiserror (@mensaje, 11, -1)
						end

						if  exists ( select 1 from Clientes where idCliente <> @idCliente and @rfc<>'[no tiene]' and rfc = @rfc and activo = 1) 
						begin
							select @mensaje = 'El rfc  a actualizar ya pertenece a otro cliente.'
							raiserror (@mensaje, 11, -1)
						end

													
						update	Clientes 
						set		nombres = @nombres,
								apellidoPaterno =  @apellidoPaterno,
								apellidoMaterno = @apellidoMaterno,
								telefono = @telefono,
								correo = @correo,
								rfc = @rfc,
								calle = @calle,
								numeroExterior = @numeroExterior,
								colonia = @colonia,
								municipio = @municipio,
								cp = @cp,
								estado = @estado,
								numeroInterior =@numeroInterior,
								localidad = @localidad,
								activo = 1,
								idTipoCliente = @idTipoCliente,
								nombreContacto = @nombreContacto,
								latitud			  =  @latitud	,		
								longitud			= @longitud	,		
								nombreCompletoContacto	=	@nombreContactoPE,			
								telefonoContacto	=	@telefonoContactoPE			,
								correoContacto	=	@correoContactoPE			,
								diasCredito			=   @diasCredito			    ,
								montoMaximoCredito	=	@montoMaximoCredito		,	
								usarDatosCliente	=	@usarDatosCliente	

						where	idCliente = @idCliente
						
						select	@mensaje = 'Cliente modificado correctamente.'
					end
				-- si es nuevo
				else
					begin
						if ( @existeCliente = cast(0 as bit) )
							begin

								--select @idCliente = coalesce( max(idLineaProducto) + 1, 1) from clientes
								insert into Clientes (nombres,apellidoPaterno,apellidoMaterno,telefono,correo,rfc,calle,numeroExterior,colonia,municipio,cp,estado,fechaAlta,activo,idTipoCliente ,numeroInterior, localidad , esPersonaMoral, nombreContacto
								,latitud
								,longitud
								,telefonoContacto
								,correoContacto
								,nombreCompletoContacto
								,montoMaximoCredito
								,usarDatosCliente
								,diasCredito
								) 
								values (@nombres,@apellidoPaterno,@apellidoMaterno,@telefono,@correo,@rfc,@calle,@numeroExterior,@colonia,@municipio,@cp,@estado,dbo.FechaActual(),1,@idTipoCliente , @numeroInterior, @localidad , @esPersonaMoral,@nombreContacto
								,@latitud
								,@longitud
								,@telefonoContactoPE
								,@correoContactoPE
								,@nombreContactoPE
								,@montoMaximoCredito
								,@usarDatosCliente
								,@diasCredito
								) 
								select @mensaje = 'Cliente agregado correctamente.'
							end
					end

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			select	@status Estatus,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje Mensaje
				
		end -- reporte de estatus

	end  -- principal
