USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_CLIENTES]    Script Date: 14/10/2021 10:49:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta los diferentes clientes del sistema
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_CLIENTES]

	@idCliente				int

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(0 as bit)

				create table
					#adeudos	
						(
							idCliente			int,
							adeudo				float,
							diasTranscurridos			int
						)

				insert into #adeudos(idCliente, adeudo, diasTranscurridos)
				select	idCliente, cast(0 as float) as adeudo, cast(0 as int) as diasTranscurridos
				from	Clientes c
				where	c.idCliente	 =	case
											when @idCliente > 0 then @idCliente
											else c.idCliente
										end
					and c.activo = 1

				update	#adeudos
				set		adeudo = coalesce(a.adeudo, 0)
				from	(
							select	sum(saldoActual)  as adeudo, idCliente
							from	PedidosEspecialesCuentasPorCobrar
							group by idCliente			
						)a
				where	#adeudos.idCliente = a.idCliente

				
				update	#adeudos
				set		diasTranscurridos = dbo.diasTranscurridosCredito(idCliente)
				



			end  --declaraciones 

			begin -- principal
				
				if not exists ( select 1 from clientes c where	c.idCliente	 =	case
												when @idCliente > 0 then @idCliente
												else c.idCliente
											end
							and c.activo = 1)
					begin
						select @mensaje = 'No existen clientes registrados.'
						raiserror (@mensaje, 11, -1)
					end
				else
					begin
						select @valido = cast(1 as bit)
					end

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			if ( @valido = cast(1 as bit) )
				begin
						
					select	distinct 
							@status status,
							@error_procedure error_procedure,
							@error_line error_line,
							@mensaje mensaje
					select 
							ROW_NUMBER() OVER(ORDER BY c.idCliente DESC) AS contador,
							c.idCliente,
							c.nombres,
							c.apellidoPaterno,
							case
								when ( (c.activo = cast(0 as bit)) or (c.activo is null) ) then c.apellidoMaterno + ' (BAJA)'
								else c.apellidoMaterno
							end as apellidoMaterno,
							c.telefono,
							c.correo,
							case
								when c.rfc is null then '[no tiene]'
								else c.rfc
							end as rfc,
							c.calle,
							c.numeroExterior,
							c.numeroInterior,
							c.localidad,
							c.colonia,
							c.municipio,
							c.cp,
							c.estado,
							c.fechaAlta,
							c.activo,
							c.nombreContacto,
							c.esPersonaMoral,
							'Calle '+isnull(C.calle,'')+' '+isnull(c.numeroExterior,'')+' Colonia '+isnull(c.colonia,'')+' C.P '+ISNULL(c.cp,'')+' '+isnull(c.municipio,'')+' '+isnull(c.estado,'') domicilio
							,a.adeudo
							,a.diasTranscurridos

							-------------PEDIDOS ESPECIALES-------------
							,latitud
							,longitud
							,telefonoContacto telefonoContactoPE
							,correoContacto correoContactoPE
							,nombreCompletoContacto nombreContactoPE
							,montoMaximoCredito
							,usarDatosCliente
							,diasCredito
							,cast(t.descuento as decimal(18,2)) as descuento
							,c.idTipoCliente
							,t.descripcion
							,UPPER(c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno) as nombreCompleto_
				   from	Clientes c
							inner join CatTipoCliente t
								on c.idTipoCliente = t.idTipoCliente
							left join #adeudos a
								on a.idCliente = c.idCliente								
					where	c.idCliente	 =	case
												when @idCliente > 0 then @idCliente
												else c.idCliente
											end
							and c.activo = 1
					order by fechaAlta desc
						--and	c.activo = cast(1 as bit)
				end
			else
				begin

					select	-1 status,
							@error_procedure error_procedure,
							@error_line error_line,
							@mensaje as  mensaje
							
				end

				
		end -- reporte de estatus

	end  -- principal
