--USE [DB_A57E86_lluviadesarrollo]
--GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_TICKET_PEDIDO_ESPECIALV2]    Script Date: 12/12/2021 10:32:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- se crea procedimiento SP_CONFIRMAR_PRODUCTOS_PEDIDOS_ESPECIALES_V2
if exists (select * from sysobjects where name like 'SP_CONSULTA_TICKET_PEDIDO_ESPECIALV2' and xtype = 'p' )
	drop proc SP_CONSULTA_TICKET_PEDIDO_ESPECIALV2
go


/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta los datos del ticket del pedido especial
status			200 = ok
				-1	= error
*/

create proc [dbo].[SP_CONSULTA_TICKET_PEDIDO_ESPECIALV2]

	@idPedidoEspecial		int

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit)
						
			end  --declaraciones 


			if not exists ( select 1 from PedidosEspeciales where idPedidoEspecial = @idPedidoEspecial)
			begin
				select	@mensaje = 'No existe el pedido seleccionado.',
						@status = -1,
						@valido = cast(0 as bit)
			end	

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

		--reporte de estatus
			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje
							

		-- si todo ok
			if ( @valido = cast(1 as bit) )
				begin
					
					select	ROW_NUMBER() OVER(ORDER BY p.idPedidoEspecial DESC) AS contador,	
							p.idPedidoEspecial, ped.idProducto, ped.cantidad, ped.monto as monto, ped.montoIVA,
							coalesce (((ped.precioIndividual - ped.precioVenta) * ped.cantidad ) , 0 )as ahorro , 
							pro.descripcion as descProducto, p.idCliente, 
							case
								when c.nombres is null then 'PÚBLICO EN GENERAL' 
								else c.nombres + ' ' + c.apellidoPaterno + ' ' + c.apellidoMaterno
							end as nombreCliente,
							u.idUsuario, u.nombre + ' ' + u.apellidoPaterno + ' ' + u.apellidoMaterno as nombreUsuario,
							ped.cantidadActualInvGeneral, ped.cantidadAnteriorInvGeneral, p.fechaAlta, ped.precioVenta, ped.idPedidoEspecialDetalle,
							p.idFactFormaPago as formaPago, formaPago.descripcion as descFormaPago, p.codigoBarras, p.montoPagado, ped.montoComisionBancaria
					from	PedidosEspeciales p 
								inner join PedidosEspecialesDetalle ped
									on p.idPedidoEspecial = ped.idPedidoEspecial
								left join Clientes c
									on c.idCliente = p.idCliente
								inner join Usuarios u
									on u.idUsuario = p.idUsuario
								inner join Productos pro
									on pro.idProducto = ped.idProducto
								inner join FactCatFormaPago formaPago
									on p.idFactFormaPago = formaPago.id

					where	p.idPedidoEspecial = @idPedidoEspecial
						and	ped.cantidad > 0

				end
				
		end -- reporte de estatus

	end  -- principal

go

grant exec on SP_CONSULTA_TICKET_PEDIDO_ESPECIALV2 to public
go

