--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_FORMA_PAGO]    Script Date: 30/12/2021 11:07:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta los diferentes claves de productos 
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_FORMA_PAGO]

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit)

			end  --declaraciones 

			begin -- principal
				
				if not exists ( select 1 from FactCatFormaPago )
					begin
						select	@mensaje = 'No existen claves de formas de pago registradas.',
								@valido = cast(0 as bit)
						raiserror (@mensaje, 11, -1)
					end
				
			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje as  mensaje


			if ( @valido = cast(1 as bit) )
				begin
						
					select	distinct 
							id,
							formaPago,
							descripcion
					from	FactCatFormaPago 
					where id in (1,2,3,4,18,100 )
					order by descripcion

				end
								
		end -- reporte de estatus

	end  -- principal
