IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_INGRESO_EFECTIVO_PEDIDOS_ESPECIALES')
DROP PROCEDURE SP_INGRESO_EFECTIVO_PEDIDOS_ESPECIALES
GO

/*

Autor			Jessica Almonte Acosta
UsuarioRed		aoaj720209
Fecha			2021/10/13
Objetivo		Registrar los ingresos de efectivo de pedidos especiales
status			200 = ok
				-1	= error
*/

CREATE proc [dbo].[SP_INGRESO_EFECTIVO_PEDIDOS_ESPECIALES]

	@idUsuario int,
	@monto money,
	@idTipoIngreso int

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',						
						@idIngresoEfectivo		int=0

				select @mensaje=case when @idTipoIngreso=1 then 'Caja Aperturada Correctamente.' else 'Ingreso de efectivo registrado correctamente' end
						

			end  --declaraciones 

			begin -- principal

				if (exists (select 1 from PedidosEspecialesIngresosEfectivo where idUsuario = @idUsuario and cast(fechaAlta as date)=cast(dbo.FechaActual() as date) and idTipoIngreso=1) and @idTipoIngreso=1) 
				begin
					select @mensaje = 'Ya existe una apertura de cajas del dia de hoy.'
					raiserror (@mensaje, 11, -1)
				end	

				if (not exists (select 1 from PedidosEspecialesIngresosEfectivo where idUsuario = @idUsuario and cast(fechaAlta as date)=cast(dbo.FechaActual() as date) and idTipoIngreso=1)  and @idTipoIngreso=2)
				begin
					select @mensaje = 'Por poder ingresar efectivo, se requiere que se realize la apertura de cajas.'
					raiserror (@mensaje, 11, -1)
				end

				INSERT INTO PedidosEspecialesIngresosEfectivo(monto,idUsuario,fechaAlta,idTipoIngreso)
				select @monto,@idUsuario,dbo.FechaActual(),@idTipoIngreso
				
				select @idIngresoEfectivo=max(idIngreso) from IngesosEfectivo where idUsuario=@idUsuario
						

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus
			
				begin
					select	@status Estatus,							
							@mensaje Mensaje,
							@idIngresoEfectivo id
				end

		end -- reporte de estatus

	end  -- principal
