--USE [DB_A57E86_lluviadesarrollo]
GO

IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_APP_OBTENER_DETALLE_COMPRA')
DROP PROCEDURE SP_APP_OBTENER_DETALLE_COMPRA
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create  PROCEDURE [dbo].SP_APP_OBTENER_DETALLE_COMPRA
@idUsuario int ,
@idCompra int  = null

AS
BEGIN
		select 200 Estatus , 'OK' Mensaje
		SELECT 
		 idCompraDetalle
		,idCompra
		--,cantidad
		,precio
		,cantidadRecibida
		,isnull(observaciones,'') observaciones
		,isnull(P.idProducto,0)idProducto , P.descripcion , cantidad ,[dbo].[LineaProductoFraccion](P.idLineaProducto, null) fraccion
		,isnull(PC.idEstatusProductoCompra,0)idEstatusProductoCompra,PC.descripcion
		,isnull(U.idUsuario,0)idUsuario
		,isnull(U.nombre,'')+' '+isnull(U.apellidoPaterno,'')+' '+isnull(U.apellidoMaterno,'') nombre
		
		FROM ComprasDetalle CD 
		LEFT JOIN Productos P on CD.idProducto = P.idProducto
		LEFT JOIN CatEstatusProductoCompra PC on Pc.idEstatusProductoCompra = CD.idEstatusProductoCompra
		LEFT JOIN Usuarios U on U.idUsuario = CD.idUsuarioRecibio
		where Cd.idCompra = coalesce(@idCompra , CD.idCompra)
		

		--select * from Compras
		-- Select * from CatEstatusProductoCompra
		-- select *  FROM [DB_A57E86_lluviadesarrollo].[dbo].[ComprasDetalle]


END
