--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_INFO_CIERRE]    Script Date: 10/06/2021 23:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		Consulta numero de ventas, efectivo disponible, y · retiros por estacion
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_INFO_CIERRE]

	@idEstacion			int,
	@idUsuario			int 

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@totalVentas			int = 0,					
						@montoVentasDelDia		money = 0,
						@montoVentasContado		money=0,
						@montoVentasTarjeta		money=0,
						@montoVentasCanceladas	money=0,
						@efectivoDisponible		money = 0,
						@montoCierre			money = 0,						
						@montoCerrado			money = 0,
						@montoApertura			money=0,
						@montoIngresosEfectivo	money=0,
						@hoy					datetime,
						@retirosExcesoEfectivo  money=0,
						@ProductosDevueltos		int=0,
						@MontoTotalDevoluciones money=0,
						@MontoTotalComplementosTarjeta	money=0,
						@MontoTotalComplementosContado	money=0
						

			end  --declaraciones 

			begin -- principal
				
			select @hoy = cast(dbo.FechaActual() as date)

			select	v.*,cast(0 as int) ProductosDevueltos
			into #ventas_dia
			from	Ventas v 
			where idUsuario = @idUsuario
				and cast(fechaAlta as date) = cast(dbo.FechaActual() as date)

			select @MontoTotalComplementosContado=sum(montoAgregarProductos) from Complementos where idUsuario=@idUsuario and cast(fechaAlta as date)= cast(dbo.FechaActual() as date) and idFactFormaPago=1
			select @MontoTotalComplementosTarjeta=sum(montoAgregarProductos) from Complementos where idUsuario=@idUsuario and cast(fechaAlta as date)= cast(dbo.FechaActual() as date) and idFactFormaPago in (4,18)
			
			---le restamos al monto total los complementos que se hicieron ya que puede que no los hizo el usuario de la venta
			select @montoVentasDelDia = coalesce(sum((montoTotal)),0)
			from	#ventas_dia 

			select @ProductosDevueltos=sum(b.cantidad),@MontoTotalDevoluciones=sum(b.monto + coalesce(b.montoDevueltoComisionBancaria,0)) 
			from Devoluciones a
			join DevolucionesDetalle b on a.idDevolucion=b.idDevolucion
			where a.idUsuario=@idUsuario and cast(a.fechaAlta as date)= cast(dbo.FechaActual() as date)

			--sumamos los complementos que hizo el usuario
			select @montoVentasDelDia = coalesce(@montoVentasDelDia,0)+coalesce(@MontoTotalComplementosContado,0) + coalesce(@MontoTotalComplementosTarjeta,0)

				
			select 
			@TotalVentas=count(1)
			from #ventas_dia

			select @montoVentasContado=SUM((montototal)) from #ventas_dia where idFactFormaPago=1
			select @montoVentasTarjeta=SUM((montototal)) from #ventas_dia where idFactFormaPago in (4,18)
			
			--sumamos los complementos del usuario
			select @montoVentasContado = coalesce(@montoVentasContado,0)+coalesce(@MontoTotalComplementosContado,0)
			select @montoVentasTarjeta = coalesce(@montoVentasTarjeta,0) + coalesce(@MontoTotalComplementosTarjeta,0)

			select @montoApertura=monto from IngesosEfectivo where idUsuario=@idUsuario and idTipoIngreso=1 and cast(fechaAlta as date) = cast(dbo.FechaActual() as date)
			select @montoIngresosEfectivo=sum(monto) from IngesosEfectivo where idUsuario=@idUsuario and idTipoIngreso=2 and cast(fechaAlta as date) = cast(dbo.FechaActual() as date)

			select @montoVentasCanceladas=SUM(montototal) from	Ventas 
					where idUsuarioCancelacion = @idUsuario
						and cast(fechaCancelacion as date) = cast(dbo.FechaActual() as date) and idStatusVenta=2

			select @retirosExcesoEfectivo=SUM(montoRetiro) from	RetirosExcesoEfectivo
							where	--idEstacion = @idEstacion
								--and 
								idUsuario = @idUsuario
								and cast(fechaAlta as date) = cast(dbo.FechaActual() as date)

			select @montoCierre=ROUND((coalesce(@montoVentasContado,0) + coalesce(@montoVentasTarjeta,0) + coalesce(@montoapertura,0) + coalesce(@montoIngresosEfectivo,0)) - coalesce(@montoVentasCanceladas,0) - coalesce(@MontoTotalDevoluciones,0),2,0)
			select @efectivoDisponible=ROUND(coalesce(@montoCierre,0) - coalesce(@retirosExcesoEfectivo,0) - coalesce(@montoVentasTarjeta,0),2,0)					


				drop table #ventas_dia
			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje as  mensaje

			select	coalesce(@totalVentas,0) as totalVentas,
					coalesce(@efectivoDisponible,0) as efectivoDisponible,					
					coalesce(@montoCierre,0) as montoCierre,					
					coalesce(@montoVentasDelDia,0) as montoVentasDelDia,
					coalesce(@montoApertura,0) as montoApertura,
					coalesce(@montoIngresosEfectivo,0) as montoIngresosEfectivo,
					coalesce(@retirosExcesoEfectivo,0) as retirosExcesoEfectivo,
					coalesce(@montoVentasContado,0) montoVentasContado,
					coalesce(@montoVentasTarjeta,0) montoVentasTarjeta,
					coalesce(@montoVentasCanceladas,0) montoVentasCanceladas,
					coalesce(@ProductosDevueltos,0) ProductosDevueltos,
				    coalesce(@MontoTotalDevoluciones,0) MontoTotalDevoluciones
								
		end -- reporte de estatus

	end  -- principal
