--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_ACTUALIZA_RANGOS_PRECIOS]    Script Date: 03/02/2022 07:16:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Ernesto Aguilar
UsuarioRed		auhl373453
Fecha			2020/02/17
Objetivo		inserta y actualiza los diferentes rangos de precios del sistema
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_INSERTA_ACTUALIZA_RANGOS_PRECIOS]

  @xml AS XML,
  @idProducto as int,
  @precioIndividual as money,
  @precioMenudeo as money,
  @ultimoCostoCompra money=null,
  @porcUtilidadIndividual float=null,
  @porcUtilidadMayoreo	float=null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = 'Rango de precios actualizado correctamente',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@numActual				int = 0, 
						@numNuevo				int = 0

						create table 
							#ProductosPorPrecio
								(
									idProducto		int,
									min				int,
									max				int,
									costo			money,
									activo			bit,
									idTipoPrecio	int,
									porcUtilidad	float								
								)

						create table
							#contadores
								(
									id			int identity(1,1),
									contador	int
								)

						create table
							#mins
								(
									id			int identity(1,1),
									min_		int
								)

						create table
							#maxs
								(
									id			int identity(1,1),
									max_		int
								)

						create table
							#precios
								(
									id			int identity(1,1),
									costo		money
								)
					   	create table
							#porcentajesUtilidad
								(
									id			int identity(1,1),
									porcUtilidad float
								)

						create table
							#verification
								(
									idProducto		int,
									min_actual		int,
									max_actual		int,
									costo_actual	money,
									min_nuevo		int,
									max_nuevo		int,
									costo_nuevo		money,
									diff_min		int,
									diff_max		int,
									diff_costo		money
								)

			end  --declaraciones 

			begin -- principal

				insert into #contadores (contador)
				SELECT Precio.contador.value('.','NVARCHAR(200)') AS contadores FROM @xml.nodes('//contador') as Precio(contador) 

				insert into #mins (min_)
				SELECT Precio.min.value('.','NVARCHAR(200)') AS mins FROM @xml.nodes('//min') as Precio(min)

				insert into #maxs (max_)
				SELECT Precio.max.value('.','NVARCHAR(200)') AS mins FROM @xml.nodes('//max') as Precio(max)

				insert into #precios (costo)
				SELECT Precio.costo.value('.','NVARCHAR(200)') AS costos FROM @xml.nodes('//costo') as Precio(costo)

				insert into #porcentajesUtilidad (porcUtilidad)
				SELECT Precio.porcUtilidad.value('.','NVARCHAR(200)') AS porcentajes FROM @xml.nodes('//porcUtilidad') as Precio(porcUtilidad)

				if exists ( select 1 from #mins where min_ between 1 and 6 ) 
				begin
					select @mensaje = 'Para asignar precios entre 1 y 6 debe hacerlo en el apartado de Precio Individual o Precio Menudeo.'
					raiserror (@mensaje, 11, -1)
				end
				
				insert into #ProductosPorPrecio (idProducto,min, max, costo, activo,porcUtilidad)
				select	@idProducto as idProducto, m.min_, x.max_, p.costo, cast(1 as bit) as activo,porcUtilidad
				from	#contadores c
							inner join #mins m
								on m.id = c.id
							inner join #maxs x
								on x.id = c.id			
							inner join #precios p
								on p.id = c.id
                            inner join #porcentajesUtilidad u
							   on u.id=c.id

				
				select @numActual = count(1) from ProductosPorPrecio where idProducto = @idProducto and activo = cast(1 as bit)
				select @numNuevo = count(1) from #ProductosPorPrecio where idProducto = @idProducto
				
				if ( @numActual > @numNuevo )
					begin
						insert into #verification (idProducto,min_actual,max_actual,costo_actual)
						select idProducto,min,max,costo from ProductosPorPrecio where idProducto = @idProducto and activo = cast(1 as bit)

						update	#verification
						set		min_nuevo = a.min,
								max_nuevo = a.max,
								costo_nuevo = a.costo
						from	(
									select distinct min,max,costo from #ProductosPorPrecio where idProducto = @idProducto and activo = cast(1 as bit)
								)A
						where	#verification.min_actual = a.min
					end
				else
					begin
						insert into #verification (idProducto,min_nuevo,max_nuevo,costo_nuevo)
						select idProducto,min,max,costo from #ProductosPorPrecio where idProducto = @idProducto and activo = cast(1 as bit)			
						
						update	#verification
						set		min_actual = a.min,
								max_actual = a.max,
								costo_actual = a.costo
						from	(
									select distinct min,max,costo from ProductosPorPrecio where idProducto = @idProducto and activo = cast(1 as bit)
								)A
						where	#verification.min_nuevo = a.min
					end

				update	#verification 
				set		diff_min = coalesce(min_actual,0) - coalesce(min_nuevo,0),
						diff_max = coalesce(max_actual,0) - coalesce(max_nuevo,0),
						diff_costo = coalesce(costo_actual,0) - coalesce(costo_nuevo,0)


				-- si hay diferencia en los rangos
				if	(
						(
							(select sum(diff_min) from #verification) +
							(select sum(diff_max) from #verification) +
							(select sum(diff_costo) from #verification) 
						) <> 0
					)
				begin
					
					update	ProductosPorPrecio 
					set		activo = cast(0 as bit)
					where	idProducto = @idProducto
					
					insert into ProductosPorPrecio (idProducto,min,max,costo, activo,porcUtilidad)
					select	idProducto,min,max,costo,activo,porcUtilidad from #ProductosPorPrecio

				end



				--INSERTAMOS EN LA TABLA DE HISTORICOS EL COSTO DE COMPRA SI ES DIFERENTE AL QUE TENEMOS ACTUALMENTE EN LA TABLA DE PRODUCTOS
				INSERT INTO ProductosCostoCompra 
				(idProducto
				,descripcion
				,idUnidadMedida
				,idLineaProducto
				,cantidadUnidadMedida
				,fechaAlta
				,claveProdServ
				,precioIndividual
				,precioMenudeo
				,costoCompra
				,porcUtilidadIndividual
				,porcUtilidadMayoreo
				,idUnidadCompra
				,cantidadUnidadCompra)

				SELECT 
					idProducto
					,descripcion
					,idUnidadMedida
					,idLineaProducto
					,cantidadUnidadMedida
					,[dbo].[FechaActual]()
					,claveProdServ
					,precioIndividual
					,precioMenudeo
					,@ultimoCostoCompra
					,porcUtilidadIndividual
					,porcUtilidadMayoreo
					,idUnidadCompra
					,cantidadUnidadCompra 
				FROM 					 
					 Productos P WHERE P.idProducto = @idProducto
					AND  @ultimoCostoCompra <> P.ultimoCostoCompra
				
				-- actualizamos el precio individual y de menudeo en tabla de productos
				update	Productos
				set		precioIndividual = @precioIndividual,
						precioMenudeo = @precioMenudeo,
						ultimoCostoCompra=@ultimoCostoCompra,
						porcUtilidadIndividual=@porcUtilidadIndividual,
						porcUtilidadMayoreo=@porcUtilidadMayoreo							 
				where	idProducto = @idProducto


				drop table #contadores
				drop table #mins
				drop table #maxs
				drop table #precios
				drop table #ProductosPorPrecio
				drop table #verification

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje

		end -- reporte de estatus

	end  -- principal
