USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_APP_OBTENER_PRODUCTO_AJUSTADO_POR_INVENTARIO_FISICO]    Script Date: 11/06/2021 01:20:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_APP_OBTENER_PRODUCTO_AJUSTADO_POR_INVENTARIO_FISICO]
@idAlmacen int = null,
@idProducto int,
@idInventarioFisico int 
AS
BEGIN

     if @idAlmacen is null or @idAlmacen = 0 
	 begin
		select -1 Estatus , 'El alamcen no puede estar vacio' mensaje
		return
	 end

	if (OBJECT_ID('tempdb.dbo.#LineaProductoUsuario','U')) is not null
			drop table #LineaProductoUsuario
	CREATE TABLE #LineaProductoUsuario (contador int primary key identity ,
	idLineaProducto int , idAlamacen int ,  descripcion varchar(255))
		
	insert into #LineaProductoUsuario select * from obtnerLineasProductosXAlmacen(null , @idAlmacen)

	select 200 Estatus , 'OK'Mensaje
	select *, A.Descripcion descripcionAlmacen, U.idPiso idPisoRaq , 
	COALESCE(AI.ajustado,0) ajustado
	,coalesce(AI.cantidadEnFisico,0)cantidadEnFisico
	,[dbo].[LineaProductoFraccion](P.idLineaProducto, null) fraccion
    from [dbo].[InventarioDetalle] ID 
	join [dbo].[Ubicacion] U on ID.idUbicacion = U.idUbicacion and U.idAlmacen =coalesce(@idAlmacen , U.idAlmacen) 
	join Almacenes A on A.idAlmacen = coalesce(@idAlmacen , A.idAlmacen) and A.idAlmacen= U.idAlmacen
	join Productos P  on P.idProducto = ID.idProducto
	join  #LineaProductoUsuario LP on LP.idLineaProducto = P.idLineaProducto
	LEFT JOIN AjusteInventarioFisico AI ON AI.idProducto = ID.idProducto AND AI.idUbicacion = ID.idUbicacion and AI.idInventarioFisico = @idInventarioFisico
	where 
	  ID.idProducto = (case when  @idProducto = 0 OR @idProducto is null then ID.idProducto else @idProducto end)
	  and ID.cantidad > 0
	  order by U.idPasillo , U.idRaq , U.idPiso asc


	 
END
