--USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_INVENTARIO]    Script Date: 18/06/2021 10:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Jessica Almonte
UsuarioRed		aoaj720209
Fecha			2020/06/05
Objetivo		Consulta el inventario
status			200 = ok
				-1	= error
*/

ALTER proc [dbo].[SP_CONSULTA_INVENTARIO]

	@idProducto				int = null,
	@descripcion			varchar(255) = null,	
	@idLineaProducto		int = null,	
	@articulo				varchar(255) = null,
	@idAlmacen				int=null,
	@fecha					datetime=null
	--@fechaIni				datetime = null,
	--@fechaFin				datetime = null	

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit),
						@difDias int
						
			end  --declaraciones 

			---preparacion
			begin

			select @fecha=coalesce(@fecha,dbo.FechaActual())

			if(cast(@fecha as date)>dbo.FechaActual())
				select @fecha=dbo.FechaActual()

			--select @fechaIni=coalesce(@fechaIni,dbo.FechaActual())
			--select @fechaFin=coalesce(@fechaFin,dbo.FechaActual())

			--if(@fechaFin>dbo.FechaActual())
				--select @fechaFin=dbo.FechaActual()

			--select @difDias=datediff(DAY,@fechaIni,@fechaFin);

			/*with dias as
			(
			select cast(1 as int) id, @fechaIni  fecha
			union all
			select cast((id) + 1 as int),dateadd(day, 1, fecha)
			from   dias
			where  id <= @difDias
			)							
			select id, fecha
			into #dias
			from   dias dia           
			order by id ASC*/

			CREATE TABLE  #INVENTARIO_GENERAL(
			contador INT,
			descripcion varchar(100),
			idLineaProducto int,
			DescripcionLinea varchar(50),
			articulo varchar(100),
			cantidad int,
			costo money,
			codigoBarras varchar(100),
			almacen varchar(200),
			fechaAlta date
			)


			end

			begin -- principal

			   --obtenemos la cantidad de acuerdo al dia
			    select ultMov.idProducto,ultMov.idAlmacen,SUM(cantidadActual) cantidad
				INTO #CANTIDAD_INVENTARIO
				from InventarioDetalleLog l
				join(
				select d.idProducto,u.idAlmacen,u.idUbicacion,MAX(idInventarioDetalleLOG) idInventarioDetalleLOG
				from 
				InventarioDetalleLog d
				join Ubicacion u on d.idUbicacion=u.idUbicacion
				where d.idProducto=coalesce(@idProducto,d.idProducto) and u.idAlmacen=coalesce(@idAlmacen,u.idAlmacen) and CAST(fechaAlta as date)<=CAST(@fecha as date)
				group by d.idProducto,u.idUbicacion,u.idAlmacen) ultMov on l.idInventarioDetalleLOG=ultMov.idInventarioDetalleLOG
				group by ultMov.idProducto,ultMov.idAlmacen

				--obtenemos el universo de productos				
				INSERT INTO #INVENTARIO_GENERAL(contador,descripcion,idLineaProducto,DescripcionLinea,articulo,codigoBarras,almacen,fechaAlta,costo,cantidad)
				select	p.idProducto contador,upper(p.descripcion) as descripcion,
						p.idLineaProducto,l.descripcion as DescripcionLinea,
						articulo,
						codigoBarras,a.Descripcion,@fecha fecha,
						coalesce(p.ultimoCostoCompra,0) ultimoCostoCompra
						,coalesce(cant.cantidad,0)
						
						--DBO.obtenerPrecioCompra(p.idProducto,d.fecha),						
						--dbo.obtenerInventarioAlmacen(p.idProducto,a.idAlmacen,cast(d.fecha as date))
				from	Productos p
				inner join LineaProducto l 
							on p.idLineaProducto = l.idLineaProducto
				--cross join #dias d
				cross join Almacenes a
				LEFT JOIN  #CANTIDAD_INVENTARIO cant on p.idProducto=cant.idProducto and a.idAlmacen=cant.idAlmacen
				where p.idProducto =coalesce(@idProducto,p.idProducto)
						and p.idLineaProducto=coalesce(@idLineaProducto,p.idLineaProducto)
						and p.descripcion like	case when @descripcion is null then p.descripcion
													else '%' + @descripcion + '%'
												end					

						and articulo like	case
												when @articulo is null then articulo
												else '%' + @articulo + '%' 
											end
						and a.idAlmacen=coalesce(@idAlmacen,a.idAlmacen)
				and	p.activo = 1
				order by p.idProducto desc	


				if not exists ( select 1 from #INVENTARIO_GENERAL )
					begin
						select	@valido = cast(0 as bit),
								@status = -1,
								@mensaje = 'No se encontro inventario con esos términos de búsqueda.'
					end



			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

		--reporte de estatus
			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje
							

		-- si todo ok
			if ( @valido = 1 )
				begin				
					select	* 
					from #INVENTARIO_GENERAL 					
					order by descripcion
				end
				
		end -- reporte de estatus

	end  -- principal
