USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_DASHBOARD_CONSULTA_TOTAL_VENTAS_POR_ESTACION]    Script Date: 18/06/2021 10:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Jessica Almonte Acosta
Fecha			2020/05/14
Objetivo		Consultar el total de ventas por estacion
*/

ALTER proc

	[dbo].[SP_DASHBOARD_CONSULTA_TOTAL_VENTAS_POR_ESTACION]

	@fechaIni date=null,
	@fechaFin date=null,
	@idEstacion int=null

as

	begin -- procedimiento
		
		begin try -- try principal

	
			begin -- inicio

				-- declaraciones
				declare @status int = 200,
						@error_message varchar(255) = '',
						@error_line varchar(255) = '',
						@error_severity varchar(255) = '',
						@error_procedure varchar(255) = '',
						@valido	bit = cast(1 as bit),
						@fecha date,
						@primerDiaSemana date,						
						@ultimoDiaSemana date,
						@anio int,
						@mes int					
			end -- inicio

			begin

			select @fecha=dbo.FechaActual()

			select @primerDiaSemana=DATEADD(wk,DATEDIFF(wk,0,@fecha),-1)

			select @ultimoDiaSemana= dateadd(day, 6,@primerDiaSemana);

			select @anio=YEAR(@fecha),@mes=MONTH(@fecha)

			create table #VENTAS_ANUAL(
			idEstacion int,
			montoTotal money,
			fechaAlta date
			)

			CREATE TABLE #VENTAS_ESTACIONES(
			idEstacion int,
			nombre varchar(500),
			montoTotalDia money,
			montoTotalSemana money,
			montoTotalMes money,
			montoTotalAnio money,
			nombreAlmacen varchar(500)
			)

			end
					    
			begin
			    
				--consultamos las ventas de una fecha en especifica por estacion
			    IF(@fechaIni is not null and @fechaFin is not null)
				begin

					INSERT INTO #VENTAS_ESTACIONES
					select e.idEstacion,nombre + ' ' + cast(e.numero as varchar) nombre,
					SUM(coalesce(v.montoTotal,0)) montoTotalDia,
					0 montoTotalSemana,
					0 montoTotalMes,
					0 montoTotalAnio,
					a.Descripcion nombreAlmacen				 
					FROM Estaciones e
					join Almacenes a on e.idAlmacen=a.idAlmacen
					left join VENTAS v on e.idEstacion=v.idEstacion and CAST(v.fechaAlta as date)>=cast(@fechaIni as date) and CAST(v.fechaAlta as date)<=cast(@fechaFin as date) and v.idStatusVenta=1
				    where idStatus=1  and e.idEstacion=coalesce(@idEstacion,e.idestacion)
					group by e.idEstacion,e.nombre,e.numero,a.Descripcion

				end
				else
				begin

			    INSERT INTO #VENTAS_ANUAL
				SELECT v.idEstacion,v.montoTotal,v.fechaAlta 
				FROM Ventas v 
				join Estaciones e on v.idestacion=e.idestacion
				where idStatusVenta=1 and YEAR(v.fechaAlta)=YEAR(@fecha)

				INSERT INTO #VENTAS_ESTACIONES
			    select e.idEstacion,nombre + ' ' + cast(e.numero as varchar) nombre,
				coalesce(vDia.montoTotal,0) montoTotalDia,
				coalesce(vSemana.montoTotal,0) montoTotalSemana,
				coalesce(vMes.montoTotal,0) montoTotalMes,
				coalesce(vAnio.montoTotal,0) montoTotalAnio,
				a.Descripcion nombreAlmacen				 
				FROM Estaciones e
				join Almacenes a on e.idAlmacen=a.idAlmacen
				left join (select idEstacion,SUM(montoTotal) montoTotal from #VENTAS_ANUAL where  CAST(fechaAlta as date)=cast(@fecha as date) group by idEstacion) vDia on e.idEstacion=vDia.idEstacion
				left join (select idEstacion,SUM(montoTotal) montoTotal from #VENTAS_ANUAL where   CAST(fechaAlta as date)>=cast(@primerDiaSemana as date) and CAST(fechaAlta as date)<=cast(@ultimoDiaSemana as date) group by idEstacion) vSemana on e.idEstacion=vSemana.idEstacion
				left join (select idEstacion,SUM(montoTotal) montoTotal from #VENTAS_ANUAL where  month(fechaAlta)=@mes and YEAR(fechaAlta)=@anio group by idEstacion) vMes on e.idEstacion=vMes.idEstacion
				left join (select idEstacion,SUM(montoTotal) montoTotal from #VENTAS_ANUAL where  year(fechaAlta)=@anio group by idEstacion) vAnio on e.idEstacion=vAnio.idEstacion
				where idStatus=1 and e.idEstacion=coalesce(@idEstacion,e.idestacion)
				

				end


				if not exists (select 1 from #VENTAS_ESTACIONES)
				begin
					select	@valido = cast(0 as bit),
							@status = -1,
							@error_message = 'No se encontraron estaciones con ventas.'
				end
				

			end
		   

		end try -- try principal
		
		begin catch -- catch principal
		
			-- captura del error
			select	@status = -error_state(),
					@error_procedure = coalesce(error_procedure(), 'CONSULTA DINÁMICA'),
					@error_line = error_line(),
					@error_message = error_message(),
					@error_severity =
						case error_severity()
							when 11 then 'Error en validación'
							when 12 then 'Error en consulta'
							when 13 then 'Error en actualización'
							else 'Error general'
						end
		
		end catch -- catch principal
		
		begin -- reporte de estatus

			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@error_severity error_severity,
					@error_message mensaje

			IF(@valido=1)
			begin

			select * from #VENTAS_ESTACIONES order by nombre

			drop table #VENTAS_ESTACIONES

			end
			
					
		end -- reporte de estatus
		
	end -- procedimiento
	
