USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_DETALLE_COMPRA]    Script Date: 12/06/2021 10:00:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER  PROCEDURE [dbo].[SP_OBTENER_DETALLE_COMPRA]
@idCompra int  = null
AS
BEGIN
		select 200 Estatus , 'OK' Mensaje
		SELECT 
		 idCompraDetalle
		,idCompra
		--,cantidad
		,precio
		,cantidadRecibida
		,isnull(observaciones,'') observaciones
		,isnull(P.idProducto,0)idProducto , P.descripcion , cantidad ,[dbo].[LineaProductoFraccion](P.idLineaProducto, null) fraccion
		,isnull(PC.idEstatusProductoCompra,0)idEstatusProductoCompra,PC.descripcion
		,isnull(U.idUsuario,0)idUsuario
		,isnull(U.nombre,'')+' '+isnull(U.apellidoPaterno,'')+' '+isnull(U.apellidoMaterno,'') nombre
		
		FROM ComprasDetalle CD 
		LEFT JOIN Productos P on CD.idProducto = P.idProducto
		LEFT JOIN CatEstatusProductoCompra PC on Pc.idEstatusProductoCompra = CD.idEstatusProductoCompra
		LEFT JOIN Usuarios U on U.idUsuario = CD.idUsuarioRecibio
		where Cd.idCompra = coalesce(@idCompra , CD.idCompra)
		
		-- Select * from CatEstatusProductoCompra
		-- select *  FROM [DB_A57E86_lluviadesarrollo].[dbo].[ComprasDetalle]


END
