USE [DB_A57E86_lluviadesarrollo]
GO
/****** Object:  StoredProcedure [dbo].[SP_INDICADOR_DIAS_PROMEDIO_INVENTARIO]    Script Date: 03/09/2021 0:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Jessica Almonte Acosta
UsuarioRed		aoaj720209
Fecha			2020/06/14
Objetivo		Calcular los dias promedio de inventario y rotacion de inventario
*/

ALTER proc [dbo].[SP_INDICADOR_DIAS_PROMEDIO_INVENTARIO]
@idTipoInventarioPromedio int, --1 global,2 por linea,3 por producto,4 productoVenta
@fechaIni datetime=null,
@fechaFin datetime=null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(1 as bit),
						 @difDias int

			end  --declaraciones 

			begin -- principal 

				select @fechaIni=coalesce(@fechaIni,dbo.FechaActual())
				select @fechaFin=coalesce(@fechaFin,dbo.FechaActual())

				if(@fechaFin>dbo.FechaActual())
					select @fechaFin=dbo.FechaActual()

				select @difDias=datediff(DAY,@fechaIni,@fechaFin);

				with dias as
				(
				select cast(1 as int) id, @fechaIni  fecha
				union all
				select cast((id) + 1 as int),dateadd(day, 1, fecha)
				from   dias
				where  id <= @difDias
				)							
				select id, fecha
				into #dias
				from   dias dia           
				order by id ASC

				--se obtienen los dias faltantes de calcular el inventario promedio
				select d.id,d.fecha 
				INTO #DIAS_FALTANTES_INVENTARIO_PROMEDIO
				from #dias d
				left join (
				select cast(fecha as date) fecha
				from [dbo].[InventarioPromedioProducto] 
				where cast(fecha as date)>=cast(@fechaIni as date) and cast(fecha as date)<=cast(@fechaFin as date)
				group by cast(fecha as date)) i on cast(d.fecha as date)=cast(i.fecha as date)
				where i.fecha is null
				order by fecha

				if exists(select 1 from #DIAS_FALTANTES_INVENTARIO_PROMEDIO)
				BEGIN
    
					create table #ESTATUS_INVENTARIO_PROMEDIO(
					status int,
					mensaje	varchar(255),
					error_line	varchar(255),
					error_procedure varchar(255)
					)

					--se calculan los dias faltantes
					declare @fecha date
					while exists(select 1 from #DIAS_FALTANTES_INVENTARIO_PROMEDIO)
					begin
	  
					  DELETE #ESTATUS_INVENTARIO_PROMEDIO	
 
					  select @fecha=min(fecha) from #DIAS_FALTANTES_INVENTARIO_PROMEDIO

					  INSERT INTO #ESTATUS_INVENTARIO_PROMEDIO
					  EXEC SP_TAREA_PROGRAMADA_INVENTARIO_PROM @fecha

					  if exists(select 1 from #ESTATUS_INVENTARIO_PROMEDIO where status=200)
					  begin
					  delete from #DIAS_FALTANTES_INVENTARIO_PROMEDIO where cast(fecha as date)=cast(@fecha as date)
					  end
					  else
					   break;
					end

					drop table #ESTATUS_INVENTARIO_PROMEDIO

				END

				--10676

				if exists(select 1 from #DIAS_FALTANTES_INVENTARIO_PROMEDIO)
				begin
				select	@valido = cast(0 as bit),
						@status = -1,
						@mensaje = 'No se encontraron ventas para calcular el margen bruto, con esos términos de búsqueda.'
				end
				else
				begin

				select 
				ip.idProducto,p.descripcion producto,
				lp.idLineaProducto,lp.descripcion lineaProducto,
				count(1) diasCalculados,
				SUM(costoCompra*Ventas) CostoVendido,--costo del producto por la cantidad de productos vendidos
				
				--ROUND(cast((sum(inventarioPromedio)/COUNT(1)) as float),2) inventarioPromedioPeriodo,--es el promedio del inventario promedio
				ROUND(cast((sum(inventarioFinal)/COUNT(1)) as float),2) inventarioPromedioPeriodo,
				--ROUND(sum(costoCompra),2) SumaCostoProducto,
				ROUND((ultimoCostoCompra),2) SumaCostoProducto,
				cast(0 as float) CostoInvPromedio,--suma del costo del producto * inventario promedio periodo
				cast(0 as float) DiasPromedio,---(costo del inventario promedio * dias)/costo de lo vendido
				cast(0 as float) rotacionInv, --dias del periodo / dias promedio de inventario
				coalesce(p.codigoBarras,'') codigoBarras --se agrega codigo de barras
				INTO #INVENTARIO_PROMEDIO
				from [dbo].[InventarioPromedioProducto]  ip
				join Productos p on ip.idProducto=p.idProducto
				join LineaProducto lp on p.idLineaProducto=lp.idLineaProducto
				where cast(fecha as date)>=cast(@fechaIni as date) and cast(fecha as date)<=cast(@fechaFin as date)
				group by ip.idProducto,p.idProducto,p.descripcion,lp.idLineaProducto,lp.descripcion,p.ultimoCostoCompra,p.codigoBarras

				--generamos el costo del inventario promedio=(suma del costo del producto * inventario promedio periodo)
				UPDATE #INVENTARIO_PROMEDIO set CostoInvPromedio=Round(SumaCostoProducto*inventarioPromedioPeriodo,2)

				--calculamos los dias promedio=(costo del inventario promedio * dias)/costo de lo vendido
				UPDATE #INVENTARIO_PROMEDIO set DiasPromedio=case when CostoVendido=0 then 0 else Round((CostoInvPromedio * diasCalculados)/CostoVendido,2) end

				--calculamos rotacion inventario=(dias del periodo / dias promedio de inventario)
				UPDATE #INVENTARIO_PROMEDIO set rotacionInv=case when DiasPromedio=0 then 0 else round(diasCalculados/DiasPromedio,2) end

				if not exists ( select 1 from #INVENTARIO_PROMEDIO )
				begin
					select	@valido = cast(0 as bit),
							@status = -1,
							@mensaje = 'No se encontro informacion para calcular los dìas promedio y rotaciòn de inventario , con esos términos de búsqueda.'
				end
				
				end
				

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus

		--reporte de estatus
			select	@status status,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje mensaje
							

		-- si todo ok
			if ( @valido = 1 )
				begin

				if(@idTipoInventarioPromedio=1) --global
				select 1 id,'Global' descripcion,
				Sum(SumaCostoProducto) CostoProducto,
				sum(inventarioPromedioPeriodo) InventarioPromedioPeriodo,
				SUM(CostoInvPromedio) CostoInvPromedio,
				(@difDias+1) diasPeriodo,
				SUM(CostoVendido) CostoVendido,
				sum(DiasPromedio) diasPromedioInventario,
				sum(rotacionInv) rotacionInventario
				from #INVENTARIO_PROMEDIO
				order by DiasPromedioInventario desc

				if(@idTipoInventarioPromedio=2)--por linea
				select idLineaProducto id,lineaProducto descripcion,
				Sum(SumaCostoProducto) CostoProducto,
				sum(inventarioPromedioPeriodo) InventarioPromedioPeriodo,
				SUM(CostoInvPromedio) CostoInvPromedio,
				(@difDias+1) diasPeriodo,
				SUM(CostoVendido) CostoVendido,
				sum(DiasPromedio) diasPromedioInventario,
				sum(rotacionInv) rotacionInventario
				from #INVENTARIO_PROMEDIO
				group by idLineaProducto,lineaProducto
				order by DiasPromedioInventario desc

				if(@idTipoInventarioPromedio=3)--por producto
				select idProducto id,producto descripcion,
				SumaCostoProducto CostoProducto,
				inventarioPromedioPeriodo InventarioPromedioPeriodo,
				CostoInvPromedio CostoInvPromedio,
				diasCalculados diasPeriodo,
				CostoVendido CostoVendido,
				DiasPromedio diasPromedioInventario,
				rotacionInv rotacionInventario,codigoBarras
				from #INVENTARIO_PROMEDIO
				order by DiasPromedioInventario desc

				drop table #dias
				drop table #DIAS_FALTANTES_INVENTARIO_PROMEDIO
				drop table #INVENTARIO_PROMEDIO

			    end
				
		end -- reporte de estatus

	end  -- principal
