GO
/****** Object:  StoredProcedure [dbo].[SP_CALCULA_INVENTARIO_PROMEDIO_PRODUCTO]    Script Date: 31/08/2021 0:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Autor			Jessica Almonte Acosta
UsuarioRed		aoaj720209
Fecha			2021/09/02
Objetivo		
status			200 = ok
				-1	= error
*/

create proc [dbo].[SP_TAREA_PROGRAMADA_INVENTARIO_PROM]
@fecha	date=null,
@idProducto	int=null

as

	begin -- principal
	
		begin try

			begin --declaraciones 

				declare @status					int = 200,
						@mensaje				varchar(255) = '',
						@error_line				varchar(255) = '',
						@error_procedure		varchar(255) = '',
						@valido					bit = cast(0 as bit)

			end  --declaraciones 

			begin -- principal

			    select @fecha=coalesce(@fecha,cast(dbo.fechaActual()-1 as date))
				
				IF EXISTS(select 1 from InventarioPromedioProducto where CAST(fecha as date)=cast(@fecha as date) and idProducto=coalesce(@idProducto,idProducto))
				   DELETE InventarioPromedioProducto where CAST(fecha as date)=cast(@fecha as date) and idProducto=coalesce(@idProducto,idProducto)

				select ultMov.idProducto,ultMov.idAlmacen,SUM(cantidadActual) cantidad
				INTO #INVENTARIO_FINAL
				from InventarioDetalleLog l
				join(
				select d.idProducto,u.idAlmacen,u.idUbicacion,MAX(idInventarioDetalleLOG) idInventarioDetalleLOG
				from 
				InventarioDetalleLog d
				join Ubicacion u on d.idUbicacion=u.idUbicacion
				where d.idProducto=coalesce(@idProducto,d.idProducto) and CAST(fechaAlta as date)<=CAST(@fecha as date)
				group by d.idProducto,u.idUbicacion,u.idAlmacen) ultMov on l.idInventarioDetalleLOG=ultMov.idInventarioDetalleLOG
				group by ultMov.idProducto,ultMov.idAlmacen	

				select ultMov.idProducto,ultMov.idAlmacen,SUM(cantidadActual) cantidad
				INTO #INVENTARIO_INICIAL
				from InventarioDetalleLog l
				join(
				select d.idProducto,u.idAlmacen,u.idUbicacion,MAX(idInventarioDetalleLOG) idInventarioDetalleLOG
				from 
				InventarioDetalleLog d
				join Ubicacion u on d.idUbicacion=u.idUbicacion
				where d.idProducto=coalesce(@idProducto,d.idProducto) and CAST(fechaAlta as date)<CAST(@fecha as date)
				group by d.idProducto,u.idUbicacion,u.idAlmacen) ultMov on l.idInventarioDetalleLOG=ultMov.idInventarioDetalleLOG
				group by ultMov.idProducto,ultMov.idAlmacen

				select vd.idProducto,coalesce(vd.ultimoCostoCompra,0) ultimoCostoCompra
				INTO #COSTO_COMPRA
				from VentasDetalle vd join (
				SELECT VD.idProducto,MAX(vd.idVentaDetalle) idVentaDetalle
				FROM 
				VentasDetalle VD 
				join Ventas V on VD.idVenta = V.idVenta
				WHERE  
				VD.idProducto=coalesce(@idProducto,VD.idProducto)
				and V.idStatusVenta  = 1
				and cast(VD.fechaVentaDetalle as date)=cast(@fecha as date)
				group by vd.idProducto
				) ultVenta on vd.idVentaDetalle=ultVenta.idVentaDetalle


				select	vd.idProducto,vd.idVenta
				INTO #VENTAS_CANCELADAS			
				from	Ventas v
					join VentasDetalle vd on v.idVenta=vd.idVenta 	
				where	vd.idProducto=coalesce(@idProducto,vd.idProducto)
					and cast(fechaCancelacion as date) = cast(@fecha  as date) 
					and idStatusVenta = 2
				group by vd.idProducto,vd.idVenta		
		
				select pd.idProducto,
				coalesce(montoVentas,0) + coalesce(montoComplementos,0)-coalesce(montoDev,0)-coalesce(montoCanceladas,0) monto
				INTO #VENTAS_DIA
				from Productos pd
				--ventas
				left join (
					select coalesce(sum((monto)),0) montoVentas,idProducto
					from  ventasDetalle a
					where idProducto=coalesce(@idProducto,idProducto)
					and CAST(fechaVentaDetalle as date)=cast(@fecha as date) and coalesce(idComplementoDetalle,0)=0
					--and idStatusVenta=1
					group by idProducto
				) v on pd.idProducto=v.idProducto
				--complementos
				left join (		
				select sum(monto + coalesce(montoComisionBancaria,0))montoComplementos,cd.idProducto
				from  complementosDetalle cd 
				where cd.idProducto=coalesce(@idProducto,cd.idProducto)
				and CAST(fechaComplementoDetalle as date)=cast(@fecha as date)
				group by cd.idProducto		
				) c on pd.idProducto=c.idProducto
				--devoluciones
				left join (
				select sum(b.monto + coalesce(b.montoDevueltoComisionBancaria,0))  montoDev,idProducto	
				from DevolucionesDetalle b	
				where idProducto=coalesce(@idProducto,idProducto)
				and CAST(fechaDevolucionDetalle as date)=cast(@fecha as date)
				group by idProducto
				) d on pd.idProducto=d.idProducto	

				--ventas canceladas
				left join(
				select	(coalesce(sum((vd.monto)),0) + coalesce(sum(coalesce(c.monto,0) + coalesce(c.montoComisionBancaria,0)),0)) - coalesce(sum(coalesce(dev.monto,0) + coalesce(dev.montoDevueltoComisionBancaria,0)),0) montoCanceladas,v.idProducto
				from	#VENTAS_CANCELADAS v
					left join VentasDetalle vd on v.idVenta=vd.idVenta and v.idProducto=vd.idProducto  and coalesce(vd.idComplementoDetalle,0)=0
					left join  DevolucionesDetalle dev
						on v.idVenta=dev.idVenta  
						and v.idProducto=dev.idProducto
					left join ComplementosDetalle c 
						on v.idVenta=c.idVenta and v.idProducto=c.idProducto	
				group by v.idProducto
				) e on pd.idProducto=e.idProducto
				where pd.idProducto=coalesce(@idProducto,pd.idProducto)


				INSERT INTO InventarioPromedioProducto(idProducto,fecha,inventarioInicial,Compras,Ventas,inventarioFinal,costoCompra)
				SELECT 
				pd.idProducto,
				@fecha fecha,
				coalesce(invIni.cantidadActual,0) inventarioInicial,
				coalesce(Compras,0) Compras,
				coalesce(ventas.monto,0) Ventas,
				coalesce(invFinal.cantidadActual,0) inventarioFinal,
				coalesce(costoCompra.ultimoCostoCompra,pd.ultimoCostoCompra) costoCompra
				---pd.ultimoCostoCompra costoCompra
				--DBO.obtenerPrecioCompra(pd.idProducto,@fecha)
				FROM Productos pd
				left join
				(select idProducto,sum(cantidad) cantidadActual from #INVENTARIO_INICIAL group by idProducto) invIni on pd.idProducto=invIni.idProducto
				left join
				#VENTAS_DIA ventas on pd.idProducto=ventas.idProducto
				left join
				(select idProducto,sum(cantidad) Compras from InventarioDetalleLog 
				where idProducto=coalesce(@idProducto,idProducto) and CAST(fechaAlta as date)=CAST(@fecha as date) and idTipoMovInventario in (2,4)
				group by idProducto) totalCompras on pd.idProducto=totalCompras.idProducto
				left join (select idProducto,sum(cantidad) cantidadActual from #INVENTARIO_FINAL group by idProducto) invFinal on pd.idProducto=invFinal.idProducto
				left join #COSTO_COMPRA costoCompra on pd.idProducto=costoCompra.idProducto
				where activo=1 and pd.idProducto=coalesce(@idProducto,pd.idProducto) 


				--Calculamos el inventario Maximo
				UPDATE i set inventarioMaximo=(coalesce(inventarioInicial,0)+coalesce(Compras,0)) 
				FROM InventarioPromedioProducto i

				--Calculamos el Inventario Promedio
				UPDATE i set inventarioPromedio=case when (coalesce(inventarioMaximo,0)+coalesce(inventarioFinal,0)) =0 then 0 else cast((coalesce(inventarioMaximo,0))+(coalesce(inventarioFinal,0)) as float)/2  end
				FROM InventarioPromedioProducto i


				drop table #INVENTARIO_FINAL,#INVENTARIO_INICIAL,#VENTAS_CANCELADAS,#VENTAS_DIA,#COSTO_COMPRA
					

			end -- principal

		end try

		begin catch 
		
			-- captura del error
			select	@status =			-error_state(),
					@error_procedure =	error_procedure(),
					@error_line =		error_line(),
					@mensaje =			error_message()
					
		end catch

		begin -- reporte de estatus


			select	@status Estatus,
					@error_procedure error_procedure,
					@error_line error_line,
					@mensaje Mensaje

				
		end -- reporte de estatus

	end  -- principal
